<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.biz.cnsltngrp.mapper.BizCnsltngrpPrcndMapper">
	
	<!-- [공통] 국제감축협의체관리 > 국제감축협의체 현황 - 협의체목록조회 총건수 조회 -->
	<select id="selectCnsltngrpPrcndListCnt" resultType="int" parameterType="map">
		/* BizCnsltngrpPrcndMapper.selectCnsltngrpPrcndListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [공통] 국제감축협의체관리 > 국제감축협의체 현황 - 협의체목록조회 -->
	<select id="selectCnsltngrpPrcndList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* BizCnsltngrpPrcndMapper.selectCnsltngrpPrcndList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [공통] 국제감축협의체관리 > 국제감축협의체 현황 - 협의체상세조회 -->
	<select id="selectCnsltngrpPrcndDetail" resultType="egovMap" parameterType="map">
		/* BizCnsltngrpPrcndMapper.selectCnsltngrpPrcndDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [공통] 국제감축협의체관리 > 국제감축협의체 현황 - 액셀다운로드 -->
	<select id="selectCnsltngrpPrcndExcel" resultType="egovMap" parameterType="map">
		/* BizCnsltngrpPrcndMapper.selectCnsltngrpPrcndExcel */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>	
	
</mapper>
