<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.admin.rlm.mapper.RlmMapper">
	
	<!-- 역할기본 목록조회 -->
	<select id="selectRoleList" resultType="egovMap" parameterType="map">
		/* RlmMapper.selectRoleList */
		SELECT R.ROLE_ID
			 , R.ROLE_NM
			 , R.ROLE_EXPLN
			 , R.USER_CL_CD
			 , R.USE_YN
			 , R.RGTR_ID
			 , TO_CHAR(R.REG_DT, 'yyyyMMddHHmmss') AS REG_DT
			 , R.MDFR_ID
			 , TO_CHAR(R.MDFCN_DT, 'yyyyMMddHHmmss') AS MDFCN_DT
		  FROM irs_user.ROLE_BSC R
		 WHERE R.DEL_YN = 'N'					<!-- 삭제데이터 제외 -->
		   AND R.SYS_CL_CD = #{sysClCd}
		<if test="userClCd != null and !userClCd.equals('')"><!-- 사용자구분코드 -->
		   AND R.USER_CL_CD = #{userClCd}
		</if>
		<if test="roleNm != null and !roleNm.equals('')"><!-- 역할명 -->
		   AND R.ROLE_NM LIKE CONCAT('%', #{roleNm}, '%')
		</if>
		 ORDER BY R.ROLE_ID
	</select>
	
	<!-- 역할기본 등록 -->
	<insert id="insertRole" parameterType="map">
		<selectKey keyProperty="userId" resultType="string" order="BEFORE">
			/* RlmMapper.insertRole.selectKey */
			<!-- 총길이 12, 3번째부터 cutting --> 
			SELECT CONCAT( 'ROL'
						 , LPAD( CAST(CAST(COALESCE(MAX(SUBSTRING(ROLE_ID, (3 + 1), 12)), '0') AS INTEGER) + 1 AS TEXT)
							   , 12 - 3
							   , '0'
						   )
				   )
			  FROM irs_user.ROLE_BSC
		</selectKey>
		/* RlmMapper.insertRole */
		INSERT
		  INTO irs_user.ROLE_BSC
		     ( ROLE_ID
		     , ROLE_NM
		     , ROLE_EXPLN
		     , USER_CL_CD
		     , SYS_CL_CD
		     , RGTR_ID
		     )
		VALUES
		     ( #{roleId}
		     , #{roleNm}
		     , #{roleExpln}
		     , #{userClCd}
		     , #{sysClCd}
		     , #{sessionUserId}
		     )
	</insert>
	
	<!-- 역할기본 수정 -->
	<update id="updateRole" parameterType="map">
		/* RlmMapper.updateRole */
		UPDATE irs_user.ROLE_BSC
		   SET ROLE_NM = #{roleNm}
		     , ROLE_EXPLN = #{roleExpln}
		     , USER_CL_CD = #{userClCd}
		     , SYS_CL_CD = #{sysClCd}
		     , MDFR_ID = #{sessionUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE ROLE_ID = #{roleId}
	</update>
	
	<!-- 역할기본 삭제 -->
	<update id="deleteRole" parameterType="map">
		/* RlmMapper.deleteRole */
		UPDATE irs_user.ROLE_BSC
		   SET DEL_YN = 'Y'
		     , MDFR_ID = #{sessionUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE ROLE_ID = #{roleId}
	</update>
	
</mapper>
