<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.biz.inforls.mapper.BizInfoRlsMapper">
	
	<!-- [사용자] 메인 > 정보공개 - 협정약정공개 목록 조회 총건수 조회 -->
	<select id="selectInfoRlsAgrStiplListCnt" resultType="int" parameterType="map">
		/* BizInfoRlsMapper.selectInfoRlsAgrStiplListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [사용자] 메인 > 정보공개 - 협정약정공개 목록 조회 -->
	<select id="selectInfoRlsAgrStiplList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* BizInfoRlsMapper.selectInfoRlsAgrStiplList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [사용자] 메인 > 정보공개 - 협정약정공개 상세 조회 -->
	<select id="selectInfoRlsAgrStiplDetail" resultType="egovMap" parameterType="map">
		/* BizInfoRlsMapper.selectInfoRlsAgrStiplDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 메인 > 정보공개 - 방법론공개 목록 조회 총건수 조회 -->
	<select id="selectInfoRlsMhdlgListCnt" resultType="int" parameterType="map">
		/* BizInfoRlsMapper.selectInfoRlsMhdlgListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [사용자] 메인 > 정보공개 - 방법론공개 목록 조회 -->
	<select id="selectInfoRlsMhdlgList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* BizInfoRlsMapper.selectInfoRlsMhdlgList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [사용자] 메인 > 정보공개 - 방법론공개 상세 조회 -->
	<select id="selectInfoRlsMhdlgDetail" resultType="egovMap" parameterType="map">
		/* BizInfoRlsMapper.selectInfoRlsMhdlgDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 메인 > 정보공개 - 국제감축사업공개 목록 조회 총건수 조회 -->
	<select id="selectInfoRlsBizListCnt" resultType="int" parameterType="map">
		/* BizInfoRlsMapper.selectInfoRlsBizListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [사용자] 메인 > 정보공개 - 국제감축사업공개 목록 조회 -->
	<select id="selectInfoRlsBizList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* BizInfoRlsMapper.selectInfoRlsBizList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [사용자] 메인 > 정보공개 - 국제감축사업공개 상세 조회 -->
	<select id="selectInfoRlsBizDetail" resultType="egovMap" parameterType="map">
		/* BizInfoRlsMapper.selectInfoRlsBizDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 메인 > 정보공개 - 국제감축실적공개 목록 조회 총건수 조회 -->
	<select id="selectInfoRlsPrfmncListCnt" resultType="int" parameterType="map">
		/* BizInfoRlsMapper.selectInfoRlsPrfmncListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [사용자] 메인 > 정보공개 - 국제감축실적공개 목록 조회 -->
	<select id="selectInfoRlsPrfmncList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* BizInfoRlsMapper.selectInfoRlsPrfmncList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [사용자] 메인 > 정보공개 - 국제감축실적공개 상세 조회 -->
	<select id="selectInfoRlsPrfmncDetail" resultType="egovMap" parameterType="map">
		/* BizInfoRlsMapper.selectInfoRlsPrfmncDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 메인 > 정보공개 - 전환실적공개 목록 조회 총건수 조회 -->
	<select id="selectInfoRlsPrfmncSwovListCnt" resultType="int" parameterType="map">
		/* BizInfoRlsMapper.selectInfoRlsPrfmncSwovListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [사용자] 메인 > 정보공개 - 전환실적공개 목록 조회 -->
	<select id="selectInfoRlsPrfmncSwovList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* BizInfoRlsMapper.selectInfoRlsPrfmncSwovList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [사용자] 메인 > 정보공개 - 전환실적공개 상세 조회 -->
	<select id="selectInfoRlsPrfmncSwovDetail" resultType="egovMap" parameterType="map">
		/* BizInfoRlsMapper.selectInfoRlsPrfmncSwovDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>


	
</mapper>
