<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.adm.acnt.mapper.AdmDspsAcntMapper">
	
	<!-- [관리자] 실적관리 > 계정관리 > 처분계정 - 목록조회 총건수 조회 -->
	<select id="selectDspsAcntListCnt" resultType="int" parameterType="map">
		/* AdmDspsAcntMapper.selectDspsAcntListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [관리자] 실적관리 > 계정관리 > 처분계정 - 목록조회 -->
	<select id="selectDspsAcntList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* AdmDspsAcntMapper.selectDspsAcntList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [관리자] 실적관리 > 계정관리 > 처분계정 - 상세조회 -->
	<select id="selectDspsAcntDetail" resultType="egovMap" parameterType="map">
		/* AdmDspsAcntMapper.selectDspsAcntDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>


	
</mapper>
