<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.adm.acnt.mapper.AdmPblcnAcntMapper">
	
	<!-- [관리자] 실적관리 > 계정관리 > 발행계정 - 목록조회 총건수 조회 -->
	<select id="selectPblcnAcntListCnt" resultType="int" parameterType="map">
		/* AdmPblcnAcntMapper.selectPblcnAcntListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [관리자] 실적관리 > 계정관리 > 발행계정 - 목록조회 -->
	<select id="selectPblcnAcntList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* AdmPblcnAcntMapper.selectPblcnAcntList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [관리자] 실적관리 > 계정관리 > 발행계정 - 상세조회 -->
	<select id="selectPblcnAcntDetail" resultType="egovMap" parameterType="map">
		/* AdmPblcnAcntMapper.selectPblcnAcntDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>


	
</mapper>
