<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.admin.pim.mapper.PimMapper">
	
	<!-- 개인정보취급이력 목록 총건수 조회 -->
	<select id="selectPrivacyInquiryHistoryListCnt" resultType="int" parameterType="map">
		/* PimMapper.selectPrivacyInquiryHistoryListCnt */
		SELECT COUNT(*)
		  FROM irsuser.PRVC_HNDL_HSTRY P
		 INNER JOIN irsuser.USER_BSC U
		    ON U.USER_ID = P.USER_ID
		   AND P.SYS_CL_CD = #{sysClCd}
		 WHERE 1 = 1
		<if test="lgnId != null and !lgnId.equals('')"><!-- 로그인ID -->
		   AND U.LGN_ID LIKE CONCAT(#{lgnId}, '%')
		</if>
		<if test="userNm != null and !userNm.equals('')"><!-- 사용자명 -->
		   AND U.USER_NM LIKE CONCAT('%', #{userNm}, '%')
		</if>
		<if test="startPrvcInqAcsYmd != null and !startPrvcInqAcsYmd.equals('')"><!-- 개인정보조회접근일자 - 시작 -->
		   AND P.PRVC_INQ_ACS_YMD <![CDATA[>=]]> #{startPrvcInqAcsYmd}
		</if>
		<if test="endPrvcInqAcsYmd != null and !endPrvcInqAcsYmd.equals('')"><!-- 개인정보조회접근일자 - 종료 -->
		   AND P.PRVC_INQ_ACS_YMD <![CDATA[<=]]> #{endPrvcInqAcsYmd}
		</if>
		<if test="userClCd != null and !userClCd.equals('')"><!-- 사용자구분코드 -->
		   AND P.USER_CL_CD = #{userClCd}
		</if>
		<if test="inqClCd != null and !inqClCd.equals('')"><!-- 조회구분코드 -->
		   AND P.INQ_CL_CD = #{inqClCd}
		</if>
	</select>
	
	<!-- 개인정보취급이력 목록조회 -->
	<select id="selectPrivacyInquiryHistoryList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* PimMapper.selectPrivacyInquiryHistoryList */
		SELECT P.PRVC_INQ_SN													/* 개인정보조회일련번호 */
			 , P.USER_ID														/* 사용자ID */
			 , P.USER_CL_CD													/* 사용자구분코드 */
			 , U.LGN_ID															/* 로그인ID */
			 , U.USER_NM														/* 사용자명 */
			 , P.PRVC_INQ_ACS_YMD												/* 개인정보조회접근일자 */
			 , TO_CHAR(P.PRVC_INQ_ACS_DT, 'yyyyMMddHHmmss') AS PRVC_INQ_ACS_DT	/* 개인정보조회접근일시 */
			 , P.IP_ADDR													/* 접속IP주소 */
			 , P.MENU_MGNO														/* 메뉴ID */
			 , M.MENU_NM														/* 메뉴명 */
			 , P.INQ_CL_CD														/* 조회구분코드 */
			 , P.INQ_EXPLN														/* 조회설명 */
			 , P.TRPR_USER_ID													/* 대상자사용자ID */
			 , TU.USER_NM AS TRPR_USER_NM										/* 대상자사용자명 */
			 , P.TRPR_USER_CL_CD												/* 대상자사용자구분코드 */
		  FROM irsuser.PRVC_HNDL_HSTRY P
		 INNER JOIN irsuser.USER_BSC U
		    ON U.USER_ID = P.USER_ID
		   AND P.SYS_CL_CD = #{sysClCd}
		 LEFT OUTER JOIN irsuser.MENU_BSC M
		    ON M.MENU_MGNO = P.MENU_MGNO
		 LEFT OUTER JOIN irsuser.USER_BSC TU
		    ON TU.USER_ID = P.TRPR_USER_ID
		 WHERE 1 = 1
		<if test="lgnId != null and !lgnId.equals('')"><!-- 로그인ID -->
		   AND U.LGN_ID LIKE CONCAT(#{lgnId}, '%')
		</if>
		<if test="userNm != null and !userNm.equals('')"><!-- 사용자명 -->
		   AND U.USER_NM LIKE CONCAT('%', #{userNm}, '%')
		</if>
		<if test="startPrvcInqAcsYmd != null and !startPrvcInqAcsYmd.equals('')"><!-- 개인정보조회접근일자 - 시작 -->
		   AND P.PRVC_INQ_ACS_YMD <![CDATA[>=]]> #{startPrvcInqAcsYmd}
		</if>
		<if test="endPrvcInqAcsYmd != null and !endPrvcInqAcsYmd.equals('')"><!-- 개인정보조회접근일자 - 종료 -->
		   AND P.PRVC_INQ_ACS_YMD <![CDATA[<=]]> #{endPrvcInqAcsYmd}
		</if>
		<if test="userClCd != null and !userClCd.equals('')"><!-- 사용자구분코드 -->
		   AND P.USER_CL_CD = #{userClCd}
		</if>
		<if test="inqClCd != null and !inqClCd.equals('')"><!-- 조회구분코드 -->
		   AND P.INQ_CL_CD = #{inqClCd}
		</if>
		 ORDER BY P.PRVC_INQ_SN DESC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>
	
</mapper>
