<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.common.biz.mapper.CommonBizMapper">


	<select id="selectBizInstInfo" resultType="egovMap" parameterType="map">
		SELECT 	
			 B.BZENT_NM AS BF_INST_CD
		    ,'' AS AF_INST_CD
		FROM IRB_DTL A
		INNER JOIN INST_BSC B
		ON A.CMPTNC_INST_MGNO = B.INST_MGNO 
		WHERE 1=1
		AND A.BIZ_MGNO = #{mngNo}
		AND A.BIZ_DGR = CAST(#{dgr} AS NUMERIC)
	</select>
	
	<select id="selectMhdInstInfo" resultType="egovMap" parameterType="map">
		SELECT 	
			 B.BZENT_NM AS BF_INST_CD
			,'' AS AF_INST_CD
		FROM MHDLG_DTL A
		INNER JOIN INST_BSC B
		ON A.CMPTNC_INST_NO = B.INST_MGNO 
		WHERE 1=1
		AND A.MHDLG_MGNO = #{mngNo}
		AND A.MHDLG_DGR = CAST(#{dgr} AS NUMERIC)
	</select>
	
	<select id="selectUsrDetail" resultType="egovMap" parameterType="map">
		SELECT 	
			 B.BZENT_NM
			,B.BRNO
			,A.FLNM
			,A.DEPT_NM
			,A.JBPS_NM
			,A.TEL_DDD || ' - ' || A.TEL_TLPNO || ' - ' || A.TEL_PHINO AS TEL
			,A.EML_ID || '@' || A.EML_ADDR AS EML
			,B.INST_MGNO
			,A.USER_CL_CD
			,B.INST_CLSF_CD
			,A.UP_INST_MGNO AS USR_UP_INST_MGNO
			,B.UP_INST_MGNO 
		FROM USER_BSC A
		INNER JOIN INST_BSC B
		ON A.INST_MGNO = B.INST_MGNO
		WHERE 1=1
	<choose>
		<when test="sUserId != null and !sUserId.equals('')">
		AND A.USER_ID = #{sUserId}
		</when>
		<otherwise>
		AND A.USER_ID = #{auth.sUserId}
		</otherwise>
	</choose>		
		AND A.DEL_YN = 'N'
		AND B.DEL_YN = 'N'
	</select>
	
	<update id="updateBizInst" parameterType="map">
		UPDATE IRB_DTL SET
			 CMPTNC_INST_MGNO = #{afInstCd}
			,MDFR_ID = #{auth.sUserId} 
			,MDFCN_DT = CURRENT_TIMESTAMP 	
		WHERE 1=1
		AND BIZ_MGNO = #{mngNo}
		AND BIZ_DGR <![CDATA[>=]]> CAST(#{dgr} AS NUMERIC)
	</update>
	
	<update id="updateBizScsnInst" parameterType="map">
		UPDATE IRB_DTL SET
			 SCSN_INST_MGNO = #{afInstCd}
			,MDFR_ID = #{auth.sUserId} 
			,MDFCN_DT = CURRENT_TIMESTAMP 	
		WHERE 1=1
		AND BIZ_MGNO = #{mngNo}
		AND BIZ_DGR <![CDATA[>=]]> CAST(#{dgr} AS NUMERIC)
	</update>
	
	<update id="updateMhdInst" parameterType="map">
		UPDATE MHDLG_DTL SET
			 CMPTNC_INST_NO = #{afInstCd}
			,MDFR_ID = #{auth.sUserId} 
			,MDFCN_DT = CURRENT_TIMESTAMP 	
		WHERE 1=1
		AND MHDLG_MGNO = #{mngNo}
		AND MHDLG_DGR = CAST(#{dgr} AS NUMERIC)
	</update>

	<select id="selectInstMgno" resultType="egovMap" parameterType="map">
		SELECT 	
			 BZENT_NM
			,BRNO
			,INST_MGNO
			,INST_CLSF_CD
			,UP_INST_MGNO 
		FROM INST_BSC
		WHERE 1=1
		AND INST_MGNO = #{afInstCd}
		AND DEL_YN = 'N'
	</select>
	
	<insert id="insertIrbHstry" parameterType="map">
		INSERT INTO IRB_HSTRY (
			 BIZ_MGNO
			,BIZ_DGR
			,HSTRY_TYPE_CD
			,HSTRY_RSLT_CD
			,HSTRY_YMD
			,HSTRY_DTL_RSN
			,DEL_YN
			,RGTR_ID
			,REG_DT			
		) VALUES (
			 #{bizMngNo}
			,CAST(#{bizDgr} AS NUMERIC)
			,#{hstryTypeCd}
			,#{hstryRsltCd}
			,TO_CHAR(CURRENT_TIMESTAMP, 'YYYYMMDD')
			,#{hstryDtlRsn}
			,'N'
			,#{auth.sUserId}
			,CURRENT_TIMESTAMP	
		)
	</insert>
	
	<insert id="insertMhdHstry" parameterType="map">
		INSERT INTO MHDLG_HSTRY (
			 MHDLG_MGNO
			,MHDLG_DGR
			,HSTRY_TYPE_CD
			,HSTRY_RSLT_CD
			,HSTRY_YMD
			,HSTRY_DTL_RSN
			,DEL_YN
			,RGTR_ID
			,REG_DT			
		) VALUES (
			 #{mhdlgMgno}
			,CAST(#{mhdlgDgr} AS NUMERIC)
			,#{hstryTypeCd}
			,#{hstryRsltCd}
			,TO_CHAR(CURRENT_TIMESTAMP, 'YYYYMMDD')
			,#{hstryDtlRsn}
			,'N'
			,#{auth.sUserId}
			,CURRENT_TIMESTAMP	
		)
	</insert>
	
	<select id="selectBizHstryListCnt" resultType="int" parameterType="map">
		SELECT
			COUNT(*) AS CNT
		FROM IRB_HSTRY  
		WHERE 1=1		
		AND BIZ_MGNO = #{mngNo}
		<if test="day != null and !day.equals('')">
		AND HSTRY_YMD = #{day}
		</if>
	</select>
	
	<select id="selectMhdHstryListCnt" resultType="int" parameterType="map">
		SELECT
			COUNT(*) AS CNT
		FROM MHDLG_HSTRY
		WHERE 1=1		
		AND MHDLG_MGNO = #{mngNo}
		<if test="day != null and !day.equals('')">
		AND HSTRY_YMD = #{day}
		</if>
	</select>
	
	<select id="selectAgrHstryListCnt" resultType="int" parameterType="map">
		SELECT
			COUNT(*) AS CNT
		FROM AGR_STIPL_HSTRY
		WHERE 1=1		
		AND CNCLD_MGNO = #{mngNo}
		<if test="day != null and !day.equals('')">
		AND TO_CHAR(HSTRY_DT,'yyyyMMdd') =  #{day}
		</if>
	</select>
	
	<select id="selectCnsHstryListCnt" resultType="int" parameterType="map">
		SELECT
			COUNT(*) AS CNT
		FROM CNSLTNGRP_HSTRY
		WHERE 1=1		
		AND CNSLTNGRP_MGNO = #{mngNo}
		<if test="day != null and !day.equals('')">
		AND TO_CHAR(HSTRY_DT,'yyyyMMdd') =  #{day}
		</if>
	</select>
	
	<select id="selectBizHstryList" resultType="egovMap" parameterType="map">
		SELECT
			 (COUNT(*) OVER()) - (U.RN-1) AS HSTRY_SN
			,U.REG_DT
			,(SELECT FN_GET_CODENM('BIZ_GBN_CD', DGR_REG_RSN_CD) FROM IRB_DTL WHERE BIZ_MGNO = U.BIZ_MGNO AND BIZ_DGR = U.BIZ_DGR) AS DGR_REG_RSN_CD_NM
			,U.HSTRY_TYPE_CD
			,U.HSTRY_RSLT_CD
			,U.HSTRY_DTL_RSN
			,FN_GET_CODENM('BIZ_HSTRY_TYPE_CD', U.HSTRY_TYPE_CD) AS HSTRY_TYPE_CD_NM
			,FN_GET_CODENM('BIZ_HSTRY_RSLT_CD', U.HSTRY_RSLT_CD) AS HSTRY_RSLT_CD_NM
			,U.LOG_NM
		FROM
		(
			SELECT
				 ROW_NUMBER() OVER() AS RN
				,V.*
			FROM
			(
				SELECT
					 T.HSTRY_SN
					,T.BIZ_MGNO
					,T.BIZ_DGR
					,T.REG_DT
					,T.HSTRY_TYPE_CD
					,T.HSTRY_RSLT_CD
					,T.HSTRY_DTL_RSN
					,FN_GET_CODENM('BIZ_HSTRY_TYPE_CD', T.HSTRY_TYPE_CD) AS HSTRY_TYPE_CD_NM
					,FN_GET_CODENM('BIZ_HSTRY_RSLT_CD', T.HSTRY_RSLT_CD) AS HSTRY_RSLT_CD_NM
					,(
						SELECT B.BZENT_NM || '(' || A.FLNM || ')'
						FROM USER_BSC A
						INNER JOIN INST_BSC B
						ON A.INST_MGNO = B.INST_MGNO 
						WHERE 1=1
						AND USER_ID = T.RGTR_ID
					) AS LOG_NM 
				FROM IRB_HSTRY T
				WHERE 1=1
				AND T.BIZ_MGNO = #{mngNo}
				<if test="day != null and !day.equals('')">
				AND T.HSTRY_YMD = #{day}
				</if>
				ORDER BY T.HSTRY_SN DESC
			) V
		) U
		LIMIT #{pageNavigation.listSize}
		OFFSET (#{pageNavigation.pageNo} - 1) * #{pageNavigation.listSize}
	</select>
	
	<select id="selectMhdHstryList" resultType="egovMap" parameterType="map">
		SELECT
			 (COUNT(*) OVER()) - (U.RN-1) AS HSTRY_SN
			,U.REG_DT
			,'' AS DGR_REG_RSN_CD_NM
			,U.HSTRY_TYPE_CD
			,U.HSTRY_RSLT_CD
			,U.HSTRY_DTL_RSN
			,FN_GET_CODENM('BIZ_HSTRY_TYPE_CD', U.HSTRY_TYPE_CD) AS HSTRY_TYPE_CD_NM
			,FN_GET_CODENM('BIZ_HSTRY_RSLT_CD', U.HSTRY_RSLT_CD) AS HSTRY_RSLT_CD_NM
			,U.LOG_NM
		FROM
		(
			SELECT
				 ROW_NUMBER() OVER() AS RN
				,V.*
			FROM
			(
				SELECT
					 T.HSTRY_SN
					,T.REG_DT
					,T.HSTRY_TYPE_CD
					,T.HSTRY_RSLT_CD
					,T.HSTRY_DTL_RSN
					,FN_GET_CODENM('BIZ_HSTRY_TYPE_CD', T.HSTRY_TYPE_CD) AS HSTRY_TYPE_CD_NM
					,FN_GET_CODENM('BIZ_HSTRY_RSLT_CD', T.HSTRY_RSLT_CD) AS HSTRY_RSLT_CD_NM
					,(
						SELECT B.BZENT_NM || '(' || A.FLNM || ')'
						FROM USER_BSC A
						INNER JOIN INST_BSC B
						ON A.INST_MGNO = B.INST_MGNO 
						WHERE 1=1
						AND USER_ID = T.RGTR_ID
					) AS LOG_NM 
				FROM MHDLG_HSTRY T
				WHERE 1=1
				AND T.MHDLG_MGNO = #{mngNo}
				<if test="day != null and !day.equals('')">
				AND T.HSTRY_YMD = #{day}
				</if>
				ORDER BY T.HSTRY_SN DESC
			) V
		) U
		LIMIT #{pageNavigation.listSize}
		OFFSET (#{pageNavigation.pageNo} - 1) * #{pageNavigation.listSize}		
	</select>
	
	<select id="selectAgrHstryList" resultType="egovMap" parameterType="map">
		SELECT
			 (COUNT(*) OVER()) - (U.RN-1) AS HSTRY_SN
			,U.REG_DT
			,'' AS DGR_REG_RSN_CD_NM
			,U.HSTRY_TYPE_CD
			,FN_GET_CODENM('AGR_HSTRY_TYPE_CD', U.HSTRY_TYPE_CD) || '됨' AS HSTRY_RSLT_CD_NM 
			,FN_GET_CODENM('AGR_HSTRY_TYPE_CD', U.HSTRY_TYPE_CD) AS HSTRY_TYPE_CD_NM
			,U.LOG_NM
		FROM
		(
			SELECT
				 ROW_NUMBER() OVER() AS RN
				,V.*
			FROM
			(
				SELECT
					 T.HSTRY_SN
					,T.REG_DT
					,T.HSTRY_TYPE_CD
					,FN_GET_CODENM('AGR_HSTRY_TYPE_CD', T.HSTRY_TYPE_CD) AS HSTRY_RSLT_CD_NM
					,FN_GET_CODENM('AGR_HSTRY_TYPE_CD', T.HSTRY_TYPE_CD) AS HSTRY_TYPE_CD_NM
					,(
						SELECT B.BZENT_NM || '(' || A.FLNM || ')'
						FROM USER_BSC A
						INNER JOIN INST_BSC B
						ON A.INST_MGNO = B.INST_MGNO 
						WHERE 1=1
						AND USER_ID = T.RGTR_ID
					) AS LOG_NM 
				FROM AGR_STIPL_HSTRY T
				WHERE 1=1
				AND T.CNCLD_MGNO = #{mngNo}
				<if test="day != null and !day.equals('')">
				AND TO_CHAR(T.HSTRY_DT,'yyyyMMdd') =  #{day}
				</if>
				ORDER BY T.HSTRY_SN DESC
			) V
		) U
		LIMIT #{pageNavigation.listSize}
		OFFSET (#{pageNavigation.pageNo} - 1) * #{pageNavigation.listSize}		
	</select>
	
	<select id="selectCnsHstryList" resultType="egovMap" parameterType="map">
		SELECT
			 (COUNT(*) OVER()) - (U.RN-1) AS HSTRY_SN
			, TO_CHAR(U.REG_DT, 'YYYY-MM-DD HH24:MI') as REG_DT
			,'' AS DGR_REG_RSN_CD_NM
			,U.HSTRY_TYPE_CD
			,FN_GET_CODENM('AGR_HSTRY_TYPE_CD', U.HSTRY_TYPE_CD) || '됨' AS HSTRY_RSLT_CD_NM 
			,FN_GET_CODENM('AGR_HSTRY_TYPE_CD', U.HSTRY_TYPE_CD) AS HSTRY_TYPE_CD_NM
			,U.LOG_NM 
		FROM
		(
			SELECT
				 ROW_NUMBER() OVER() AS RN
				,V.*
			FROM
			(
				SELECT
					 T.HSTRY_SN
					,T.REG_DT
					,T.HSTRY_TYPE_CD
					,FN_GET_CODENM('AGR_HSTRY_TYPE_CD', T.HSTRY_TYPE_CD) AS HSTRY_RSLT_CD_NM
					,FN_GET_CODENM('AGR_HSTRY_TYPE_CD', T.HSTRY_TYPE_CD) AS HSTRY_TYPE_CD_NM
					,(
						SELECT B.BZENT_NM || '(' || A.FLNM || ')'
						FROM USER_BSC A
						INNER JOIN INST_BSC B
						ON A.INST_MGNO = B.INST_MGNO 
						WHERE 1=1
						AND USER_ID = T.RGTR_ID
					) AS LOG_NM 
				FROM CNSLTNGRP_HSTRY T
				WHERE 1=1
				AND T.CNSLTNGRP_MGNO = #{mngNo}
				<if test="day != null and !day.equals('')">
				AND TO_CHAR(T.HSTRY_DT,'yyyyMMdd') =  #{day} 
				</if>
				ORDER BY T.HSTRY_SN DESC
			) V
		) U
		LIMIT #{pageNavigation.listSize}
		OFFSET (#{pageNavigation.pageNo} - 1) * #{pageNavigation.listSize}		
	</select>
	
		
	<select id="selectPrvHstryListCnt" resultType="int" parameterType="map">
		/* CommonBizMapper.selectPrvHstryListCnt */
		SELECT COUNT(*) AS CNT
		  FROM INFO_PRVT_HSTRY
		 WHERE 1=1		
		   AND PRVT_MGNO = #{mngNo}
		   <if test="day != null and !day.equals('')">
		   AND HSTRY_YMD = #{day}
		   </if>
	</select>
	
	<select id="selectPrvHstryList" resultType="egovMap" parameterType="map">
		/* CommonBizMapper.selectPrvHstryList */
		SELECT (COUNT(*) OVER()) - (U.RN-1) AS HSTRY_SN
		     , U.REG_DT
		     , '' AS DGR_REG_RSN_CD_NM
		     , U.HSTRY_TYPE_CD
		     , FN_GET_CODENM('BIZ_HSTRY_TYPE_CD', U.HSTRY_TYPE_CD) AS HSTRY_TYPE_CD_NM
		     , U.HSTRY_RSLT_CD
		     , FN_GET_CODENM('BIZ_HSTRY_RSLT_CD', U.HSTRY_RSLT_CD) AS HSTRY_RSLT_CD_NM
		     , U.LOG_NM 
		  FROM (
			      SELECT ROW_NUMBER() OVER() AS RN
			           , V.*
			        FROM (
							SELECT T.HSTRY_SN
							     , T.REG_DT
							     , T.HSTRY_RSLT_CD
							     , T.HSTRY_TYPE_CD
								 , (
									  SELECT B.BZENT_NM || '(' || A.FLNM || ')'
									    FROM USER_BSC A
									   INNER JOIN INST_BSC B
									      ON A.INST_MGNO = B.INST_MGNO 
									   WHERE 1=1
									     AND USER_ID = T.RGTR_ID
								   ) AS LOG_NM 
							    FROM INFO_PRVT_HSTRY T
							   WHERE 1=1
							     AND T.PRVT_MGNO = #{mngNo}
							     <if test="day != null and !day.equals('')">
								 AND T.HSTRY_YMD = #{day}
								 </if>
						       ORDER BY T.HSTRY_SN DESC
			             ) V
		       ) U
		  LIMIT #{pageNavigation.listSize}
		 OFFSET (#{pageNavigation.pageNo} - 1) * #{pageNavigation.listSize}
	</select>
	
</mapper>