<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.biz.prfmncutil.mapper.BizPrfmncRtrcnMapper">
	
	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적취소 - 실적취소목록조회 총건수 조회 -->
	<select id="selectPrfmncRtrcnListCnt" resultType="int" parameterType="map">
		/* BizPrfmncRtrcnMapper.selectPrfmncRtrcnListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적취소 - 실적취소목록조회 -->
	<select id="selectPrfmncRtrcnList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* BizPrfmncRtrcnMapper.selectPrfmncRtrcnList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적취소 - 실적취소상세조회 -->
	<select id="selectPrfmncRtrcnDetail" resultType="egovMap" parameterType="map">
		/* BizPrfmncRtrcnMapper.selectPrfmncRtrcnDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적취소 - 실적취소등록 -->
	<insert id="insertPrfmncRtrcn" parameterType="map">
		/* BizPrfmncRtrcnMapper.insertPrfmncRtrcn */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적취소 - 실적취소수정 -->
	<update id="updatePrfmncRtrcn" parameterType="map">
		/* BizPrfmncRtrcnMapper.updatePrfmncRtrcn */
		UPDATE irsuser.TEMP_TABLE
		   SET COL = #{col}
		     , MDFR_ID = #{sessionUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE CONDITION = #{condition}
	</update>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적취소 - 실적공통조회 -->
	<select id="selectPrfmncSrhList" resultType="egovMap" parameterType="map">
		/* BizPrfmncRtrcnMapper.selectPrfmncSrhList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적취소 - 문서보완등록 -->
	<insert id="insertPrfmncRtrcnDocSplmnt" parameterType="map">
		/* BizPrfmncRtrcnMapper.insertPrfmncRtrcnDocSplmnt */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적취소 - 심의결과조회 -->
	<select id="selectPrfmncRtrcnDlbrRslt" resultType="egovMap" parameterType="map">
		/* BizPrfmncRtrcnMapper.selectPrfmncRtrcnDlbrRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적취소 - 이력목록조회 -->
	<select id="selectPrfmncRtrcnHistList" resultType="egovMap" parameterType="map">
		/* BizPrfmncRtrcnMapper.selectPrfmncRtrcnHistList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적취소 - 보고서출력 -->
	<select id="selectPrfmncRtrcnRpt" resultType="egovMap" parameterType="map">
		/* BizPrfmncRtrcnMapper.selectPrfmncRtrcnRpt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적취소 - 액셀다운로드 -->
	<select id="selectPrfmncRtrcnExcel" resultType="egovMap" parameterType="map">
		/* BizPrfmncRtrcnMapper.selectPrfmncRtrcnExcel */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>
	
</mapper>
