<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.biz.prfmncutil.mapper.BizPrfmncBfrMapper">
	
	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적이전 - 실적이전목록조회 총건수 조회 -->
	<select id="selectPrfmncBfrListCnt" resultType="int" parameterType="map">
		/* BizPrfmncBfrMapper.selectPrfmncBfrListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적이전 - 실적이전목록조회 -->
	<select id="selectPrfmncBfrList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* BizPrfmncBfrMapper.selectPrfmncBfrList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적이전 - 실적이전상세조회 -->
	<select id="selectPrfmncBfrDetail" resultType="egovMap" parameterType="map">
		/* BizPrfmncBfrMapper.selectPrfmncBfrDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적이전 - 실적이전등록 -->
	<insert id="insertPrfmncBfr" parameterType="map">
		/* BizPrfmncBfrMapper.insertPrfmncBfr */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적이전 - 실적이전수정 -->
	<update id="updatePrfmncBfr" parameterType="map">
		/* BizPrfmncBfrMapper.updatePrfmncBfr */
		UPDATE irsuser.TEMP_TABLE
		   SET COL = #{col}
		     , MDFR_ID = #{sessionUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE CONDITION = #{condition}
	</update>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적이전 - 실적공통조회 -->
	<select id="selectPrfmncSrhList" resultType="egovMap" parameterType="map">
		/* BizPrfmncBfrMapper.selectPrfmncSrhList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적이전 - 사업수행자동의등록 -->
	<update id="updatePrfmncBfrAgree" parameterType="map">
		/* BizPrfmncBfrMapper.updatePrfmncBfrAgree */
		UPDATE irsuser.TEMP_TABLE
		   SET COL = #{col}
		     , MDFR_ID = #{sessionUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE CONDITION = #{condition}
	</update>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적이전 - 검토결과조회 -->
	<select id="selectPrfmncBfrRvwRslt" resultType="egovMap" parameterType="map">
		/* BizPrfmncBfrMapper.selectPrfmncBfrRvwRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적이전 - 문서보완등록 -->
	<insert id="insertPrfmncBfrDocSplmnt" parameterType="map">
		/* BizPrfmncBfrMapper.insertPrfmncBfrDocSplmnt */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적이전 - 심의결과조회 -->
	<select id="selectPrfmncBfrDlbrRslt" resultType="egovMap" parameterType="map">
		/* BizPrfmncBfrMapper.selectPrfmncBfrDlbrRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적이전 - 이의신청등록 -->
	<insert id="insertPrfmncBfrObjcAply" parameterType="map">
		/* BizPrfmncBfrMapper.insertPrfmncBfrObjcAply */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적이전 - 이의신청조회 -->
	<select id="selectPrfmncBfrObjcAply" resultType="egovMap" parameterType="map">
		/* BizPrfmncBfrMapper.selectPrfmncBfrObjcAply */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적이전 - 추가자료요청조회 -->
	<select id="selectPrfmncBfrDataDmnd" resultType="egovMap" parameterType="map">
		/* BizPrfmncBfrMapper.selectPrfmncBfrDataDmnd */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적이전 - 추가자료등록 -->
	<insert id="insertPrfmncBfrDataReg" parameterType="map">
		/* BizPrfmncBfrMapper.insertPrfmncBfrDataReg */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적이전 - 추가자료확인조회 -->
	<select id="selectPrfmncBfrDataIdnty" resultType="egovMap" parameterType="map">
		/* BizPrfmncBfrMapper.selectPrfmncBfrDataIdnty */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적이전 - 추가자료결과조회 -->
	<select id="selectPrfmncBfrDataRslt" resultType="egovMap" parameterType="map">
		/* BizPrfmncBfrMapper.selectPrfmncBfrDataRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적이전 - 이력목록조회 -->
	<select id="selectPrfmncBfrHistList" resultType="egovMap" parameterType="map">
		/* BizPrfmncBfrMapper.selectPrfmncBfrHistList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적이전 - 보고서출력 -->
	<select id="selectPrfmncBfrRpt" resultType="egovMap" parameterType="map">
		/* BizPrfmncBfrMapper.selectPrfmncBfrRpt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 실적관리 > 실적 활용 관리 > 실적이전 - 액셀다운로드 -->
	<select id="selectPrfmncBfrExcel" resultType="egovMap" parameterType="map">
		/* BizPrfmncBfrMapper.selectPrfmncBfrExcel */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>
	
</mapper>
