<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.adm.cnsltngrp.mapper.AdmCnsltngrpMngMapper">
	
	<!-- [관리자] 국제감축협의체관리 > 국제감축협의체 관리 - 협의체목록조회 총건수 조회 -->
	<select id="selectCnsltngrpMngListCnt" resultType="int" parameterType="map">
		/* AdmCnsltngrpMngMapper.selectCnsltngrpMngListCnt */
		SELECT COUNT(*)
		FROM 
		  (	SELECT A.CNSLTNGRP_MGNO  
				 , A.CNCLD_MGNO
				 , A.CNSLTNGRP_NM
				 , B.CNCLD_CL_CD
				 , irsuser.FN_GET_CODENM('CNCLD_CL_CD', B.CNCLD_CL_CD) AS CNCLD_CL_NM
				 , B.CNCLD_ORGT_NM 
				 , B.CNCLD_KRN_NM 
				 , B.CNCLD_NO 
				 , A.cnsltngrp_cmps_ymd
				 , COUNT(C.CNSLTNGRP_MGNO) AS cmps_cnt
				 , Z.NTN_NM
				 , A.del_yn
			FROM irsuser.CNSLTNGRP_BSC A 
			INNER JOIN irsuser.AGREE_STIPL_BSC B ON A.CNCLD_MGNO = B.CNCLD_MGNO
			INNER JOIN irsuser.CNSLTNGRP_DTL  C ON A.CNSLTNGRP_MGNO = C.CNSLTNGRP_MGNO
			INNER JOIN (SELECT D.CNCLD_MGNO, ARRAY_TO_STRING(ARRAY_AGG(N.NTN_KORN_NM),  ',')  AS NTN_NM 
						FROM irsuser.COM_NTN_CD_BSC N
						INNER JOIN (SELECT B.CNCLD_MGNO,K.NTN_CD 
									FROM irsuser.AGREE_STIPL_BSC B 
									INNER JOIN irsuser.AGREE_STIPL_NTN_DTL K ON B.CNCLD_MGNO = K.CNCLD_MGNO
									WHERE B.DEL_YN = 'N' GROUP by B.CNCLD_MGNO, K.CNCLD_MGNO,K.NTN_CD) AS D
						ON N.IATA_NTN_CD  = D.NTN_CD
						GROUP BY D.CNCLD_MGNO) AS Z ON B.CNCLD_MGNO = Z.CNCLD_MGNO
			WHERE A.del_yn = 'N'				
			GROUP BY A.CNSLTNGRP_MGNO, A.CNSLTNGRP_NM, A.CNCLD_MGNO, B.CNCLD_CL_CD, CNCLD_CL_NM,  B.CNCLD_ORGT_NM, B.CNCLD_KRN_NM, B.CNCLD_NO , A.CNSLTNGRP_CMPS_YMD,Z.NTN_NM
			) P
		WHERE P.DEL_YN = 'N'
		<if test="srhCncldCd != null and !srhCncldCd.equals('')">
		AND P.CNCLD_CL_CD = #{srhCncldCd}			
		</if>
		<if test="srhCnsltngrpNm != null and !srhCnsltngrpNm.equals('')">
		AND (P.CNSLTNGRP_NM LIKE CONCAT('%', #{srhCnsltngrpNm}, '%') )			
		</if>
		<if test="srhCncldNm != null and !srhCncldNm.equals('')">
		AND (P.CNCLD_ORGT_NM LIKE CONCAT('%', #{srhCncldNm}, '%') )			
		</if> 

	</select>
	
	<!-- [관리자] 국제감축협의체관리 > 국제감축협의체 관리 - 협의체목록조회 -->
	<select id="selectCnsltngrpMngList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* AdmCnsltngrpMngMapper.selectCnsltngrpMngList */
		SELECT '' AS CHK 
			 , A.CNSLTNGRP_MGNO  
			 , A.CNCLD_MGNO
			 , B.CNCLD_DGR
			 , A.CNSLTNGRP_NM
			 , B.CNCLD_CL_CD
			 , irsuser.FN_GET_CODENM('CNCLD_CL_CD', B.CNCLD_CL_CD) AS CNCLD_CL_NM
			 , B.CNCLD_ORGT_NM 
			 , B.CNCLD_KRN_NM 
			 , B.CNCLD_NO 
			 , A.CNSLTNGRP_CMPS_YMD
			 , COUNT(C.CNSLTNGRP_MGNO) AS CMPS_CNT
			 , Z.NTN_NM
		FROM irsuser.CNSLTNGRP_BSC A 
		INNER JOIN irsuser.AGREE_STIPL_BSC B ON A.CNCLD_MGNO = B.CNCLD_MGNO
		INNER JOIN irsuser.CNSLTNGRP_DTL  C ON A.CNSLTNGRP_MGNO = C.CNSLTNGRP_MGNO
		INNER JOIN (SELECT D.CNCLD_MGNO, ARRAY_TO_STRING(ARRAY_AGG(N.NTN_KORN_NM),  ',')  AS NTN_NM 
					FROM irsuser.COM_NTN_CD_BSC N
					INNER JOIN (SELECT B.CNCLD_MGNO,K.NTN_CD 
								FROM irsuser.AGREE_STIPL_BSC B 
								INNER JOIN irsuser.AGREE_STIPL_NTN_DTL K ON B.CNCLD_MGNO = K.CNCLD_MGNO
								WHERE B.DEL_YN = 'N' GROUP by B.CNCLD_MGNO, K.CNCLD_MGNO,K.NTN_CD) AS D
					ON N.IATA_NTN_CD  = D.NTN_CD
					GROUP BY D.CNCLD_MGNO) AS Z ON B.CNCLD_MGNO = Z.CNCLD_MGNO
		WHERE A.DEL_YN = 'N'
		<if test="srhCncldCd != null and !srhCncldCd.equals('')">
		AND B.CNCLD_CL_CD = #{srhCncldCd}			
		</if>
		<if test="srhCnsltngrpNm != null and !srhCnsltngrpNm.equals('')">
		AND (A.CNSLTNGRP_NM LIKE CONCAT('%', #{srhNtnNm}, '%') )			
		</if>
		<if test="srhCncldNm != null and !srhCncldNm.equals('')">
		AND (B.CNCLD_ORGT_NM LIKE CONCAT('%', #{srhNtnNm}, '%') )			
		</if> 
		GROUP BY A.CNSLTNGRP_MGNO
			   , A.CNSLTNGRP_NM
			   , A.CNCLD_MGNO
			   , B.CNCLD_DGR
			   , B.CNCLD_CL_CD
			   , CNCLD_CL_NM
			   , B.CNCLD_ORGT_NM
			   , B.CNCLD_KRN_NM
			   , B.CNCLD_NO
			   , A.CNSLTNGRP_CMPS_YMD
			   , Z.NTN_NM
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [관리자] 국제감축협의체관리 > 국제감축협의체 관리 - 협의체상세조회 -->
	<select id="selectCnsltngrpMngDetail" resultType="egovMap" parameterType="map">
		/* AdmCnsltngrpMngMapper.selectCnsltngrpMngDetail */
		SELECT CNSLTNGRP_MGNO
			 , CNCLD_MGNO
			 , CNCLD_DGR
			 , CNSLTNGRP_NM
			 , CNSLTNGRP_CMPS_YMD
			 , CNSLTN_CN 
			 , ETC_DATA_FLMNO
			 , DEL_YN
			 , REG_DT 
			 , RGTR_ID 
			 , MDFR_ID 
			 , MDFCN_DT
			 , OPER_RGL_CN 
		FROM irsuser.CNSLTNGRP_BSC
		WHERE CNSLTNGRP_MGNO = #{cnsltngrpMgno} AND CNCLD_MGNO = #{cncldMgno} AND CNCLD_DGR = CAST(#{cncldDgr} AS NUMERIC) AND DEL_YN='N'
	</select>
	
	<!-- [관리자] 국제감축협의체관리 > 국제감축협의체 관리 - 체결정보조회 (협의체상세조회) -->
	<select id="selectAgrMngDetail" resultType="egovMap" parameterType="map">
		/* AdmCnsltngrpMngMapper.selectAgrMngDetail */
		SELECT B.CNSLTNGRP_MGNO
			 , A.CNCLD_MGNO
			 , B.CNCLD_DGR
			 , A.cncld_orgt_nm
			 , A.cncld_krn_nm 
			 , Z.NTN_NM
			 , A.sgnt_ymd 
			 , A.eftvn_ymd
		FROM irsuser.AGREE_STIPL_BSC A
		INNER JOIN irsuser.CNSLTNGRP_BSC B ON A.CNCLD_MGNO = B.CNCLD_MGNO
		INNER JOIN irsuser.agree_stipl_ntn_dtl C ON A.CNCLD_MGNO = C.CNCLD_MGNO
		INNER JOIN (SELECT D.CNCLD_MGNO, ARRAY_TO_STRING(ARRAY_AGG(C.NTN_KORN_NM),  ',')  AS NTN_NM 
								FROM irsuser.COM_NTN_CD_BSC C
								INNER JOIN (SELECT B.CNCLD_MGNO,B.NTN_CD 
											FROM irsuser.AGREE_STIPL_BSC A 
											INNER JOIN irsuser.AGREE_STIPL_NTN_DTL B ON A.CNCLD_MGNO = B.CNCLD_MGNO
											WHERE A.DEL_YN = 'N' GROUP BY B.CNCLD_MGNO,B.NTN_CD) AS D
								ON C.IATA_NTN_CD  = D.NTN_CD
								GROUP BY D.CNCLD_MGNO) AS Z
					ON A.CNCLD_MGNO = Z.CNCLD_MGNO
		WHERE B.CNSLTNGRP_MGNO = #{cnsltngrpMgno} AND A.CNCLD_MGNO = #{cncldMgno} AND A.CNCLD_DGR = CAST(#{cncldDgr} AS NUMERIC) AND A.DEL_YN='N'
	</select>
	
	<!-- [관리자] 국제감축협의체관리 > 국제감축협의체 관리 - 협의체기본등록 -->
	<insert id="insertCnsltngrpBscMng" parameterType="map">
		<selectKey keyProperty="cnsltngrpMgno" resultType="String" order="BEFORE">
			/* AdmCnsltngrpMngMapper.insertCnsltngrpBscMng.selectKey */
			SELECT CONCAT( 'CS'
				 , TO_CHAR(CURRENT_TIMESTAMP, 'yy')
				 , LPAD( CAST(CAST(COALESCE(MAX(SUBSTRING(CNSLTNGRP_MGNO, (4 + 1), 10)), '0') AS NUMERIC) + 1 AS TEXT)
					   , 10 - 4
					   , '0'
				   )
		   )
			  FROM irsuser.CNSLTNGRP_BSC
		</selectKey>
		/* AdmCnsltngrpMngMapper.insertCnsltngrpBscMng */
		INSERT INTO irsuser.CNSLTNGRP_BSC
			 ( CNSLTNGRP_MGNO
			 , CNCLD_MGNO
			 , CNCLD_DGR
			 , CNSLTNGRP_NM
			 , ETC_DATA_FLMNO
			 , DEL_YN
			 , RGTR_ID
			 , REG_DT
			 , MDFR_ID
			 , MDFCN_DT
			 , CNSLTNGRP_CMPS_YMD
			 , CNSLTN_CN
			 , OPER_RGL_CN
			 )
		VALUES
			 ( #{cnsltngrpMgno}
			 , #{cncldMgno}
			 , CAST( #{cncldDgr} AS NUMERIC)
			 , #{cnsltngrpNm}
			 , #{etcDataFlmno}
			 , 'N'
			 , #{rgtrId}
			 , CURRENT_TIMESTAMP
			 , #{mdfrId}
			 , CURRENT_TIMESTAMP
			 , #{cnsltngrpCmpsYmd}
			 , #{cnsltnCn}
			 , #{operRglCn}
			 )
	</insert>


	<!-- [관리자] 국제감축협의체관리 > 국제감축협의체 관리 - 협의체기본 이력 목록조회 -->
	<select id="selectCnsltngrpMngDocList" resultType="egovMap" parameterType="map">
	/* AdmCnsltngrpMngMapper.selectCnsltngrpMngDocList */
	SELECT ROW_NUMBER() OVER(ORDER by CNSLTNGRP_MGNO ASC) AS NO
		 , CNSLTNGRP_MGNO
		 , CASE WHEN #{cnsltngrpMgno} = CNSLTNGRP_MGNO THEN '현재문서' ELSE '상세보기' END AS BTN_CTL
		 , MDFR_ID AS PRCS_USER_NM
		 , MDFCN_DT AS RVSN_YMD
	FROM irsuser.cnsltngrp_bsc
	WHERE CNSLTNGRP_MGNO = #{cnsltngrpMgno} AND CNCLD_MGNO = #{cncldMgno} and DEL_YN='N'
	</select>
	
	<!-- [관리자] 국제감축협의체관리 > 국제감축협의체 관리 - 협의체기본 이력등록 -->
	<insert id="insertCnsltngrpBscMngHist" parameterType="map">
		/* AdmCnsltngrpMngMapper.insertCnsltngrpBscMngHist */
		INSERT INTO irsuser.CNSLTNGRP_HSTRY
			 ( HSTRY_TYPE_CD
			  , HSTRY_YMD
			  , CNSLTNGRP_MGNO
			  , CNCLD_MGNO
			  , CNCLD_DGR
			  , CNSLTNGRP_NM
			  , ETC_DATA_FLMNO
			  , DEL_YN
			  , RGTR_ID
			  , REG_DT
			  , MDFR_ID
			  , MDFCN_DT
			  , CNSLTNGRP_CMPS_YMD
			  , CNSLTN_CN 
			  , OPER_RGL_CN
			 )
		VALUES
			 (#{hstryTypeCd}
			  , CURRENT_TIMESTAMP 
			  , #{cnsltngrpMgno}
			  , #{cncldMgno}
			  , CAST( #{cncldDgr} AS NUMERIC)
			  , #{cnsltngrpNm}
			  , #{etcDataFlmno}
			  , 'N'
			  , #{rgtrId}
			  , CURRENT_TIMESTAMP
			  , #{mdfrId}
			  , CURRENT_TIMESTAMP
			  , #{cnsltngrpCmpsYmd}
			  , #{cnsltnCn}
			  , #{operRglCn}
			 )
	</insert>
	
	<!-- [관리자] 국제감축협의체관리 > 국제감축협의체 관리 - 협의체상세 구성원 등록 -->
	<insert id="insertCnsltngrpDtlMng" parameterType="map">
		/* AdmCnsltngrpMngMapper.insertCnsltngrpDtlMng */
		INSERT INTO irsuser.CNSLTNGRP_DTL
			 ( GMBR_SN
			 , CNSLTNGRP_MGNO
			 , CNCLD_MGNO
			 , NTN_CD
			 , INST_NM
			 , CMPS_YMD
			 , DEL_YN
			 , RGTR_ID
			 , REG_DT
			 , MDFR_ID
			 , MDFCN_DT
			 , OFC_TELNO
			 , GMBR_KRN_NM
			 , GMBR_ORGT_NM
			 , MAIL_ADDR
			 )
		VALUES
			 (
			   (SELECT COALESCE(MAX(GMBR_SN), 0) + 1 FROM irsuser.CNSLTNGRP_DTL)	
			 , #{cnsltngrpMgno}
			 , #{cncldMgno}
			 , #{ntnCd}
			 , #{instNm}
			 , #{cmpsYmd}
			 , 'N'
			 , #{rgtrId}
			 , CURRENT_TIMESTAMP
			 , #{mdfrId}
			 , CURRENT_TIMESTAMP
			 , #{ofcTelno}
			 , #{gmbrKrnNm}
			 , #{gmbrOrgtNm}
			 , #{mailAddr}
			 )
	</insert>
	
	
	<!-- [관리자] 국제감축협의체관리 > 국제감축협의체 관리 - 협의체상세 구성원 이력등록 -->
	<insert id="insertCnsltngrpDtlMngHist" parameterType="map">
		/* AdmCnsltngrpMngMapper.insertCnsltngrpDtlMngHist */
		INSERT INTO irsuser.CNSLTNGRP_DTL_HSTRY
			 (HSTRY_TYPE_CD
			 , HSTRY_YMD 
			 , GMBR_SN
			 , CNSLTNGRP_MGNO
			 , CNCLD_MGNO
			 , NTN_CD
			 , INST_NM
			 , CMPS_YMD
			 , DEL_YN
			 , RGTR_ID
			 , REG_DT
			 , MDFR_ID
			 , MDFCN_DT
			 , OFC_TELNO
			 , GMBR_KRN_NM
			 , GMBR_ORGT_NM
			 , MAIL_ADDR
			 )
		VALUES
			 (#{hstryTypeCd}
			 , CURRENT_TIMESTAMP 
			 , (SELECT COALESCE(MAX(GMBR_SN), 0) + 1 FROM irsuser.CNSLTNGRP_DTL_HSTRY)
			 , #{cnsltngrpMgno}
			 , #{cncldMgno}
			 , #{ntnCd}
			 , #{instNm}
			 , #{cmpsYmd}
			 , 'N'
			 , #{rgtrId}
			 , CURRENT_TIMESTAMP
			 , #{mdfrId}
			 , CURRENT_TIMESTAMP
			 , #{ofcTelno}
			 , #{gmbrKrnNm}
			 , #{gmbrOrgtNm}
			 , #{mailAddr}
			 )
	</insert>	
	
	<!-- [관리자] 국제감축협의체관리 > 국제감축협의체 관리 - 협의체상세 구성원 삭제 (수정 or 추가때 사용) -->
	<delete id="deleteCnsltngrpDtlMng" parameterType="map">
	/* AdmCnsltngrpMngMapper.deleteCnsltngrpDtlMng */
		DELETE FROM irsuser.CNSLTNGRP_DTL
		WHERE cnsltngrp_mgno = #{cnsltngrpMgno} AND CNCLD_MGNO =  #{cncldMgno}
	</delete>
	
	<!-- [관리자] 국제감축협의체관리 > 국제감축협의체 관리 - 협의체수정 -->
	<update id="updateCnsltngrpMng" parameterType="map">
		/* AdmCnsltngrpMngMapper.updateCnsltngrpMng */
		UPDATE irsuser.CNSLTNGRP_BSC
		SET CNSLTNGRP_NM = #{cnsltngrpNm}
		  , ETC_DATA_FLMNO = #{etcDataFlmno}
		  , CNSLTNGRP_CMPS_YMD = #{cnsltngrpCmpsYmd }
		  , CNSLTN_CN = #{cnsltnCn}
		  , MDFR_ID = #{mdfrId }
		  , MDFCN_DT = CURRENT_TIMESTAMP
		WHERE CNSLTNGRP_MGNO = #{cnsltngrpMgno} AND CNCLD_MGNO =  #{cncldMgno} AND CNCLD_DGR = CAST( #{cncldDgr} AS NUMERIC)
	</update>

	<!-- [관리자] 국제감축협의체관리 > 국제감축협의체 관리 - 협의체 구성원 목록조회 -->
	<select id="selectCnsltngrpMemList" resultType="egovMap" parameterType="map">
		/* AdmCnsltngrpMngMapper.selectCnsltngrpMemList */
		SELECT A.CNSLTNGRP_MGNO
			, B.CNCLD_MGNO 
			, B.CNCLD_DGR 
			, A.NTN_CD
			, C.NTN_KORN_NM  
			, A.GMBR_ORGT_NM
			, A.GMBR_KRN_NM  
			, A.INST_NM 
			, A.MAIL_ADDR 
			, A.OFC_TELNO 
			, A.CMPS_YMD 
		FROM irsuser.CNSLTNGRP_DTL AS A
		INNER JOIN irsuser.CNSLTNGRP_BSC B ON A.CNCLD_MGNO = B.CNCLD_MGNO
		INNER JOIN irsuser.COM_NTN_CD_BSC C ON C.IATA_NTN_CD  = A.NTN_CD
		WHERE A.CNSLTNGRP_MGNO = #{cnsltngrpMgno} AND A.DEL_YN='N'
		AND B.CNCLD_MGNO = #{cncldMgno} AND B.CNCLD_DGR = CAST(#{cncldDgr} AS NUMERIC) 
	</select>
	
	<!-- [관리자] 국제감축협의체관리 > 국제감축협의체 관리 - 협의체 리스트 팝업 목록조회 총건수 조회 -->
	<select id="selectCnsltngrpPopListCnt" resultType="int" parameterType="map">
		SELECT 
			COUNT(*) AS CNT
		FROM (  SELECT A.CNSLTNGRP_MGNO	
					 , A.CNCLD_MGNO	
					 , A.CNCLD_DGR	
					 , A.CNSLTNGRP_NM
					 , A.CNSLTNGRP_CMPS_YMD
					 , B.NTN_CD 
					 , ( SELECT ARRAY_TO_STRING(ARRAY_AGG(C.NTN_KORN_NM),  ',')  AS NTN_NM 
						FROM irsuser.CNSLTNGRP_DTL B 
						INNER JOIN irsuser.COM_NTN_CD_BSC AS C ON C.IATA_NTN_CD  = B.NTN_CD	
					 	) AS NTN_NM
				FROM IRSUSER.CNSLTNGRP_BSC A
				INNER JOIN irsuser.CNSLTNGRP_DTL AS B ON A.CNSLTNGRP_MGNO = B.CNSLTNGRP_MGNO
				<!-- WHERE B.NTN_CD = #{ntnCd} -->
				 ) as Z
		WHERE 1=1
		<if test="srhCncldDgrCd eq 'NEW'">
		AND A.CNCLD_DGR = 1
		</if>
		<if test="srhCncldDgrCd eq 'CHG'">
		<![CDATA[
		AND A.CNCLD_DGR > 1
		 ]]>
		</if>
		<if test="srhCncldNm != null and !srhCncldNm.equals('')">
		AND (A.CNCLD_ORGT_NM LIKE CONCAT('%', #{srhCncldNm}, '%') OR A.CNCLD_KRN_NM LIKE CONCAT ('%', #{srhCncldNm}, '%'))
		</if>
	</select>
	
	<!-- [관리자] 국제감축협의체관리 > 국제감축협의체 관리 - 협의체 리스트 팝업 -->
	<select id="selectCnsltngrpPopList" resultType="egovMap" parameterType="map">
		/* AdmCnsltngrpMngMapper.selectCnsltngrpPopList */
		SELECT ROW_NUMBER() OVER(ORDER by A.CNSLTNGRP_MGNO DESC ) AS NO	 
			 , A.CNSLTNGRP_MGNO	
			 , A.CNCLD_MGNO	
			 , CAST(A.CNCLD_DGR AS TEXT)	
			 , A.CNSLTNGRP_NM
			 , A.CNSLTNGRP_CMPS_YMD
			 , B.NTN_CD 
			 ,'선택' AS BTN_NM
			 , NTN_KORN_NM AS NTN_NM
		FROM IRSUSER.CNSLTNGRP_BSC A
		INNER JOIN irsuser.CNSLTNGRP_DTL AS B ON A.CNSLTNGRP_MGNO = B.CNSLTNGRP_MGNO 
		INNER JOIN irsuser.COM_NTN_CD_BSC AS C ON C.IATA_NTN_CD  = B.NTN_CD
		<!-- WHERE B.NTN_CD = #{ntnCd} -->
	</select>

	<!-- [관리자] 국제감축협의체관리 > 국제감축협의체 관리 - 액셀다운로드 -->
	<select id="selectCnsltngrpMngExcel" resultType="egovMap" parameterType="map">
		/* AdmCnsltngrpMngMapper.selectCnsltngrpMngExcel */
		SELECT U.TOTAL_CNT - (U.RN-1) AS NO
				 , U.*
			FROM
			(
				SELECT
					ROW_NUMBER() OVER() AS RN
					, COUNT(*) OVER() AS TOTAL_CNT
					, V.*
				FROM
					(
			SELECT '' AS CHK 
				 , A.CNSLTNGRP_MGNO  
				 , A.CNCLD_MGNO
				 , B.CNCLD_DGR
				 , A.CNSLTNGRP_NM
				 , B.CNCLD_CL_CD
				 , irsuser.FN_GET_CODENM('CNCLD_CL_CD', B.CNCLD_CL_CD) AS CNCLD_CL_NM
				 , B.CNCLD_ORGT_NM 
				 , B.CNCLD_KRN_NM 
				 , B.CNCLD_NO 
				 , A.CNSLTNGRP_CMPS_YMD
				 , COUNT(C.CNSLTNGRP_MGNO) AS CMPS_CNT
				 , Z.NTN_NM
			FROM irsuser.CNSLTNGRP_BSC A 
			INNER JOIN irsuser.AGREE_STIPL_BSC B ON A.CNCLD_MGNO = B.CNCLD_MGNO
			INNER JOIN irsuser.CNSLTNGRP_DTL  C ON A.CNSLTNGRP_MGNO = C.CNSLTNGRP_MGNO
			INNER JOIN (SELECT D.CNCLD_MGNO, ARRAY_TO_STRING(ARRAY_AGG(N.NTN_KORN_NM),  ',')  AS NTN_NM 
						FROM irsuser.COM_NTN_CD_BSC N
						INNER JOIN (SELECT B.CNCLD_MGNO,K.NTN_CD 
									FROM irsuser.AGREE_STIPL_BSC B 
									INNER JOIN irsuser.AGREE_STIPL_NTN_DTL K ON B.CNCLD_MGNO = K.CNCLD_MGNO
									WHERE B.DEL_YN = 'N' GROUP by B.CNCLD_MGNO, K.CNCLD_MGNO,K.NTN_CD) AS D
						ON N.IATA_NTN_CD  = D.NTN_CD
						GROUP BY D.CNCLD_MGNO) AS Z ON B.CNCLD_MGNO = Z.CNCLD_MGNO
			WHERE A.DEL_YN = 'N'
			<if test="srhCncldCd != null and !srhCncldCd.equals('')">
			AND B.CNCLD_CL_CD = #{srhCncldCd}			
			</if>
			<if test="srhCnsltngrpNm != null and !srhCnsltngrpNm.equals('')">
			AND (A.CNSLTNGRP_NM LIKE CONCAT('%', #{srhNtnNm}, '%') )			
			</if>
			<if test="srhCncldNm != null and !srhCncldNm.equals('')">
			AND (B.CNCLD_ORGT_NM LIKE CONCAT('%', #{srhNtnNm}, '%') )			
			</if> 
			GROUP BY A.CNSLTNGRP_MGNO
				   , A.CNSLTNGRP_NM
				   , A.CNCLD_MGNO
				   , B.CNCLD_DGR
				   , B.CNCLD_CL_CD
				   , CNCLD_CL_NM
				   , B.CNCLD_ORGT_NM
				   , B.CNCLD_KRN_NM
				   , B.CNCLD_NO
				   , A.CNSLTNGRP_CMPS_YMD
				   , Z.NTN_NM ) V
			) U
			LIMIT #{pageNavigation.listSize}
			OFFSET (#{pageNavigation.pageNo} - 1) * #{pageNavigation.listSize}
	</select>

	
</mapper>
