<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.adm.cd.mapper.AdmComCdMapper">
	
	<!-- [관리자] 사업수행자관리 > 코드관리 > 공통 코드 관리 - 그룹코드목록조회 총건수 조회 -->
	<select id="selectComGrpCdListCnt" resultType="int" parameterType="map">
		/* AdmComCdMapper.selectComGrpCdListCnt */
		SELECT COUNT(*)
		  FROM COM_GROUP_CD_BSC
		 WHERE 1 = 1
		<if test="srhGroupCdMgno != null and !srhGroupCdMgno.equals('')">
		   AND GROUP_CD_MGNO LIKE CONCAT('%', #{srhGroupCdMgno}, '%')
		</if>
		<if test="srhGroupCdKornNm != null and !srhGroupCdKornNm.equals('')">
		   AND GROUP_CD_KORN_NM LIKE CONCAT('%', #{srhGroupCdKornNm}, '%')
		</if>
		<if test="srhGroupCdEngNm != null and !srhGroupCdEngNm.equals('')">
		   AND GROUP_CD_ENG_NM LIKE CONCAT('%', #{srhGroupCdEngNm}, '%')
		</if>
		<if test="srhDelYn != null and !srhDelYn.equals('')">
		   AND DEL_YN = #{srhDelYn}
		</if>
	</select>
	
	<!-- [관리자] 사업수행자관리 > 코드관리 > 공통 코드 관리 - 그룹코드목록조회 -->
	<select id="selectComGrpCdList" resultType="egovMap" parameterType="map">
		/* AdmComCdMapper.selectComGrpCdList */
		SELECT U.TOTAL_CNT - (U.RN-1) AS NO
			 , U.GROUP_CD_MGNO
			 , U.GROUP_CD_KORN_NM
			 , U.GROUP_CD_ENG_NM
			 , U.GROUP_CD_CN
			 , U.DEL_YN
			 , U.CD_REG_LMT_CNT
			 , CASE WHEN U.CD_REG_LMT_CNT = 0 THEN '무제한'
			 		ELSE U.CD_REG_LMT_CNT || '건'
			   END AS CD_REG_LMT_CNT_NM
			 , (SELECT COUNT(*) FROM COM_CD_DTL C WHERE C.GROUP_CD_MGNO = U.GROUP_CD_MGNO) AS CD_CNT	/* 코드건수 */
		FROM
		(
			SELECT
				ROW_NUMBER() OVER() AS RN
				, COUNT(*) OVER() AS TOTAL_CNT
				, V.*
			FROM
				(
					SELECT GROUP_CD_MGNO							/* 그룹코드 */
						 , GROUP_CD_KORN_NM							/* 그룹코드한글명 */
						 , GROUP_CD_ENG_NM							/* 그룹코드영문명 */
						 , GROUP_CD_CN								/* 그룹코드설명 */
						 , DEL_YN									/* 사용여부 */
						 , CD_REG_LMT_CNT							/* 코드등록제한수 */
					  FROM COM_GROUP_CD_BSC
					 WHERE 1 = 1
					<if test="srhGroupCdMgno != null and !srhGroupCdMgno.equals('')">
					   AND GROUP_CD_MGNO LIKE CONCAT('%', #{srhGroupCdMgno}, '%')
					</if>
					<if test="srhGroupCdKornNm != null and !srhGroupCdKornNm.equals('')">
					   AND GROUP_CD_KORN_NM LIKE CONCAT('%', #{srhGroupCdKornNm}, '%')
					</if>
					<if test="srhGroupCdEngNm != null and !srhGroupCdEngNm.equals('')">
					   AND GROUP_CD_ENG_NM LIKE CONCAT('%', #{srhGroupCdEngNm}, '%')
					</if>
					<if test="srhDelYn != null and !srhDelYn.equals('')">
					   AND DEL_YN = #{srhDelYn}
					</if>
					 ORDER BY GROUP_CD_MGNO ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>
	
	<!-- [관리자] 사업수행자관리 > 코드관리 > 공통 코드 관리 - 코드목록조회 -->
	<select id="selectComCdList" resultType="egovMap" parameterType="map">
		/* AdmComCdMapper.selectComCdList */
		SELECT G.GROUP_CD_MGNO
			 , C.CD_MGNO
			 , C.CD_KORN_NM
			 , C.CD_ENG_NM
			 , C.CD_CN
			 , C.SORT_SEQO
			 , C.DEL_YN
		  FROM COM_GROUP_CD_BSC G
		 INNER JOIN COM_CD_DTL C
		    ON C.GROUP_CD_MGNO = G.GROUP_CD_MGNO
		   AND G.GROUP_CD_MGNO = #{srhGroupCdMgno}
		 WHERE 1 = 1
		 ORDER BY C.SORT_SEQO ASC
	</select>
	
	<!-- [관리자] 사업수행자관리 > 코드관리 > 공통 코드 관리 - 그룹코드상세조회 -->
	<select id="selectComGrpCdDetail" resultType="egovMap" parameterType="map">
		/* AdmComCdMapper.selectComGrpCdDetail */
		SELECT G.GROUP_CD_MGNO							/* 그룹코드 */
			 , G.GROUP_CD_KORN_NM						/* 그룹코드한글명 */
			 , G.GROUP_CD_ENG_NM						/* 그룹코드영문명 */
			 , G.GROUP_CD_CN							/* 그룹코드설명 */
			 , G.DEL_YN									/* 사용여부 */
			 , G.CD_REG_LMT_CNT							/* 코드등록제한수 */
			 , (SELECT COUNT(*) FROM COM_CD_DTL C WHERE C.GROUP_CD_MGNO = G.GROUP_CD_MGNO) AS CD_CNT	/* 코드건수 */
		  FROM COM_GROUP_CD_BSC G
		 WHERE G.GROUP_CD_MGNO = #{srhGroupCdMgno}
	</select>
	
	<!-- [관리자] 사업수행자관리 > 코드관리 > 공통 코드 관리 - 그룹코드수정 -->
	<update id="updateComGrpCd" parameterType="map">
		/* AdmComCdMapper.updateComGrpCd */
		UPDATE COM_GROUP_CD_BSC
		   SET GROUP_CD_KORN_NM = #{groupCdKornNm}
		     , GROUP_CD_ENG_NM = #{groupCdEngNm}
		     , GROUP_CD_CN = #{groupCdCn}
		     , DEL_YN = #{delYn}
		     , CD_REG_LMT_CNT = #{cdRegLmtCnt}			/* 코드등록제한수 */
		     , MDFR_ID = #{sUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE GROUP_CD_MGNO = #{groupCdMgno}
	</update>
	
	<!-- [관리자] 사업수행자관리 > 코드관리 > 공통 코드 관리 - 그룹코드기본 삭제 -->
	<update id="deleteComGrpCd" parameterType="map">
		/* AdmComCdMapper.deleteComGrpCd */
		DELETE FROM COM_GROUP_CD_BSC WHERE GROUP_CD_MGNO = #{groupCdMgno}
	</update>
	
	<!-- [관리자] 사업수행자관리 > 코드관리 > 공통 코드 관리 - 그룹코드등록 -->
	<insert id="insertComGrpCd" parameterType="map">
		/* AdmComCdMapper.insertComGrpCd */
		INSERT
		  INTO COM_GROUP_CD_BSC
			 ( GROUP_CD_MGNO
			 , GROUP_CD_KORN_NM
			 , GROUP_CD_ENG_NM
			 , GROUP_CD_CN
			 , CD_REG_LMT_CNT				/* 코드등록제한수 */
			 , DEL_YN
			 , RGTR_ID                     /* 등록자ID */
			 , REG_DT                      /* 등록일시 */
			 )
		VALUES
			 ( #{groupCdMgno}
			 , #{groupCdKornNm}
			 , #{groupCdEngNm}
			 , #{groupCdCn}
			 , #{cdRegLmtCnt}
			 , #{delYn}
			 , #{sUserId}
			 , CURRENT_TIMESTAMP
			 )
	</insert>
	
	<!-- [관리자] 사업수행자관리 > 코드관리 > 공통 코드 관리 - 그룹코드기본 중복 조회 -->
	<select id="selectComGrpCdCnt" resultType="egovMap" parameterType="map">
		/* AdmComCdMapper.selectComGrpCdCnt */
		SELECT CASE WHEN COUNT(*) > 0 THEN 'N' ELSE 'Y' END AS CHECK_YN
			 , #{groupCdMgno} as GROUP_CD_MGNO
		  FROM COM_GROUP_CD_BSC
		 WHERE GROUP_CD_MGNO = #{groupCdMgno}
	</select>
	
	<!-- [관리자] 사업수행자관리 > 코드관리 > 공통 코드 관리 - 코드상세조회 -->
	<select id="selectComCdDetail" resultType="egovMap" parameterType="map">
		/* AdmComCdMapper.selectComCdDetail */
		SELECT G.GROUP_CD_MGNO
			 , C.CD_MGNO
			 , C.CD_KORN_NM
			 , C.CD_ENG_NM
			 , C.CD_CN
			 , C.SORT_SEQO
			 , C.DEL_YN
		  FROM COM_GROUP_CD_BSC G
		 INNER JOIN COM_CD_DTL C
		    ON C.GROUP_CD_MGNO = G.GROUP_CD_MGNO
		   AND G.GROUP_CD_MGNO = #{srhGroupCdMgno}
		 WHERE 1 = 1
		   AND C.CD_MGNO = #{srhCdMgno}
	</select>
	
	<!-- [관리자] 사업수행자관리 > 코드관리 > 공통 코드 관리 - 코드상세 중복 조회 -->
	<select id="selectComCdCnt" resultType="egovMap" parameterType="map">
		/* AdmComCdMapper.selectComCdCnt */
		SELECT CASE WHEN COUNT(*) > 0 THEN 'N' ELSE 'Y' END AS CHECK_YN
			 , #{groupCdMgno} as GROUP_CD_MGNO
			 , #{cdMgno} as CD_MGNO
			 , (
			 	SELECT COUNT(*)
			 	  FROM COM_CD_DTL
			 	 WHERE GROUP_CD_MGNO = #{groupCdMgno}
			 ) AS CD_CNT						/* 코드 등록건수 */
			 , (
			 	SELECT CD_REG_LMT_CNT
			 	  FROM COM_GROUP_CD_BSC
			 	 WHERE GROUP_CD_MGNO = #{groupCdMgno}
			 ) AS CD_REG_LMT_CNT				/* 코드등록제한수, 0 : 무제한 */
		  FROM COM_CD_DTL
		 WHERE GROUP_CD_MGNO = #{groupCdMgno}
		   AND CD_MGNO = #{cdMgno}
	</select>
	
	<!-- [관리자] 사업수행자관리 > 코드관리 > 공통 코드 관리 - 코드등록 -->
	<insert id="insertComCd" parameterType="map">
		/* AdmComCdMapper.insertComCd */
		INSERT
		  INTO COM_CD_DTL
			 ( GROUP_CD_MGNO
			 , CD_MGNO
			 , CD_KORN_NM
			 , CD_ENG_NM
			 , CD_CN
			 , SORT_SEQO
			 , DEL_YN
			 , RGTR_ID                     /* 등록자ID */
			 , REG_DT                      /* 등록일시 */
			 )
		VALUES
			 ( #{groupCdMgno}
			 , #{cdMgno}
			 , #{cdKornNm}
			 , #{cdEngNm}
			 , #{cdCn}
			 , CAST( #{sortSeqo} AS NUMERIC)
			 , #{delYn}
			 , #{sUserId}
			 , CURRENT_TIMESTAMP
			 )
	</insert>
	
	<!-- [관리자] 사업수행자관리 > 코드관리 > 공통 코드 관리 - 코드상세 삭제 -->
	<update id="deleteComCd" parameterType="map">
		/* AdmComCdMapper.deleteComCd */
		DELETE FROM COM_CD_DTL WHERE GROUP_CD_MGNO = #{groupCdMgno} AND CD_MGNO = #{cdMgno}
	</update>
	
	<!-- [관리자] 사업수행자관리 > 코드관리 > 공통 코드 관리 - 코드수정 -->
	<update id="updateComCd" parameterType="map">
		/* AdmComCdMapper.updateComCd */
		UPDATE COM_CD_DTL
		   SET CD_KORN_NM = #{cdKornNm}
		     , CD_ENG_NM = #{cdEngNm}
		     , CD_CN = #{cdCn}
		     , SORT_SEQO = CAST( #{sortSeqo} AS NUMERIC)
		     , DEL_YN = #{delYn}
		     , MDFR_ID = #{sUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE GROUP_CD_MGNO = #{groupCdMgno}
		   AND CD_MGNO = #{cdMgno}
	</update>
	
	<!-- [관리자] 사업수행자관리 > 코드관리 > 공통 코드 관리 - 코드등록, 코드수정 - 순서 정렬 -->
	<update id="updateComCdSortSeqo" parameterType="map">
		/* AdmComCdMapper.updateComCdSortSeqo */
		UPDATE COM_CD_DTL AS TARGET
		   SET SORT_SEQO = ORG.NEW_SORT_SEQO
		  FROM (
					SELECT GROUP_CD_MGNO
						 , CD_MGNO
						 , SORT_SEQO
					<if test='sortType.equals("INSERT")'><!-- 신규생성 기준으로 정렬처리 -->
						 , ROW_NUMBER() OVER(ORDER BY SORT_SEQO, REG_DT DESC) AS NEW_SORT_SEQO
					</if>
					<if test='sortType.equals("UPDATE")'><!-- 수정 기준으로 정렬처리 -->
						 , ROW_NUMBER() OVER(ORDER BY SORT_SEQO, COALESCE(MDFCN_DT, CURRENT_TIMESTAMP) DESC) AS NEW_SORT_SEQO
					</if>
					  FROM COM_CD_DTL
					 WHERE GROUP_CD_MGNO = #{groupCdMgno}
		  ) ORG
		 WHERE TARGET.GROUP_CD_MGNO = ORG.GROUP_CD_MGNO
		   AND TARGET.CD_MGNO = ORG.CD_MGNO
	</update>
	
</mapper>
