<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.adm.cd.mapper.AdmMnofcInfoMapper">
	
	<!-- [관리자] 사업수행자관리 > 코드관리 > 부처 정보 관리 - 부처목록조회 총건수 조회 -->
	<select id="selectMnofcInfoListCnt" resultType="int" parameterType="map">
		/* AdmMnofcInfoMapper.selectMnofcInfoListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [관리자] 사업수행자관리 > 코드관리 > 부처 정보 관리 - 부처목록조회 -->
	<select id="selectMnofcInfoList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* AdmMnofcInfoMapper.selectMnofcInfoList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [관리자] 사업수행자관리 > 코드관리 > 부처 정보 관리 - 부처상세조회 -->
	<select id="selectMnofcInfoDetail" resultType="egovMap" parameterType="map">
		/* AdmMnofcInfoMapper.selectMnofcInfoDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업수행자관리 > 코드관리 > 부처 정보 관리 - 부처등록 -->
	<insert id="insertMnofcInfo" parameterType="map">
		/* AdmMnofcInfoMapper.insertMnofcInfo */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 사업수행자관리 > 코드관리 > 부처 정보 관리 - 부처수정 -->
	<update id="updateMnofcInfo" parameterType="map">
		/* AdmMnofcInfoMapper.updateMnofcInfo */
		UPDATE irsuser.TEMP_TABLE
		   SET COL = #{col}
		     , MDFR_ID = #{sessionUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE CONDITION = #{condition}
	</update>

	<!-- [관리자] 사업수행자관리 > 코드관리 > 부처 정보 관리 - 하위부처목록조회 총건수 조회 -->
	<select id="selectSubMnofcInfoListCnt" resultType="int" parameterType="map">
		/* AdmMnofcInfoMapper.selectSubMnofcInfoListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [관리자] 사업수행자관리 > 코드관리 > 부처 정보 관리 - 하위부처목록조회 -->
	<select id="selectSubMnofcInfoList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* AdmMnofcInfoMapper.selectSubMnofcInfoList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [관리자] 사업수행자관리 > 코드관리 > 부처 정보 관리 - 하위부처상세조회 -->
	<select id="selectSubMnofcInfoDetail" resultType="egovMap" parameterType="map">
		/* AdmMnofcInfoMapper.selectSubMnofcInfoDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업수행자관리 > 코드관리 > 부처 정보 관리 - 하위부처등록 -->
	<insert id="insertSubMnofcInfo" parameterType="map">
		/* AdmMnofcInfoMapper.insertSubMnofcInfo */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 사업수행자관리 > 코드관리 > 부처 정보 관리 - 하위부처수정 -->
	<update id="updateSubMnofcInfo" parameterType="map">
		/* AdmMnofcInfoMapper.updateSubMnofcInfo */
		UPDATE irsuser.TEMP_TABLE
		   SET COL = #{col}
		     , MDFR_ID = #{sessionUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE CONDITION = #{condition}
	</update>


	
</mapper>
