<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.biz.mhdlg.mapper.BizMhdlgPrcndMapper">
	
	<!-- [공통] 방법론관리 > 방법론 현황 관리 - 방법론목록조회 총건수 조회 -->
	<select id="selectMhdlgPrcndListCnt" resultType="int" parameterType="map">
		/* BizMhdlgPrcndMapper.selectMhdlgPrcndListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [공통] 방법론관리 > 방법론 현황 관리 - 방법론목록조회 -->
	<select id="selectMhdlgPrcndList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* BizMhdlgPrcndMapper.selectMhdlgPrcndList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [공통] 방법론관리 > 방법론 현황 관리 - 방법론상세조회 -->
	<select id="selectMhdlgPrcndDetail" resultType="egovMap" parameterType="map">
		/* BizMhdlgPrcndMapper.selectMhdlgPrcndDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [공통] 방법론관리 > 방법론 현황 관리 - 액셀다운로드 -->
	<select id="selectMhdlgPrcndExcel" resultType="egovMap" parameterType="map">
		/* BizMhdlgPrcndMapper.selectMhdlgPrcndExcel */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>


	
</mapper>
