<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.biz.aply.mapper.BizAprvAplyMapper">
	
	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 사업목록조회 총건수 조회 -->
	<select id="selectAprvAplyListCnt" resultType="int" parameterType="map">
		/* BizAprvAplyMapper.selectAprvAplyListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 사업목록조회 -->
	<select id="selectAprvAplyList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* BizAprvAplyMapper.selectAprvAplyList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 사업상세조회 -->
	<select id="selectAprvAplyDetail" resultType="egovMap" parameterType="map">
		/* BizAprvAplyMapper.selectAprvAplyDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 사업등록 -->
	<insert id="insertAprvAply" parameterType="map">
		/* BizAprvAplyMapper.insertAprvAply */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 사업수정 -->
	<update id="updateAprvAply" parameterType="map">
		/* BizAprvAplyMapper.updateAprvAply */
		UPDATE irsuser.TEMP_TABLE
		   SET COL = #{col}
		     , MDFR_ID = #{sessionUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE CONDITION = #{condition}
	</update>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 사업수행자공통조회 -->
	<select id="selectCorpSrhList" resultType="egovMap" parameterType="map">
		/* BizAprvAplyMapper.selectCorpSrhList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 사업수행자동의등록 -->
	<update id="updateAprvAplyAgree" parameterType="map">
		/* BizAprvAplyMapper.updateAprvAplyAgree */
		UPDATE irsuser.TEMP_TABLE
		   SET COL = #{col}
		     , MDFR_ID = #{sessionUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE CONDITION = #{condition}
	</update>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 사업분야공통조회 -->
	<select id="selectBizSectSrhList" resultType="egovMap" parameterType="map">
		/* BizAprvAplyMapper.selectBizSectSrhList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 협정공통조회 -->
	<select id="selectAgrSrhList" resultType="egovMap" parameterType="map">
		/* BizAprvAplyMapper.selectAgrSrhList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 방법론공통조회 -->
	<select id="selectMhdlgSrhList" resultType="egovMap" parameterType="map">
		/* BizAprvAplyMapper.selectMhdlgSrhList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 평가결과조회 -->
	<select id="selectAprvAplyEvlRslt" resultType="egovMap" parameterType="map">
		/* BizAprvAplyMapper.selectAprvAplyEvlRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 문서보완등록 -->
	<insert id="insertAprvAplyDocSplmnt" parameterType="map">
		/* BizAprvAplyMapper.insertAprvAplyDocSplmnt */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 사전심의결과조회 -->
	<select id="selectAprvAplyDicDlbrRslt" resultType="egovMap" parameterType="map">
		/* BizAprvAplyMapper.selectAprvAplyDicDlbrRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 이의신청등록 -->
	<insert id="insertAprvAplyObjcAply" parameterType="map">
		/* BizAprvAplyMapper.insertAprvAplyObjcAply */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 이의신청조회 -->
	<select id="selectAprvAplyObjcAply" resultType="egovMap" parameterType="map">
		/* BizAprvAplyMapper.selectAprvAplyObjcAply */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 심의결과조회 -->
	<select id="selectAprvAplyDlbrRslt" resultType="egovMap" parameterType="map">
		/* BizAprvAplyMapper.selectAprvAplyDlbrRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 추가자료요청조회 -->
	<select id="selectAprvAplyDataDmnd" resultType="egovMap" parameterType="map">
		/* BizAprvAplyMapper.selectAprvAplyDataDmnd */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 추가자료등록 -->
	<insert id="insertAprvAplyDataReg" parameterType="map">
		/* BizAprvAplyMapper.insertAprvAplyDataReg */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 추가자료확인조회 -->
	<select id="selectAprvAplyDataIdnty" resultType="egovMap" parameterType="map">
		/* BizAprvAplyMapper.selectAprvAplyDataIdnty */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 추가자료결과조회 -->
	<select id="selectAprvAplyDataRslt" resultType="egovMap" parameterType="map">
		/* BizAprvAplyMapper.selectAprvAplyDataRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 이력목록조회 -->
	<select id="selectAprvAplyHistList" resultType="egovMap" parameterType="map">
		/* BizAprvAplyMapper.selectAprvAplyHistList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 보고서출력 -->
	<select id="selectAprvAplyRpt" resultType="egovMap" parameterType="map">
		/* BizAprvAplyMapper.selectAprvAplyRpt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 착수지연등록 -->
	<insert id="insertAprvAplyKoffDlay" parameterType="map">
		/* BizAprvAplyMapper.insertAprvAplyKoffDlay */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 착수지연조회 -->
	<select id="selectAprvAplyKoffDlay" resultType="egovMap" parameterType="map">
		/* BizAprvAplyMapper.selectAprvAplyKoffDlay */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 착수지연평가결과조회 -->
	<select id="selectAprvAplyKoffDlayEvlRslt" resultType="egovMap" parameterType="map">
		/* BizAprvAplyMapper.selectAprvAplyKoffDlayEvlRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 착수지연문서보완등록 -->
	<insert id="insertAprvAplyKoffDlayDocSplmnt" parameterType="map">
		/* BizAprvAplyMapper.insertAprvAplyKoffDlayDocSplmnt */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 착수지연결과조회 -->
	<select id="selectAprvAplyKoffDlayRslt" resultType="egovMap" parameterType="map">
		/* BizAprvAplyMapper.selectAprvAplyKoffDlayRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 착수신고등록 -->
	<insert id="insertAprvAplyKoffReg" parameterType="map">
		/* BizAprvAplyMapper.insertAprvAplyKoffReg */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 착수신고조회 -->
	<select id="selectAprvAplyKoffReg" resultType="egovMap" parameterType="map">
		/* BizAprvAplyMapper.selectAprvAplyKoffReg */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>


	
</mapper>
