<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.biz.aply.mapper.BizScsnChgAplyMapper">
	
	<!-- [사용자] 사업관리 > 사업 신청 관리 > 권리의무승계 - 권리의무승계 총건수 조회 -->
	<select id="selectScsnChgAplyListCnt" resultType="int" parameterType="map">
		SELECT
			COUNT(*) AS CNT
		FROM IRSUSER.IRB_BSC A
		INNER JOIN IRSUSER.IRB_DTL B
		ON A.BIZ_MNG_NO = B.BIZ_MNG_NO 
		AND A.PRCS_DGR = B.BIZ_DGR 
		WHERE 1=1		
		AND B.DGR_REG_RSN_CD = 'BGC0005'
		<if test="srhAplyClCd != null and !srhAplyClCd.equals('')">
		AND B.APLY_CL_CD = #{srhAplyClCd}
		</if>
		<if test="srhBizFormCd != null and !srhBizFormCd.equals('')">
		AND B.BIZ_FORM_CD = #{srhBizFormCd}
		</if>
		<if test="srhBizNm != null and !srhBizNm.equals('')">
		AND (B.BIZ_ORGT_NM LIKE CONCAT('%', #{srhBizNm}, '%') OR B.BIZ_KRN_NM LIKE CONCAT('%', #{srhBizNm}, '%'))
		</if>
	<choose>		
		<when test="srhPrcsTypeCd eq 'GPC0001'">AND B.PRCS_TYPE_CD = 'PTC0001'</when>
		<when test="srhPrcsTypeCd eq 'GPC0002'">AND B.PRCS_TYPE_CD = 'PTC0002'</when>
		<when test="srhPrcsTypeCd eq 'GPC0003'">AND B.PRCS_TYPE_CD = 'PTC0003'</when>
		<when test="srhPrcsTypeCd eq 'GPC0004'">AND B.PRCS_TYPE_CD IN ('PTC0004', 'PTC0005')</when>
		<when test="srhPrcsTypeCd eq 'GPC0005'">AND B.PRCS_TYPE_CD IN ('PTC0006', 'PTC0007')</when>
		<when test="srhPrcsTypeCd eq 'GPC0006'">AND B.PRCS_TYPE_CD = 'PTC0008'</when>
		<when test="srhPrcsTypeCd eq 'GPC0007'">AND B.PRCS_TYPE_CD = 'PTC0010'</when>
		<when test="srhPrcsTypeCd eq 'GPC0008'">AND B.PRCS_TYPE_CD = 'PTC0011'</when>
		<when test="srhPrcsTypeCd eq 'GPC0009'">AND B.PRCS_TYPE_CD = 'PTC0012'</when>
		<when test="srhPrcsTypeCd eq 'GPC0010'">AND B.PRCS_TYPE_CD = 'PTC0013'</when>
		<when test="srhPrcsTypeCd eq 'GPC0011'">AND B.PRCS_TYPE_CD = 'PTC0014'</when>
		<when test="srhPrcsTypeCd eq 'GPC0012'">AND B.PRCS_TYPE_CD = 'PTC0015'</when>
		<when test="srhPrcsTypeCd eq 'GPC0013'">AND B.PRCS_TYPE_CD = 'PTC0016'</when>
		<when test="srhPrcsTypeCd eq 'GPC0014'">AND B.PRCS_TYPE_CD = 'PTC0017'</when>
		<when test="srhPrcsTypeCd eq 'GPC0015'">AND B.PRCS_TYPE_CD = 'PTC0018'</when>
		<when test="srhPrcsTypeCd eq 'GPC0016'">AND B.PRCS_TYPE_CD IN ('PTC0019', 'PTC0020')</when>
		<when test="srhPrcsTypeCd eq 'GPC0017'">AND B.PRCS_TYPE_CD IN ('PTC0021', 'PTC0022')</when>
		<when test="srhPrcsTypeCd eq 'GPC0018'">AND B.PRCS_TYPE_CD = 'PTC0023'</when>
		<when test="srhPrcsTypeCd eq 'GPC0019'">AND B.PRCS_TYPE_CD = 'PTC0024'</when>
		<when test="srhPrcsTypeCd eq 'GPC0020'">AND B.PRCS_TYPE_CD = 'PTC0025'</when>
		<when test="srhPrcsTypeCd eq 'GPC0021'">AND B.PRCS_TYPE_CD IN ('PTC0027', 'PTC0028', 'PTC0029', 'PTC0030', 'PTC0031', 'PTC0032')</when>
		<when test="srhPrcsTypeCd eq 'GPC0022'">AND B.PRCS_TYPE_CD = 'PTC0026'</when>
	</choose>
		<if test="srhBizFldCd != null and !srhBizFldCd.equals('')">
		AND B.BIZ_FLD_CD = #{srhBizFldCd}
		</if>
		<if test="srhBizDtlsFldCd != null and !srhBizDtlsFldCd.equals('')">
		AND B.BIZ_DTLS_FLD_CD = #{srhBizDtlsFldCd}
		</if>
		<if test="srhBizTypeCd != null and !srhBizTypeCd.equals('')">
		AND B.BIZ_TYPE_CD = #{srhBizTypeCd}
		</if>
		<if test="srhBizScalCd != null and !srhBizScalCd.equals('')">
		AND B.BIZ_SCAL_CD = #{srhBizScalCd}
		</if>
		<if test="srhInstMngNo != null and !srhInstMngNo.equals('')">
		AND B.CMPTNC_INST_MNG_NO = #{srhInstMngNo} 
		</if>
		<if test="srhAddDataYn != null and !srhAddDataYn.equals('')">
		AND COALESCE(B.ADD_DATA_TYPE_CD, '') != ''
		</if>
		AND EXISTS (
			SELECT BIZ_MNG_NO 
			FROM IRSUSER.IRB_EXCR_DTL 
			WHERE 1=1
			AND BIZ_MNG_NO = B.BIZ_MNG_NO 
			AND BIZ_DGR = B.BIZ_DGR 
			AND INST_MGNO = #{auth.sInstMgno} 
			AND DEL_YN = 'N'
			UNION
			SELECT BIZ_MNG_NO 
			FROM IRSUSER.IRB_SCSN_EXCR_DTL 
			WHERE 1=1
			AND BIZ_MNG_NO = B.BIZ_MNG_NO 
			AND BIZ_DGR = B.BIZ_DGR 
			AND WPMP_INST_MGNO = #{auth.sInstMgno} 
			AND DEL_YN = 'N'
		)			
		<if test="srhMhdlg != null and !srhMhdlg.equals('')">
		AND B.BIZ_MNG_NO IN (
					SELECT DISTINCT
				BIZ_MNG_NO
			FROM IRSUSER.IRB_MHDLG_DTL 
			WHERE 1=1
			AND MHDLG_MGNO IN (
				SELECT MHDLG_MGNO 
				FROM IRSUSER.MHDLG_DTL 
				WHERE 1=1
				AND (MHDLG_ORGT_NM LIKE CONCAT('%', #{srhMhdlg}, '%') OR MHDLG_KRN_NM LIKE CONCAT('%', #{srhMhdlg}, '%'))
			)
		)
		</if>
		AND A.DEL_YN = 'N'
		AND B.DEL_YN = 'N'  
	</select>
	
	<!-- [사용자] 사업관리 > 사업 신청 관리 > 권리의무승계 - 사업목록조회 -->
	<select id="selectScsnChgAplyList" resultType="egovMap" parameterType="map">
		SELECT
			'' AS CHK	
			,(COUNT(*) OVER()) - (U.RN-1) AS NO																					
			,U.BIZ_MNG_NO 																					
			,U.BIZ_DGR		
			,U.BIZ_TYPE_CD
			,U.DGR_REG_RSN_CD
			,IRSUSER.FN_GET_CODENM('BIZ_GBN_CD', U.DGR_REG_RSN_CD) AS DGR_REG_RSN_CD_NM
			,IRSUSER.FN_GET_CODENM('APLY_CL_CD', U.APLY_CL_CD) AS APLY_CL_CD_NM	
			,IRSUSER.FN_GET_CODENM('AGREE_CLAUS_CD', U.AGREE_CLAUS_CD) AS AGREE_CLAUS_CD_NM	
			,CASE WHEN U.BIZ_TYPE_CD = 'BTC0003'
				THEN '[' || 
					(
						SELECT T.BIZ_ORGT_NM FROM (
							SELECT 
								BIZ_ORGT_NM, RANK() OVER(PARTITION BY BIZ_MNG_NO ORDER BY BIZ_DGR DESC) AS RN 
							FROM IRSUSER.IRB_PRGRM_DTL 
							WHERE 1=1
							AND BIZ_MNG_NO = U.PRGRM_MNG_NO
						) T
						WHERE T.RN = 1 
					) || '] ' || U.BIZ_ORGT_NM 	
				ELSE U.BIZ_ORGT_NM 	
			END AS BIZ_ORGT_NM
			,CASE WHEN U.BIZ_TYPE_CD = 'BTC0003'
				THEN '[' || 
					(
						SELECT T.BIZ_KRN_NM FROM (
							SELECT 
								BIZ_KRN_NM, RANK() OVER(PARTITION BY BIZ_MNG_NO ORDER BY BIZ_DGR DESC) AS RN 
							FROM IRSUSER.IRB_PRGRM_DTL 
							WHERE 1=1
							AND BIZ_MNG_NO = U.PRGRM_MNG_NO
						) T
						WHERE T.RN = 1 
					) || '] ' || U.BIZ_KRN_NM
				ELSE U.BIZ_KRN_NM 	
			END AS BIZ_KRN_NM
			,IRSUSER.FN_GET_CODENM('BIZ_TYPE_CD', U.BIZ_TYPE_CD) AS BIZ_TYPE_CD_NM
			,CASE WHEN U.BIZ_TYPE_CD = 'BTC0003'
				THEN (
					SELECT '단위사업 ' || CAST(COUNT(*) AS TEXT) || '건' AS CNT 
					FROM IRSUSER.IRB_DTL A
					INNER JOIN IRSUSER.IRB_BSC B
					ON A.BIZ_MNG_NO = B.BIZ_MNG_NO
					AND A.BIZ_DGR = B.PRCS_DGR
					WHERE A.PRGRM_MNG_NO = U.PRGRM_MNG_NO
				)
				ELSE '-'
			END AS BIZ_CNT
			,CASE WHEN U.BIZ_TYPE_CD = 'BTC0003'
				THEN '1' 	
				ELSE '0'
			END AS BIZ_STS
			,(
				SELECT 
					ARRAY_TO_STRING(ARRAY_AGG(T.NTN_CD_NM), ', ') AS NTN_CD_NM 
				FROM (
					SELECT 
						(SELECT NTN_KORN_NM FROM IRSUSER.COM_NTN_CD_BSC WHERE IATA_NTN_CD = A.IATA_NTN_CD) AS NTN_CD_NM
					FROM IRSUSER.IRB_NTN_DTL A
					WHERE 1=1
					AND A.BIZ_MNG_NO = U.BIZ_MNG_NO 
					AND A.BIZ_DGR = U.BIZ_DGR	
				) T
			) AS NTN_CD_NM 
			,IRSUSER.FN_GET_CODENM('BIZ_SCAL_CD', U.BIZ_SCAL_CD) AS BIZ_SCAL_CD_NM						
			,IRSUSER.FN_GET_CODENM('BIZ_FORM_CD', U.BIZ_FORM_CD) AS BIZ_FORM_CD_NM						
			,IRSUSER.FN_GET_CODENM('CERT_VLD_TYPE_CD', U.CERT_VLD_TYPE_CD) AS CERT_VLD_TYPE_CD_NM		
			,U.CERT_VLD_BGNG_YMD 
			,U.CERT_VLD_END_YMD  							
			,COALESCE(U.ATCNVR_RDCQTY, 0) AS ATCNVR_RDCQTY												
			,IRSUSER.FN_GET_CODENM('PRCS_TYPE_CD', U.PRCS_TYPE_CD) AS PRCS_TYPE_CD_NM			
			,'0' AS BZENT_STS		
			,COALESCE((SELECT BZENT_NM FROM IRSUSER.INST_BSC WHERE INST_MGNO = U.CMPTNC_INST_MNG_NO),'-') AS BZENT_NM																				
			,'1' AS HSTRY_STS																			
			,'이력' AS HSTRY_NM																			
			,'1' AS PRCS_GBN_STS	
			,CASE WHEN U.PRCS_TYPE_CD = 'PTC0001' THEN '조회'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0002' THEN '참여자확인'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0003' THEN '조회'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0004' THEN '문서보완'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0005' THEN '조회'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0006' THEN '문서재제출'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0007' THEN '조회'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0008' THEN '조회'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0010' THEN '조회'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0011' THEN '이의신청'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0013' THEN '조회'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0014' THEN '심의대기'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0015' THEN '조회'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0016' THEN '조회'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0012' THEN '조회'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0019' THEN '문서보완(심의)'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0020' THEN '조회'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0025' THEN '조회'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0021' THEN '문서재제출(심의)'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0022' THEN '조회'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0017' THEN '이의신청(심의)'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0023' THEN '조회'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0018' AND U.BIZ_KOFF_YN = 'Y' THEN '조회' 
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0018' AND U.BIZ_KOFF_YN != 'Y' THEN '착수보고' 
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0027' THEN '조회'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0030' THEN '착수지연문서보완'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0029' THEN '착수보고'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0028' THEN '조회'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0031' THEN '착수보고'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0032' THEN '착수보고'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0026' THEN '조회'
			 	  WHEN U.PRCS_TYPE_CD = 'PTC0024' THEN '참여자확인'
				  ELSE '-'
			END AS PRCS_GBN_NM
			,CASE WHEN U.BIZ_CHG_PSBLTY_YN = 'Y' OR U.CERT_PRD_UPDT_PSBLTY_YN = 'Y' OR U.CERT_BGNG_YMD_CHG_PSBLTY_YN = 'Y'
				THEN '1'
				ELSE '0'
			END AS CHG_STS
			,CASE WHEN U.BIZ_CHG_PSBLTY_YN = 'Y' OR U.CERT_PRD_UPDT_PSBLTY_YN = 'Y' OR U.CERT_BGNG_YMD_CHG_PSBLTY_YN = 'Y'
				THEN '갱신/변경'
				ELSE '-'
			END AS CHG_NM															
			,CASE WHEN COALESCE(U.ADD_DATA_TYPE_CD, '') != '' THEN '1' ELSE '0' END AS ADD_DATA_STS
			,CASE WHEN COALESCE(U.ADD_DATA_TYPE_CD, '') = 'ADT0001' THEN '자료요청'
			      WHEN COALESCE(U.ADD_DATA_TYPE_CD, '') = 'ADT0002' THEN '자료제출'
			      WHEN COALESCE(U.ADD_DATA_TYPE_CD, '') = 'ADT0003' THEN '자료확인(반려)'
			      WHEN COALESCE(U.ADD_DATA_TYPE_CD, '') = 'ADT0004' THEN '자료확인(승인)'
				  ELSE '-'
			END AS ADD_DATA_NM 
			,COALESCE((SELECT MAX(ADD_DATA_DGR) FROM IRSUSER.IRB_ADD_DATA_DTL WHERE BIZ_MNG_NO = U.BIZ_MNG_NO), 0) AS ADD_DATA_DGR
			,U.PRGRM_MNG_NO
			,CASE WHEN COALESCE(U.TYPE_CD, '') = 'DTC0001' THEN '보완' || U.DATA_DGR || '차'
				  WHEN COALESCE(U.TYPE_CD, '') = 'DTC0002' THEN '보완(심의)' || U.DATA_DGR || '차'
			 	  ELSE '-' 
			END AS TYPE_CD_NM 
			,U.BIZ_CHG_PSBLTY_YN
			,U.CERT_PRD_UPDT_PSBLTY_YN
			,U.CERT_BGNG_YMD_CHG_PSBLTY_YN
		FROM
		(
			SELECT
				ROW_NUMBER() OVER() AS RN
				, V.*
			FROM
				(
					SELECT 
						 A.BIZ_MNG_NO 
						,A.BIZ_UNQNO 
						,A.BIZ_KOFF_YN 
						,A.BIZ_CHG_PSBLTY_YN 
						,A.CERT_PRD_UPDT_PSBLTY_YN 
						,A.CERT_BGNG_YMD_CHG_PSBLTY_YN 
						,A.ADD_DATA_DMND_PSBLTY_YN 
						,A.DLAY_DCLR_DMND_PSBLTY_YN 
						,A.BIZ_RTRCN_DMND_PSBLTY_YN 
						,A.KOFF_DCLR_PSBLTY_YN 
						,A.BIZ_RLS_YN 
						,B.BIZ_DGR 
						,B.DGR_REG_RSN_CD
						,B.AGREE_MGNO
						,B.AGREE_DGR
						,B.INST_MGNO 
						,B.USER_ID 
						,B.PRGRM_MNG_NO
						,B.IATA_NTN_CD 
						,B.APLY_CL_CD 
						,B.AGREE_CLAUS_CD 
						,B.BIZ_FORM_CD 
						,B.BIZ_TYPE_CD 
						,B.BIZ_SCAL_CD 
						,B.BIZ_ORGT_NM 
						,B.BIZ_KRN_NM 
						,B.CERT_VLD_TYPE_CD 
						,B.CERT_VLD_BGNG_YMD 
						,B.CERT_VLD_END_YMD
						,B.ATCNVR_RDCQTY 
						,B.BIZ_FLD_CD 
						,B.BIZ_DTLS_FLD_CD 
						,B.CMPTNC_INST_MNG_NO 
						,B.APLY_TYPE_CD 
						,B.APLY_YMD 
						,B.PRCS_TYPE_CD 
						,B.PRCS_YMD 
						,B.ADD_DATA_TYPE_CD 
						,B.ADD_DATA_PRCS_YMD 
						,A.TYPE_CD
						,A.DATA_DGR
					FROM IRSUSER.IRB_BSC A
					INNER JOIN IRSUSER.IRB_DTL B
					ON A.BIZ_MNG_NO = B.BIZ_MNG_NO 
					AND A.PRCS_DGR = B.BIZ_DGR 
					WHERE 1=1		
					AND B.DGR_REG_RSN_CD = 'BGC0005'
					<if test="srhAplyClCd != null and !srhAplyClCd.equals('')">
					AND B.APLY_CL_CD = #{srhAplyClCd}
					</if>
					<if test="srhBizFormCd != null and !srhBizFormCd.equals('')">
					AND B.BIZ_FORM_CD = #{srhBizFormCd}
					</if>
					<if test="srhBizNm != null and !srhBizNm.equals('')">
					AND (B.BIZ_ORGT_NM LIKE CONCAT('%', #{srhBizNm}, '%') OR B.BIZ_KRN_NM LIKE CONCAT('%', #{srhBizNm}, '%'))
					</if>
				<choose>		
					<when test="srhPrcsTypeCd eq 'GPC0001'">AND B.PRCS_TYPE_CD = 'PTC0001'</when>
					<when test="srhPrcsTypeCd eq 'GPC0002'">AND B.PRCS_TYPE_CD = 'PTC0002'</when>
					<when test="srhPrcsTypeCd eq 'GPC0003'">AND B.PRCS_TYPE_CD = 'PTC0003'</when>
					<when test="srhPrcsTypeCd eq 'GPC0004'">AND B.PRCS_TYPE_CD IN ('PTC0004', 'PTC0005')</when>
					<when test="srhPrcsTypeCd eq 'GPC0005'">AND B.PRCS_TYPE_CD IN ('PTC0006', 'PTC0007')</when>
					<when test="srhPrcsTypeCd eq 'GPC0006'">AND B.PRCS_TYPE_CD = 'PTC0008'</when>
					<when test="srhPrcsTypeCd eq 'GPC0007'">AND B.PRCS_TYPE_CD = 'PTC0010'</when>
					<when test="srhPrcsTypeCd eq 'GPC0008'">AND B.PRCS_TYPE_CD = 'PTC0011'</when>
					<when test="srhPrcsTypeCd eq 'GPC0009'">AND B.PRCS_TYPE_CD = 'PTC0012'</when>
					<when test="srhPrcsTypeCd eq 'GPC0010'">AND B.PRCS_TYPE_CD = 'PTC0013'</when>
					<when test="srhPrcsTypeCd eq 'GPC0011'">AND B.PRCS_TYPE_CD = 'PTC0014'</when>
					<when test="srhPrcsTypeCd eq 'GPC0012'">AND B.PRCS_TYPE_CD = 'PTC0015'</when>
					<when test="srhPrcsTypeCd eq 'GPC0013'">AND B.PRCS_TYPE_CD = 'PTC0016'</when>
					<when test="srhPrcsTypeCd eq 'GPC0014'">AND B.PRCS_TYPE_CD = 'PTC0017'</when>
					<when test="srhPrcsTypeCd eq 'GPC0015'">AND B.PRCS_TYPE_CD = 'PTC0018'</when>
					<when test="srhPrcsTypeCd eq 'GPC0016'">AND B.PRCS_TYPE_CD IN ('PTC0019', 'PTC0020')</when>
					<when test="srhPrcsTypeCd eq 'GPC0017'">AND B.PRCS_TYPE_CD IN ('PTC0021', 'PTC0022')</when>
					<when test="srhPrcsTypeCd eq 'GPC0018'">AND B.PRCS_TYPE_CD = 'PTC0023'</when>
					<when test="srhPrcsTypeCd eq 'GPC0019'">AND B.PRCS_TYPE_CD = 'PTC0024'</when>
					<when test="srhPrcsTypeCd eq 'GPC0020'">AND B.PRCS_TYPE_CD = 'PTC0025'</when>
					<when test="srhPrcsTypeCd eq 'GPC0021'">AND B.PRCS_TYPE_CD IN ('PTC0027', 'PTC0028', 'PTC0029', 'PTC0030', 'PTC0031', 'PTC0032')</when>
					<when test="srhPrcsTypeCd eq 'GPC0022'">AND B.PRCS_TYPE_CD = 'PTC0026'</when>
				</choose>
					<if test="srhBizFldCd != null and !srhBizFldCd.equals('')">
					AND B.BIZ_FLD_CD = #{srhBizFldCd}
					</if>
					<if test="srhBizDtlsFldCd != null and !srhBizDtlsFldCd.equals('')">
					AND B.BIZ_DTLS_FLD_CD = #{srhBizDtlsFldCd}
					</if>
					<if test="srhBizTypeCd != null and !srhBizTypeCd.equals('')">
					AND B.BIZ_TYPE_CD = #{srhBizTypeCd}
					</if>
					<if test="srhBizScalCd != null and !srhBizScalCd.equals('')">
					AND B.BIZ_SCAL_CD = #{srhBizScalCd}
					</if>
					<if test="srhInstMngNo != null and !srhInstMngNo.equals('')">
					AND B.CMPTNC_INST_MNG_NO = #{srhInstMngNo} 
					</if>
					<if test="srhAddDataYn != null and !srhAddDataYn.equals('')">
					AND COALESCE(B.ADD_DATA_TYPE_CD, '') != ''
					</if>
					AND EXISTS (
						SELECT BIZ_MNG_NO 
						FROM IRSUSER.IRB_EXCR_DTL 
						WHERE 1=1
						AND BIZ_MNG_NO = B.BIZ_MNG_NO 
						AND BIZ_DGR = B.BIZ_DGR 
						AND INST_MGNO = #{auth.sInstMgno} 
						AND DEL_YN = 'N'
						UNION
						SELECT BIZ_MNG_NO 
						FROM IRSUSER.IRB_SCSN_EXCR_DTL 
						WHERE 1=1
						AND BIZ_MNG_NO = B.BIZ_MNG_NO 
						AND BIZ_DGR = B.BIZ_DGR 
						AND WPMP_INST_MGNO = #{auth.sInstMgno} 
						AND DEL_YN = 'N'
					)			
					<if test="srhMhdlg != null and !srhMhdlg.equals('')">
					AND B.BIZ_MNG_NO IN (
								SELECT DISTINCT
							BIZ_MNG_NO
						FROM IRSUSER.IRB_MHDLG_DTL 
						WHERE 1=1
						AND MHDLG_MGNO IN (
							SELECT MHDLG_MGNO 
							FROM IRSUSER.MHDLG_DTL 
							WHERE 1=1
							AND (MHDLG_ORGT_NM LIKE CONCAT('%', #{srhMhdlg}, '%') OR MHDLG_KRN_NM LIKE CONCAT('%', #{srhMhdlg}, '%'))
						)
					)
					</if>
					AND A.DEL_YN = 'N'
					AND B.DEL_YN = 'N'
					ORDER BY A.MDFCN_DT DESC		
			) V
		) U
		LIMIT #{pageNavigation.listSize}
		OFFSET (#{pageNavigation.pageNo} - 1) * #{pageNavigation.listSize}
	</select>

	<!-- [사용자] 사업관리 > 사업 신청 관리 > 권리의무승계 - 권리의무승계 총건수 조회 -->
	<select id="selectScsnChgAplyPopListCnt" resultType="int" parameterType="map">
		SELECT
			COUNT(*) AS CNT
		FROM IRSUSER.IRB_BSC A
		INNER JOIN IRSUSER.IRB_DTL B
		ON A.BIZ_MNG_NO = B.BIZ_MNG_NO 
		AND A.PRCS_DGR = B.BIZ_DGR 
		WHERE 1=1		
		<if test="srhBizNm != null and !srhBizNm.equals('')">
		AND (
			B.BIZ_ORGT_NM LIKE '%' || IRSUSER.FN_TRANSFORM_SPECIAL_CHARS(#{srhBizNm}) || '%' 
			OR 
			B.BIZ_KRN_NM LIKE '%' || IRSUSER.FN_TRANSFORM_SPECIAL_CHARS(#{srhBizNm}) || '%'
		)
		</if>
		<if test="srhBizTypeCd != null and !srhBizTypeCd.equals('')">
		AND B.BIZ_TYPE_CD = #{srhBizTypeCd}
		</if>
		AND EXISTS (
			SELECT BIZ_MNG_NO 
			FROM IRSUSER.IRB_EXCR_DTL 
			WHERE 1=1
			AND BIZ_MNG_NO = B.BIZ_MNG_NO 
			AND BIZ_DGR = B.BIZ_DGR 
			AND INST_MGNO = #{auth.sInstMgno} 
			AND DEL_YN = 'N'
		)		
		AND A.DEL_YN = 'N'
		AND B.DEL_YN = 'N'  
	</select>
	
	<!-- [사용자] 사업관리 > 사업 신청 관리 > 권리의무승계 - 사업목록조회 -->
	<select id="selectScsnChgAplyPopList" resultType="egovMap" parameterType="map">
		SELECT
			'' AS CHK	
			,(COUNT(*) OVER()) - (U.RN-1) AS NO
			,U.BIZ_MNG_NO
			,CAST(U.BIZ_DGR AS TEXT) AS BIZ_DGR
			,U.DGR_REG_RSN_CD
			,U.BIZ_TYPE_CD
			,IRSUSER.FN_GET_CODENM('AGREE_CLAUS_CD', U.AGREE_CLAUS_CD) AS AGREE_CLAUS_CD_NM
			,CASE WHEN U.BIZ_TYPE_CD = 'BTC0003'
				THEN '[' || 
					(
						SELECT T.BIZ_ORGT_NM FROM (
							SELECT 
								BIZ_ORGT_NM, RANK() OVER(PARTITION BY BIZ_MNG_NO ORDER BY BIZ_DGR DESC) AS RN 
							FROM IRSUSER.IRB_PRGRM_DTL 
							WHERE 1=1
							AND BIZ_MNG_NO = U.PRGRM_MNG_NO
						) T
						WHERE T.RN = 1 
					) || '] ' || U.BIZ_ORGT_NM 	
				ELSE U.BIZ_ORGT_NM 	
			END AS BIZ_ORGT_NM
			,CASE WHEN U.BIZ_TYPE_CD = 'BTC0003'
				THEN '[' || 
					(
						SELECT T.BIZ_KRN_NM FROM (
							SELECT 
								BIZ_KRN_NM, RANK() OVER(PARTITION BY BIZ_MNG_NO ORDER BY BIZ_DGR DESC) AS RN 
							FROM IRSUSER.IRB_PRGRM_DTL 
							WHERE 1=1
							AND BIZ_MNG_NO = U.PRGRM_MNG_NO
						) T
						WHERE T.RN = 1 
					) || '] ' || U.BIZ_KRN_NM
				ELSE U.BIZ_KRN_NM 	
			END AS BIZ_KRN_NM
			,IRSUSER.FN_GET_CODENM('BIZ_TYPE_CD', U.BIZ_TYPE_CD) AS BIZ_TYPE_CD_NM
			,IRSUSER.FN_GET_CODENM('CERT_VLD_TYPE_CD', U.CERT_VLD_TYPE_CD) AS CERT_VLD_TYPE_CD_NM		
			,U.CERT_VLD_BGNG_YMD 
			,U.CERT_VLD_END_YMD  	
			,COALESCE((SELECT BZENT_NM FROM IRSUSER.INST_BSC WHERE INST_MGNO = U.CMPTNC_INST_MNG_NO),'-') AS BZENT_NM
			,IRSUSER.FN_GET_CODENM('PRCS_TYPE_CD', U.PRCS_TYPE_CD) AS PRCS_TYPE_CD_NM	
			,CASE WHEN COALESCE(U.ADD_DATA_TYPE_CD, '') = 'ADT0001' THEN '자료요청'
			      WHEN COALESCE(U.ADD_DATA_TYPE_CD, '') = 'ADT0002' THEN '자료제출'
			      WHEN COALESCE(U.ADD_DATA_TYPE_CD, '') = 'ADT0003' THEN '자료확인(반려)'
			      WHEN COALESCE(U.ADD_DATA_TYPE_CD, '') = 'ADT0004' THEN '자료확인(승인)'
				  ELSE '-'
			END AS ADD_DATA_NM 		
			,CASE WHEN U.RTADTI_SCSN_PSBLTY_YN = 'Y' THEN '1' ELSE '0' END AS BTN_STS
			,CASE WHEN U.RTADTI_SCSN_PSBLTY_YN = 'Y' THEN '선택' ELSE '선택불가' END AS BTN_NM
		FROM (
			SELECT
				ROW_NUMBER() OVER() AS RN
				, V.*
			FROM
				(
				SELECT 
					 A.BIZ_MNG_NO, A.RTADTI_SCSN_PSBLTY_YN
					,B.BIZ_DGR ,B.AGREE_CLAUS_CD, B.BIZ_ORGT_NM, B.BIZ_KRN_NM, B.BIZ_TYPE_CD  
					,B.CERT_VLD_TYPE_CD, B.CERT_VLD_BGNG_YMD, B.CERT_VLD_END_YMD, B.DGR_REG_RSN_CD
					,B.PRCS_TYPE_CD, B.ADD_DATA_TYPE_CD, B.PRGRM_MNG_NO, B.CMPTNC_INST_MNG_NO			
				FROM IRSUSER.IRB_BSC A
				INNER JOIN IRSUSER.IRB_DTL B
				ON A.BIZ_MNG_NO = B.BIZ_MNG_NO 
				AND A.PRCS_DGR = B.BIZ_DGR 
				WHERE 1=1		
				<if test="srhBizNm != null and !srhBizNm.equals('')">
				AND (
					B.BIZ_ORGT_NM LIKE '%' || IRSUSER.FN_TRANSFORM_SPECIAL_CHARS(#{srhBizNm}) || '%' 
					OR 
					B.BIZ_KRN_NM LIKE '%' || IRSUSER.FN_TRANSFORM_SPECIAL_CHARS(#{srhBizNm}) || '%'
				)
				</if>
				<if test="srhBizTypeCd != null and !srhBizTypeCd.equals('')">
				AND B.BIZ_TYPE_CD = #{srhBizTypeCd}
				</if>					
				AND EXISTS (
					SELECT BIZ_MNG_NO 
					FROM IRSUSER.IRB_EXCR_DTL 
					WHERE 1=1
					AND BIZ_MNG_NO = B.BIZ_MNG_NO 
					AND BIZ_DGR = B.BIZ_DGR 
					AND INST_MGNO = #{auth.sInstMgno} 
					AND DEL_YN = 'N'
				)		
				AND A.DEL_YN = 'N'
				AND B.DEL_YN = 'N'
				ORDER BY A.MDFCN_DT DESC		
			) V
		) U
		LIMIT #{pageNavigation.listSize}
		OFFSET (#{pageNavigation.pageNo} - 1) * #{pageNavigation.listSize}		
	</select>
	
	<select id="selectAprvAplyScsnExcrList" resultType="egovMap" parameterType="map">
		SELECT 	
			 A.BIZ_MNG_NO AS BIZ_MNG_NO
			,A.BIZ_DGR  AS BIZ_DGR
			,A.SN AS SN
			,A.INST_MGNO AS HNOV_INST_MGNO
			,COALESCE(A.ATCNVR_RDCQTY, 0) AS HNOV_ATCNVR_RDCQTY
			,'' AS HNOV_BLCK_MGNO
			,0 AS HNOV_QTY
			,''  AS WPMP_INST_MGNO
			,0 AS WPMP_ATCNVR_RDCQTY
			,'' AS WPMP_BLCK_MGNO
			,0 AS WPMP_QTY
			,'N' AS CHK
			,CASE WHEN A.INST_MGNO = C.INST_MGNO THEN 'Y' ELSE 'N' END AS MASTER_YN
			,B.BZENT_NM
			,B.BRNO 
			,B.RPRSV_NM
		FROM IRSUSER.IRB_EXCR_DTL A
		LEFT OUTER JOIN IRSUSER.INST_BSC B
		ON A.INST_MGNO = B.INST_MGNO 
		INNER JOIN IRSUSER.IRB_DTL C
		ON A.BIZ_MNG_NO = C.BIZ_MNG_NO 
		AND A.BIZ_DGR = C.BIZ_DGR 
		WHERE 1=1
		AND A.BIZ_MNG_NO = #{bizMngNo}
		AND A.BIZ_DGR = CAST(#{bizDgr} AS NUMERIC)	
		ORDER BY A.SN ASC
	</select>
	
	<select id="selectAprvAplyScsnExcrVewList" resultType="egovMap" parameterType="map">
		SELECT 	
			 A.BIZ_MNG_NO AS BIZ_MNG_NO
			,A.BIZ_DGR  AS BIZ_DGR
			,A.SN AS SN
			,A.INST_MGNO AS HNOV_INST_MGNO
			,COALESCE(A.ATCNVR_RDCQTY, 0) AS HNOV_ATCNVR_RDCQTY
			,'' AS HNOV_BLCK_MGNO
			,0 AS HNOV_QTY
			,''  AS WPMP_INST_MGNO
			,0 AS WPMP_ATCNVR_RDCQTY
			,'' AS WPMP_BLCK_MGNO
			,0 AS WPMP_QTY
			,'Y' AS CHK
			,CASE WHEN A.INST_MGNO = C.INST_MGNO THEN 'Y' ELSE 'N' END AS MASTER_YN
			,B.BZENT_NM
			,B.BRNO 
			,B.RPRSV_NM
		FROM IRSUSER.IRB_EXCR_DTL A
		INNER JOIN IRSUSER.INST_BSC B
		ON A.INST_MGNO = B.INST_MGNO 
		INNER JOIN IRSUSER.IRB_DTL C
		ON A.BIZ_MNG_NO = C.BIZ_MNG_NO 
		AND A.BIZ_DGR = C.BIZ_DGR 
		INNER JOIN IRSUSER.IRB_SCSN_EXCR_DTL D
		ON C.BIZ_MNG_NO = D.BIZ_MNG_NO
		AND D.BIZ_DGR = CAST(#{bizDgr} AS NUMERIC)
		AND A.INST_MGNO = D.HNOV_INST_MGNO
		WHERE 1=1
		AND A.BIZ_MNG_NO = #{bizMngNo}
		AND A.BIZ_DGR = CAST(#{scsnBgngDgr} AS NUMERIC)	
		ORDER BY A.SN ASC
	</select>
	
	<select id="selectAprvAplyScsnMesuExcrVewList" resultType="egovMap" parameterType="map">
		SELECT 	
			 A.BIZ_MNG_NO AS BIZ_MNG_NO
			,A.BIZ_DGR  AS BIZ_DGR
			,A.SN AS SN
			,A.HNOV_INST_MGNO
			,COALESCE(A.HNOV_ATCNVR_RDCQTY, 0) AS HNOV_ATCNVR_RDCQTY
			,'' AS HNOV_BLCK_MGNO
			,0 AS HNOV_QTY
			,A.WPMP_INST_MGNO
			,COALESCE(A.WPMP_ATCNVR_RDCQTY, 0) AS WPMP_ATCNVR_RDCQTY
			,'' AS WPMP_BLCK_MGNO
			,0 AS WPMP_QTY
			,CASE WHEN A.WPMP_INST_MGNO = #{auth.sInstMgno} AND A.AGRE_YN != 'Y' THEN 'Y' ELSE 'N' END AS CHK
			,CASE WHEN A.WPMP_INST_MGNO = #{auth.sInstMgno} AND A.AGRE_YN != 'Y' THEN '동의'
			      WHEN A.AGRE_YN = 'Y' THEN '동의' 
			      ELSE '-' 
			END AS CHK_NM
			,'N' AS MASTER_YN
			,B.BZENT_NM
			,B.BRNO 
			,B.RPRSV_NM
		FROM IRSUSER.IRB_SCSN_EXCR_DTL A
		INNER JOIN IRSUSER.INST_BSC B
		ON A.WPMP_INST_MGNO = B.INST_MGNO 
		INNER JOIN IRSUSER.IRB_DTL C
		ON A.BIZ_MNG_NO = C.BIZ_MNG_NO 
		AND A.BIZ_DGR = C.BIZ_DGR 
		WHERE 1=1
		AND A.BIZ_MNG_NO = #{bizMngNo}
		AND A.BIZ_DGR = CAST(#{bizDgr} AS NUMERIC)		
		ORDER BY A.SN ASC
	</select>
	
	<select id="selectAprvAplyScsnMesuExcrModList" resultType="egovMap" parameterType="map">
		SELECT 	
			 A.BIZ_MNG_NO AS BIZ_MNG_NO
			,A.BIZ_DGR  AS BIZ_DGR
			,A.SN AS SN
			,A.HNOV_INST_MGNO
			,COALESCE(A.HNOV_ATCNVR_RDCQTY, 0) AS HNOV_ATCNVR_RDCQTY
			,'' AS HNOV_BLCK_MGNO
			,0 AS HNOV_QTY
			,A.WPMP_INST_MGNO
			,COALESCE(A.WPMP_ATCNVR_RDCQTY, 0) AS WPMP_ATCNVR_RDCQTY
			,'' AS WPMP_BLCK_MGNO
			,0 AS WPMP_QTY
			,'N' AS CHK
			,CASE WHEN A.WPMP_INST_MGNO = #{auth.sInstMgno} THEN '동의' ELSE '-' END AS CHK_NM
			,'N' AS MASTER_YN
			,B.BZENT_NM
			,B.BRNO 
			,B.RPRSV_NM
		FROM IRSUSER.IRB_SCSN_EXCR_DTL A
		LEFT OUTER JOIN IRSUSER.INST_BSC B
		ON A.WPMP_INST_MGNO = B.INST_MGNO 
		INNER JOIN IRSUSER.IRB_DTL C
		ON A.BIZ_MNG_NO = C.BIZ_MNG_NO 
		AND A.BIZ_DGR = C.BIZ_DGR 
		WHERE 1=1
		AND A.BIZ_MNG_NO = #{bizMngNo}
		AND A.BIZ_DGR = CAST(#{bizDgr} AS NUMERIC)		
		ORDER BY A.SN ASC
	</select>
	
	<select id="selectAprvAplyUnitDetail" resultType="egovMap" parameterType="map">
		SELECT 
			 B.BIZ_MNG_NO
			,B.BIZ_DGR
			,B.DGR_REG_RSN_CD
			,IRSUSER.FN_GET_CODENM('BIZ_GBN_CD', B.DGR_REG_RSN_CD) AS DGR_REG_RSN_CD_NM
			,B.AGREE_MGNO
			,(
				SELECT CNCLD_KRN_NM 
				FROM IRSUSER.AGREE_STIPL_BSC 
				WHERE CNCLD_MGNO = B.AGREE_MGNO 
				AND CNCLD_DGR = B.AGREE_DGR
			) AS AGREE_MGNO_NM
			,B.AGREE_DGR
			,B.INST_MGNO
			,B.USER_ID
			,B.PRGRM_MNG_NO
			,B.BPLC_NM
			,B.BIZ_ENFC_PLC_NM
			,B.IATA_NTN_CD
			,(SELECT NTN_KORN_NM FROM IRSUSER.COM_NTN_CD_BSC WHERE IATA_NTN_CD = B.IATA_NTN_CD) AS IATA_NTN_CD_NM 	
			,B.APLY_CL_CD
			,IRSUSER.FN_GET_CODENM('APLY_CL_CD', B.APLY_CL_CD) AS APLY_CL_CD_NM	
			,B.AGREE_CLAUS_CD
			,IRSUSER.FN_GET_CODENM('AGREE_CLAUS_CD', B.AGREE_CLAUS_CD) AS AGREE_CLAUS_CD_NM	
			,B.BIZ_FORM_CD
			,IRSUSER.FN_GET_CODENM('BIZ_FORM_CD', B.BIZ_FORM_CD) AS BIZ_FORM_CD_NM		
			,B.BIZ_TYPE_CD
			,IRSUSER.FN_GET_CODENM('BIZ_TYPE_CD', B.BIZ_TYPE_CD) AS BIZ_TYPE_CD_NM
			,B.BIZ_SCAL_CD
			,IRSUSER.FN_GET_CODENM('BIZ_SCAL_CD', B.BIZ_SCAL_CD) AS BIZ_SCAL_CD_NM	
			,B.BIZ_ORGT_NM
			,B.BIZ_KRN_NM
			,B.KOFF_PRNMNT_YMD 
			,CAST(CAST(B.KOFF_PRNMNT_YMD AS DATE) AS TEXT) AS KOFF_PRNMNT_YMD_NM
			,B.CERT_VLD_TYPE_CD
			,IRSUSER.FN_GET_CODENM('CERT_VLD_TYPE_CD', B.CERT_VLD_TYPE_CD) AS CERT_VLD_TYPE_CD_NM	
			,B.CERT_VLD_BGNG_YMD
			,B.CERT_VLD_END_YMD
			,CAST(CAST(B.CERT_VLD_BGNG_YMD AS DATE) AS TEXT) || ' ~ ' || CAST(CAST(B.CERT_VLD_END_YMD AS DATE) AS TEXT) AS CERT_VLD_YMD
			,COALESCE(B.BFCNVR_RDCQTY, 0) AS BFCNVR_RDCQTY
			,B.RDC_UNIT_CD
			,IRSUSER.FN_GET_CODENM('RDC_UNIT_CD', B.RDC_UNIT_CD) AS BFCNVR_RDCQTY_NM	
			,B.CNVR_COEF_CN
			,B.CNVR_BASS_CN
			,COALESCE(B.ATCNVR_RDCQTY, 0) AS ATCNVR_RDCQTY
			,IRSUSER.FN_GET_CODENM('RDC_UNIT_CD', 'RUC0001') AS ATCNVR_RDCQTY_NM
			,B.BIZ_FLD_CD
			,B.BIZ_DTLS_FLD_CD
			,(
				SELECT BIZ_FLD_KORN_NM 
				FROM IRSUSER.COM_BIZ_FLD_BSC 
				WHERE BIZ_FLD_CD_MGNO = B.BIZ_FLD_CD
			) AS BIZ_FLD_CD_NM
			,(
				SELECT BIZ_DTLS_FLD_KORN_NM 
				FROM IRSUSER.COM_BIZ_FLD_DTL 
				WHERE BIZ_FLD_CD_MGNO = B.BIZ_FLD_CD 
				AND BIZ_FLD_DTLS_CD_MGNO = B.BIZ_DTLS_FLD_CD
			) AS BIZ_FLD_CD_NM	
			,(
				SELECT BIZ_FLD_KORN_NM 
				FROM IRSUSER.COM_BIZ_FLD_BSC 
				WHERE BIZ_FLD_CD_MGNO = B.BIZ_FLD_CD
			) || ' > ' || 
			(
				SELECT BIZ_DTLS_FLD_KORN_NM 
				FROM IRSUSER.COM_BIZ_FLD_DTL 
				WHERE BIZ_FLD_CD_MGNO = B.BIZ_FLD_CD 
				AND BIZ_FLD_DTLS_CD_MGNO = B.BIZ_DTLS_FLD_CD
			) AS BIZ_FLD_CD_SNM			
			,COALESCE(B.SOP_RDCQTY, 0) AS SOP_RDCQTY
			,B.SOP_UNIT_CD
			,IRSUSER.FN_GET_CODENM('SOP_UNIT_CD', B.SOP_UNIT_CD) AS SOP_UNIT_CD_NM
			,COALESCE(B.OMGE_RDCQTY, 0) AS OMGE_RDCQTY
			,B.OMGE_UNIT_CD
			,IRSUSER.FN_GET_CODENM('OMGE_UNIT_CD', B.OMGE_UNIT_CD) AS OMGE_UNIT_CD_NM
			,B.BIZ_PLND_FLMNO
			,B.ETC_DATA_FLMNO
			,B.CNVR_BASS_DATA_FLMNO
			,B.TRSM_YN
			,CASE WHEN B.TRSM_YN = 'Y' THEN '동의' ELSE '미동의' END AS TRSM_YN_NM
			,B.CMPTNC_INST_MNG_NO
			,B.APLY_TYPE_CD
			,B.APLY_YMD
			,B.PRCS_TYPE_CD
			,B.PRCS_YMD
			,B.ADD_DATA_TYPE_CD
			,B.ADD_DATA_PRCS_YMD
			,B.EVL_SN
			,B.DIC_DLBR_SN
			,B.DLBR_SN
			,B.DLAY_SN
			,B.RTRCN_SN
			,B.DEL_YN
			,A.BIZ_UNQNO
			,A.BIZ_CHG_PSBLTY_YN
			,A.CERT_PRD_UPDT_PSBLTY_YN
			,A.CERT_BGNG_YMD_CHG_PSBLTY_YN
			,A.RTADTI_SCSN_PSBLTY_YN
			,A.ADD_DATA_DMND_PSBLTY_YN
			,A.DLAY_DCLR_DMND_PSBLTY_YN
			,A.BIZ_RTRCN_DMND_PSBLTY_YN
			,A.KOFF_DCLR_PSBLTY_YN
			,A.BIZ_KOFF_DGR
			,B.REDD_PLUS_YN
			,B.CHG_CN
			,(
				SELECT
					'(변경전 : ' || CAST(CAST(T2.CERT_VLD_BGNG_YMD AS DATE) AS TEXT) || ' ~ ' || CAST(CAST(T2.CERT_VLD_END_YMD AS DATE) AS TEXT) || ' )'
				FROM IRSUSER.IRB_BSC T1
				INNER JOIN IRSUSER.IRB_DTL T2
				ON T1.BIZ_MNG_NO = T2.BIZ_MNG_NO
				AND T2.BIZ_DGR = (
									SELECT MAX(BIZ_DGR) 
									FROM IRSUSER.IRB_DTL 
									WHERE BIZ_MNG_NO = #{bizMngNo} 
									AND BIZ_DGR <![CDATA[<]]> CAST(#{bizDgr} AS NUMERIC)	
									AND PRCS_TYPE_CD IN ('PTC0018', 'PTC0029', 'PTC0031', 'PTC0032', 'PTC0026')	
								)
				WHERE 1=1
				AND T1.BIZ_MNG_NO = #{bizMngNo}
			) AS OLD_CERT_VLD_YMD
			,B.SCSN_GBN_CD
			,B.SCSN_CN
			,B.SCSN_DATA_FLMNO
			,B.SCSN_BIZ_PLND_FLMNO
			,B.SCSN_ETC_DATA_FLMNO
			,CAST(B.SCSN_BGNG_DGR AS TEXT) AS SCSN_BGNG_DGR
		FROM IRSUSER.IRB_BSC A
		INNER JOIN IRSUSER.IRB_DTL B
		ON A.BIZ_MNG_NO = B.BIZ_MNG_NO 
		WHERE 1=1
		AND A.BIZ_MNG_NO = #{bizMngNo}
		AND B.BIZ_DGR = CAST(#{bizDgr} AS NUMERIC)	
	</select>
	
	<update id="updateAprvAplyIrbBscScsn" parameterType="map">
		UPDATE IRSUSER.IRB_BSC SET
			 TYPE_CD = NULL
			,DATA_DGR = NULL
			,PRCS_DGR = CAST(#{bizDgr} AS NUMERIC)
			,VLD_BIZ_DGR = VLD_BIZ_DGR
			,BIZ_KOFF_DGR = BIZ_KOFF_DGR
			,BIZ_KOFF_YMD = BIZ_KOFF_YMD
			,KOFF_RPT_FLMNO = KOFF_RPT_FLMNO
			,BIZ_KOFF_YN = BIZ_KOFF_YN
			,BIZ_UNQNO = BIZ_UNQNO
			,BIZ_RTRCN_YN = BIZ_RTRCN_YN
			,BIZ_RTRCN_YMD = BIZ_RTRCN_YMD
			,BIZ_CHG_PSBLTY_YN = 'N'
			,CERT_PRD_UPDT_PSBLTY_YN = 'N'
			,CERT_BGNG_YMD_CHG_PSBLTY_YN = 'N'
			,RTADTI_SCSN_PSBLTY_YN = 'N'
			,ADD_DATA_DMND_PSBLTY_YN = 'N'
			,DLAY_DCLR_DMND_PSBLTY_YN = 'N'
			,BIZ_RTRCN_DMND_PSBLTY_YN = 'N'
			,KOFF_DCLR_PSBLTY_YN = 'N'
			,BIZ_RLS_YN = BIZ_RLS_YN
			,MDFR_ID = #{auth.sUserId}
			,MDFCN_DT = CURRENT_TIMESTAMP
			,SCSN_TYPE_CD = #{dgrRegRsnCd}
			,SCSN_DATA_DGR = CASE WHEN COALESCE(SCSN_DATA_DGR, 0) <![CDATA[<]]> 1 THEN 1 ELSE SCSN_DATA_DGR+1 END 
			,SCSN_DGR = CAST(#{bizDgr} AS NUMERIC) 
		WHERE 1=1
		AND BIZ_MNG_NO = #{bizMngNo}		
	</update>
	
	<update id="updateAprvAplyIrbReBscScsn" parameterType="map">
		UPDATE IRSUSER.IRB_BSC SET
			 PRCS_DGR = CAST(#{bizDgr} AS NUMERIC)
			,VLD_BIZ_DGR = VLD_BIZ_DGR
			,BIZ_KOFF_DGR = BIZ_KOFF_DGR
			,BIZ_KOFF_YMD = BIZ_KOFF_YMD
			,KOFF_RPT_FLMNO = KOFF_RPT_FLMNO
			,BIZ_KOFF_YN = BIZ_KOFF_YN
			,BIZ_UNQNO = BIZ_UNQNO
			,BIZ_RTRCN_YN = BIZ_RTRCN_YN
			,BIZ_RTRCN_YMD = BIZ_RTRCN_YMD
			,BIZ_CHG_PSBLTY_YN = BIZ_CHG_PSBLTY_YN
			,CERT_PRD_UPDT_PSBLTY_YN = CERT_PRD_UPDT_PSBLTY_YN
			,CERT_BGNG_YMD_CHG_PSBLTY_YN = CERT_BGNG_YMD_CHG_PSBLTY_YN
			,RTADTI_SCSN_PSBLTY_YN = RTADTI_SCSN_PSBLTY_YN
			,ADD_DATA_DMND_PSBLTY_YN = ADD_DATA_DMND_PSBLTY_YN
			,DLAY_DCLR_DMND_PSBLTY_YN = DLAY_DCLR_DMND_PSBLTY_YN
			,BIZ_RTRCN_DMND_PSBLTY_YN = BIZ_RTRCN_DMND_PSBLTY_YN
			,KOFF_DCLR_PSBLTY_YN = KOFF_DCLR_PSBLTY_YN
			,BIZ_RLS_YN = BIZ_RLS_YN
			,MDFR_ID = #{auth.sUserId}
			,MDFCN_DT = CURRENT_TIMESTAMP
			,SCSN_TYPE_CD = #{dgrRegRsnCd}
			,SCSN_DATA_DGR = SCSN_DATA_DGR
			,SCSN_DGR = CAST(#{bizDgr} AS NUMERIC) 
		WHERE 1=1
		AND BIZ_MNG_NO = #{bizMngNo}
	</update>
	
	<insert id="insertAprvAplyIrbPrgrmScsn" parameterType="map">
		INSERT INTO IRSUSER.IRB_PRGRM_DTL (
			 BIZ_MNG_NO
			,BIZ_DGR
			,AGREE_MGNO
			,AGREE_DGR
			,INST_MGNO
			,USER_ID
			,BPLC_NM
			,BIZ_ENFC_PLC_NM
			,AGREE_CLAUS_CD
			,BIZ_ORGT_NM
			,BIZ_KRN_NM
			,CERT_VLD_BGNG_YMD
			,CERT_VLD_END_YMD
			,BIZ_FLD_CD
			,BIZ_DTLS_FLD_CD
			,BIZ_PLND_FLMNO
			,ETC_DATA_FLMNO
			,CNVR_BASS_DATA_FLMNO
			,DEL_YN
			,RGTR_ID
			,REG_DT
			,REDD_PLUS_YN
		) 
		SELECT
			 BIZ_MNG_NO
			,CAST(#{bizDgr} AS NUMERIC) BIZ_DGR
			,AGREE_MGNO
			,AGREE_DGR
			,#{auth.sInstMgno} AS INST_MGNO
			,#{auth.sUserId} AS USER_ID
			,BPLC_NM
			,BIZ_ENFC_PLC_NM
			,AGREE_CLAUS_CD
			,BIZ_ORGT_NM
			,BIZ_KRN_NM
			,CERT_VLD_BGNG_YMD
			,CERT_VLD_END_YMD
			,BIZ_FLD_CD
			,BIZ_DTLS_FLD_CD
			,BIZ_PLND_FLMNO
			,ETC_DATA_FLMNO
			,CNVR_BASS_DATA_FLMNO
			,'N' AS DEL_YN
			,#{auth.sUserId} AS RGTR_ID
			,CURRENT_TIMESTAMP AS REG_DT	
			,REDD_PLUS_YN
		FROM IRSUSER.IRB_PRGRM_DTL
		WHERE 1=1
		AND BIZ_MNG_NO = #{bizMngNo}
		AND BIZ_DGR = CAST(#{bfBizDgr} AS NUMERIC)
	</insert>
	
	<insert id="insertAprvAplyIrbPrgrmNtnScsn" parameterType="map">
		INSERT INTO IRSUSER.IRB_PRGRM_NTN_DTL (
			 BIZ_MNG_NO
			,BIZ_DGR
			,SN
			,IATA_NTN_CD
			,INST_NM
			,DEPT_NM
			,DEL_YN
			,RGTR_ID
			,REG_DT		
		) 
		SELECT
			 BIZ_MNG_NO
			,CAST(#{bizDgr} AS NUMERIC) BIZ_DGR
			,SN
			,IATA_NTN_CD
			,INST_NM
			,DEPT_NM
			,DEL_YN
			,#{auth.sUserId} AS RGTR_ID
			,CURRENT_TIMESTAMP AS REG_DT		
		FROM IRSUSER.IRB_PRGRM_NTN_DTL
		WHERE 1=1
		AND BIZ_MNG_NO = #{bizMngNo}
		AND BIZ_DGR = CAST(#{bfBizDgr} AS NUMERIC)
	</insert>
	
	<insert id="insertAprvAplyIrbPrgrmMhdlgScsn" parameterType="map">
		INSERT INTO IRSUSER.IRB_PRGRM_MHDLG_DTL (
			 BIZ_MNG_NO
			,BIZ_DGR
			,MHDLG_MGNO
			,DEL_YN
			,RGTR_ID
			,REG_DT			
		) 
		SELECT
			 BIZ_MNG_NO
			,CAST(#{bizDgr} AS NUMERIC) BIZ_DGR
			,MHDLG_MGNO
			,DEL_YN
			,#{auth.sUserId} AS RGTR_ID
			,CURRENT_TIMESTAMP AS REG_DT		
		FROM IRSUSER.IRB_PRGRM_MHDLG_DTL
		WHERE 1=1
		AND BIZ_MNG_NO = #{bizMngNo}
		AND BIZ_DGR = CAST(#{bfBizDgr} AS NUMERIC)
	</insert>
	
	<insert id="insertAprvAplyIrbDtlScsn" parameterType="map">
		INSERT INTO IRSUSER.IRB_DTL (
			 BIZ_MNG_NO
			,BIZ_DGR
			,DGR_REG_RSN_CD
			,AGREE_MGNO
			,AGREE_DGR
			,INST_MGNO
			,USER_ID
			,PRGRM_MNG_NO
			,BPLC_NM
			,BIZ_ENFC_PLC_NM
			,IATA_NTN_CD
			,APLY_CL_CD
			,AGREE_CLAUS_CD
			,BIZ_FORM_CD
			,BIZ_TYPE_CD
			,BIZ_SCAL_CD
			,BIZ_ORGT_NM
			,BIZ_KRN_NM
			,KOFF_PRNMNT_YMD
			,CERT_VLD_TYPE_CD
			,CERT_VLD_BGNG_YMD
			,CERT_VLD_END_YMD
			,BFCNVR_RDCQTY
			,RDC_UNIT_CD
			,CNVR_COEF_CN
			,CNVR_BASS_CN
			,ATCNVR_RDCQTY
			,BIZ_FLD_CD
			,BIZ_DTLS_FLD_CD
			,SOP_RDCQTY
			,SOP_UNIT_CD
			,OMGE_RDCQTY
			,OMGE_UNIT_CD
			,BIZ_PLND_FLMNO
			,ETC_DATA_FLMNO
			,CNVR_BASS_DATA_FLMNO
			,TRSM_YN
			,CMPTNC_INST_MNG_NO
			,APLY_TYPE_CD
			,APLY_YMD
			,PRCS_TYPE_CD
			,PRCS_YMD
			,ADD_DATA_TYPE_CD
			,ADD_DATA_PRCS_YMD
			,EVL_SN
			,DIC_DLBR_SN
			,DLBR_SN
			,DLAY_SN
			,RTRCN_SN
			,DEL_YN
			,RGTR_ID
			,REG_DT
			,TYPE_CD
			,DATA_DGR
			,REDD_PLUS_YN
			,CHG_CN
			,SCSN_GBN_CD
			,SCSN_CN
			,SCSN_DATA_FLMNO
			,SCSN_BIZ_PLND_FLMNO
			,SCSN_ETC_DATA_FLMNO
			,SCSN_BGNG_DGR
		)
		SELECT
			 BIZ_MNG_NO 
			,CAST(#{bizDgr} AS NUMERIC) AS BIZ_DGR
			,#{dgrRegRsnCd} AS DGR_REG_RSN_CD
			,AGREE_MGNO
			,AGREE_DGR
			,#{auth.sInstMgno} AS INST_MGNO
			,#{auth.sUserId} AS USER_ID
			,PRGRM_MNG_NO
			,BPLC_NM
			,BIZ_ENFC_PLC_NM
			,IATA_NTN_CD
			,#{aplyClCd} AS APLY_CL_CD
			,AGREE_CLAUS_CD
			,BIZ_FORM_CD
			,BIZ_TYPE_CD
			,BIZ_SCAL_CD
			,BIZ_ORGT_NM
			,BIZ_KRN_NM
			,KOFF_PRNMNT_YMD
			,CERT_VLD_TYPE_CD
			,CERT_VLD_BGNG_YMD
			,CERT_VLD_END_YMD
			,BFCNVR_RDCQTY
			,RDC_UNIT_CD
			,CNVR_COEF_CN
			,CNVR_BASS_CN
			,ATCNVR_RDCQTY
			,BIZ_FLD_CD
			,BIZ_DTLS_FLD_CD
			,SOP_RDCQTY
			,SOP_UNIT_CD
			,OMGE_RDCQTY
			,OMGE_UNIT_CD
			,BIZ_PLND_FLMNO
			,ETC_DATA_FLMNO
			,CNVR_BASS_DATA_FLMNO
			,#{trsmYn} AS TRSM_YN
			,CMPTNC_INST_MNG_NO
			,#{aplyTypeCd} AS APLY_TYPE_CD
			,CURRENT_TIMESTAMP AS APLY_YMD
			,#{prcsTypeCd} AS PRCS_TYPE_CD
			,NULL AS PRCS_YMD
			,NULL AS ADD_DATA_TYPE_CD
			,NULL AS ADD_DATA_PRCS_YMD
			,CAST(#{evlSn} AS NUMERIC) AS EVL_SN
			,CAST(#{dicDlbrSn} AS NUMERIC) AS DIC_DLBR_SN
			,#{dlbrSn} AS DLBR_SN
			,#{dlaySn} AS DLAY_SN
			,#{rtrcnSn} AS RTRCN_SN
			,'N' AS DEL_YN
			,#{auth.sUserId} AS RGTR_ID
			,CURRENT_TIMESTAMP AS REG_DT
			,NULL AS TYPE_CD
			,0 AS DATA_DGR
			,REDD_PLUS_YN
			,NULL AS CHG_CN
			,#{scsnGbnCd} AS SCSN_GBN_CD
			,#{scsnCn} AS SCSN_CN
			,#{scsnDataFlmno} AS SCSN_DATA_FLMNO
			,#{scsnBizPlndFlmno} AS SCSN_BIZ_PLND_FLMNO
			,#{scsnEtcDataFlmno} AS SCSN_ETC_DATA_FLMNO
			,CAST(#{scsnBgngDgr} AS NUMERIC) AS SCSN_BGNG_DGR
		FROM IRSUSER.IRB_DTL
		WHERE 1=1
		AND BIZ_MNG_NO = #{bizMngNo}
		AND BIZ_DGR = CAST(#{bfBizDgr} AS NUMERIC)
	</insert>
	
	<insert id="insertAprvAplyIrbDtlNtnScsn" parameterType="map">
		INSERT INTO IRSUSER.IRB_NTN_DTL (
			 BIZ_MNG_NO
			,BIZ_DGR
			,SN
			,IATA_NTN_CD
			,INST_NM
			,DEPT_NM
			,DEL_YN
			,RGTR_ID
			,REG_DT		
		) 
		SELECT 
			 BIZ_MNG_NO 
			,CAST(#{bizDgr} AS NUMERIC) AS BIZ_DGR
			,SN
			,IATA_NTN_CD
			,INST_NM
			,DEPT_NM
			,DEL_YN
			,#{auth.sUserId} AS RGTR_ID
			,CURRENT_TIMESTAMP AS REG_DT	
		FROM IRSUSER.IRB_NTN_DTL
		WHERE 1=1
		AND BIZ_MNG_NO = #{bizMngNo}
		AND BIZ_DGR = CAST(#{bfBizDgr} AS NUMERIC)
	</insert>
	
	<insert id="insertAprvAplyIrbDtlMhdlgScsn" parameterType="map">
		INSERT INTO IRSUSER.IRB_MHDLG_DTL (
			 BIZ_MNG_NO
			,BIZ_DGR
			,MHDLG_MGNO
			,DEL_YN
			,RGTR_ID
			,REG_DT			
		) 
		SELECT 
			 BIZ_MNG_NO 
			,CAST(#{bizDgr} AS NUMERIC) AS BIZ_DGR
			,MHDLG_MGNO
			,DEL_YN
			,#{auth.sUserId} AS RGTR_ID
			,CURRENT_TIMESTAMP AS REG_DT		
		FROM IRSUSER.IRB_MHDLG_DTL
		WHERE 1=1
		AND BIZ_MNG_NO = #{bizMngNo}
		AND BIZ_DGR = CAST(#{bfBizDgr} AS NUMERIC)
	</insert>
	
	<insert id="insertAprvAplyIrbExcrScsn" parameterType="map">
		INSERT INTO IRSUSER.IRB_EXCR_DTL (
			 BIZ_MNG_NO
			,BIZ_DGR
			,SN
			,INST_MGNO
			,DMST_CL_CD
			,BFCNVR_RDCQTY
			,RDC_UNIT_CD
			,CNVR_COEF_CN
			,CNVR_BASS_CN
			,ATCNVR_RDCQTY
			,AGRE_YN
			,AGRE_YMD
			,INST_AGRE_YN
			,INST_AGRE_YMD
			,DEL_YN
			,RGTR_ID
			,REG_DT
			,BZENT_NM
		) 
		SELECT 
			 BIZ_MNG_NO 
			,CAST(#{bizDgr} AS NUMERIC) AS BIZ_DGR
			,SN
			,INST_MGNO
			,DMST_CL_CD
			,BFCNVR_RDCQTY
			,RDC_UNIT_CD
			,CNVR_COEF_CN
			,CNVR_BASS_CN
			,ATCNVR_RDCQTY
			,AGRE_YN
			,AGRE_YMD
			,INST_AGRE_YN
			,INST_AGRE_YMD
			,DEL_YN
			,#{auth.sUserId} AS RGTR_ID
			,CURRENT_TIMESTAMP AS REG_DT
			,BZENT_NM
		FROM IRSUSER.IRB_EXCR_DTL
		WHERE 1=1
		AND BIZ_MNG_NO = #{bizMngNo}
		AND BIZ_DGR = CAST(#{bfBizDgr} AS NUMERIC)
	</insert>
	
	<insert id="insertAprvAplyIrbScsnExcrDtl" parameterType="map">
		INSERT INTO IRSUSER.IRB_SCSN_EXCR_DTL (
			 BIZ_MNG_NO
			,BIZ_DGR
			,SN
			,HNOV_INST_MGNO
			,HNOV_ATCNVR_RDCQTY
			,HNOV_BLCK_MGNO
			,HNOV_QTY
			,WPMP_INST_MGNO
			,WPMP_ATCNVR_RDCQTY
			,WPMP_BLCK_MGNO
			,WPMP_QTY
			,AGRE_YN
			,AGRE_YMD
			,INST_AGRE_YN
			,INST_AGRE_YMD
			,DEL_YN
			,RGTR_ID
			,REG_DT
		) VALUES (
			 #{bizMngNo}
			,CAST(#{bizDgr} AS NUMERIC)
			,(SELECT COALESCE(MAX(SN), 0) + 1  FROM IRSUSER.IRB_SCSN_EXCR_DTL WHERE BIZ_MNG_NO = #{bizMngNo} AND BIZ_DGR = CAST(#{bizDgr} AS NUMERIC))
			,#{hnovInstMgno}
			,CAST(#{hnovAtcnvrRdcqty} AS NUMERIC)
			,#{hnovBlckMgno}
			,#{hnovQty}
			,#{wpmpInstMgno}
			,CAST(#{wpmpAtcnvrRdcqty} AS NUMERIC)
			,#{wpmpBlckMgno}
			,#{wpmpQty}
			,'N'
			,NULL
			,'N'
			,NULL
			,'N'
			,#{auth.sUserId}
			,CURRENT_TIMESTAMP
		)		
	</insert>
	
	<update id="updateAprvAplyIrbBscStsScsn" parameterType="map">
		UPDATE IRSUSER.IRB_BSC SET			 
			 BIZ_CHG_PSBLTY_YN = #{bizChgPsbltyYn}
			,CERT_PRD_UPDT_PSBLTY_YN = #{certPrdUpdtPsbltyYn}
			,CERT_BGNG_YMD_CHG_PSBLTY_YN = #{certBgngYmdChgPsbltyYn}
			,RTADTI_SCSN_PSBLTY_YN = #{rtadtiScsnPsbltyYn}
			,ADD_DATA_DMND_PSBLTY_YN = #{addDataDmndPsbltyYn}
			,DLAY_DCLR_DMND_PSBLTY_YN = #{dlayDclrDmndPsbltyYn}
			,BIZ_RTRCN_DMND_PSBLTY_YN = #{bizRtrcnDmndPsbltyYn}
			,KOFF_DCLR_PSBLTY_YN = #{koffDclrPsbltyYn}
			,MDFR_ID = #{auth.sUserId}
			,MDFCN_DT = CURRENT_TIMESTAMP
			,SCSN_TYPE_CD = SCSN_TYPE_CD
			,SCSN_DATA_DGR = SCSN_DATA_DGR 
			,SCSN_DGR = SCSN_DGR 
		WHERE 1=1
		AND BIZ_MNG_NO = #{bizMngNo}
	</update>
	
	<delete id="deleteAprvAplyIrbScsnExcrDtl" parameterType="map">
		DELETE FROM IRSUSER.IRB_SCSN_EXCR_DTL
		WHERE 1=1
		AND BIZ_MNG_NO = #{bizMngNo}
		AND BIZ_DGR = CAST(#{bizDgr} AS NUMERIC)
	</delete>
	
	<update id="updateAprvAplyIrbDtlScsn" parameterType="map">
		UPDATE IRSUSER.IRB_DTL SET
			 DGR_REG_RSN_CD = #{dgrRegRsnCd}			
			,INST_MGNO = #{auth.sInstMgno}
			,USER_ID = #{auth.sUserId}			
			,APLY_CL_CD = #{aplyClCd}			
			,TRSM_YN = #{trsmYn}			
			,APLY_TYPE_CD = #{aplyTypeCd}
			,APLY_YMD = CURRENT_TIMESTAMP
			,PRCS_TYPE_CD = #{prcsTypeCd}
			,ADD_DATA_TYPE_CD = #{addDataTypeCd}
			,ADD_DATA_PRCS_YMD = #{addDataPrcsYmd}			
			,EVL_SN = CAST(#{evlSn} AS NUMERIC)
			,DIC_DLBR_SN = CAST(#{dicDlbrSn} AS NUMERIC)
			,DLBR_SN = #{dlbrSn}
			,DLAY_SN = #{dlaySn}
			,RTRCN_SN = #{rtrcnSn}
			,MDFR_ID = #{auth.sUserId}
			,MDFCN_DT = CURRENT_TIMESTAMP
			,SCSN_GBN_CD = #{scsnGbnCd}
			,SCSN_CN = #{scsnCn}
			,SCSN_DATA_FLMNO = #{scsnDataFlmno}
			,SCSN_BIZ_PLND_FLMNO = #{scsnBizPlndFlmno}
			,SCSN_ETC_DATA_FLMNO = #{scsnEtcDataFlmno}
			,SCSN_BGNG_DGR = CAST(#{scsnBgngDgr} AS NUMERIC) 
		WHERE 1=1
		AND BIZ_MNG_NO = #{bizMngNo}
		AND BIZ_DGR = CAST(#{bizDgr} AS NUMERIC) 
	</update>
	
	<select id="selectAprvAplyIrbScsnExcrDtlCnt" resultType="int" parameterType="map">
		SELECT
			COUNT(*) AS CNT
		FROM IRSUSER.IRB_SCSN_EXCR_DTL
		WHERE 1=1		
		AND BIZ_MNG_NO = #{bizMngNo}
		AND BIZ_DGR = CAST(#{bizDgr} AS NUMERIC)
		AND AGRE_YN != 'Y'
	</select>
	
	<update id="updateAprvAplyAgree" parameterType="map">
		UPDATE IRSUSER.IRB_SCSN_EXCR_DTL SET 
			 AGRE_YN = 'Y'
			,AGRE_YMD = TO_CHAR(CURRENT_TIMESTAMP, 'YYYYMMDD')
			,MDFR_ID = #{auth.sUserId}
			,MDFCN_DT = CURRENT_TIMESTAMP
		WHERE 1=1
		AND BIZ_MNG_NO = #{bizMngNo}
		AND BIZ_DGR = CAST(#{bizDgr} AS NUMERIC)
		AND WPMP_INST_MGNO = #{auth.sInstMgno}
	</update>
	
	<select id="selectAprvAplyIrbExcrDtlAgreCnt" resultType="egovMap" parameterType="map">
		SELECT 
			 COUNT(*) OVER() AS TOT_CNT
			,(
				SELECT COUNT(*) 
				FROM IRSUSER.IRB_SCSN_EXCR_DTL 
				WHERE 1=1
				AND BIZ_MNG_NO = A.BIZ_MNG_NO 
				AND BIZ_DGR = A.BIZ_DGR 
				AND AGRE_YN = 'Y'
			) AS AGRE_CNT
		FROM IRSUSER.IRB_SCSN_EXCR_DTL A 
		WHERE 1=1
		AND A.BIZ_MNG_NO = #{bizMngNo}
		AND A.BIZ_DGR = CAST(#{bizDgr} AS NUMERIC)
	</select>
	
</mapper>
