<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.biz.prcnd.mapper.BizRtrcnPrcndMapper">
	
	<!-- [사용자] 사업관리 > 사업 현황 관리 > 사업 취소 현황 - 사업취소목록조회 총건수 조회 -->
	<select id="selectRtrcnPrcndListCnt" resultType="int" parameterType="map">
		/* BizRtrcnPrcndMapper.selectRtrcnPrcndListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [사용자] 사업관리 > 사업 현황 관리 > 사업 취소 현황 - 사업취소목록조회 -->
	<select id="selectRtrcnPrcndList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* BizRtrcnPrcndMapper.selectRtrcnPrcndList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [사용자] 사업관리 > 사업 현황 관리 > 사업 취소 현황 - 사업취소상세조회 -->
	<select id="selectRtrcnPrcndDetail" resultType="egovMap" parameterType="map">
		/* BizRtrcnPrcndMapper.selectRtrcnPrcndDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 사업관리 > 사업 현황 관리 > 사업 취소 현황 - 취소통보조회 -->
	<select id="selectRtrcnPrcndRtrcnReq" resultType="egovMap" parameterType="map">
		/* BizRtrcnPrcndMapper.selectRtrcnPrcndRtrcnReq */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 사업관리 > 사업 현황 관리 > 사업 취소 현황 - 이의제기조회 -->
	<select id="selectRtrcnPrcndObjcAply" resultType="egovMap" parameterType="map">
		/* BizRtrcnPrcndMapper.selectRtrcnPrcndObjcAply */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 사업관리 > 사업 현황 관리 > 사업 취소 현황 - 이의제기등록 -->
	<insert id="insertRtrcnPrcndObjcAply" parameterType="map">
		/* BizRtrcnPrcndMapper.insertRtrcnPrcndObjcAply */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [사용자] 사업관리 > 사업 현황 관리 > 사업 취소 현황 - 취소결과조회 -->
	<select id="selectRtrcnPrcndRtrcnRslt" resultType="egovMap" parameterType="map">
		/* BizRtrcnPrcndMapper.selectRtrcnPrcndRtrcnRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [사용자] 사업관리 > 사업 현황 관리 > 사업 취소 현황 - 이력목록조회 -->
	<select id="selectRtrcnPrcndHistList" resultType="egovMap" parameterType="map">
		/* BizRtrcnPrcndMapper.selectRtrcnPrcndHistList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>


	
</mapper>
