<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.adm.mhdlg.mapper.AdmMhdlgAplyMapper">
	
	<!-- [관리자] 방법론관리 > 방법론 신청 관리 - 방법론목록조회 총건수 조회 -->
	<select id="selectMhdlgAplyListCnt" resultType="int" parameterType="map">
		/* AdmMhdlgAplyMapper.selectMhdlgAplyListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [관리자] 방법론관리 > 방법론 신청 관리 - 방법론목록조회 -->
	<select id="selectMhdlgAplyList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* AdmMhdlgAplyMapper.selectMhdlgAplyList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [관리자] 방법론관리 > 방법론 신청 관리 - 방법론상세조회 -->
	<select id="selectMhdlgAplyDetail" resultType="egovMap" parameterType="map">
		/* AdmMhdlgAplyMapper.selectMhdlgAplyDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 방법론관리 > 방법론 신청 관리 - 검토결과등록 -->
	<insert id="insertMhdlgAplyRvwRslt" parameterType="map">
		/* AdmMhdlgAplyMapper.insertMhdlgAplyRvwRslt */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 방법론관리 > 방법론 신청 관리 - 검토결과조회 -->
	<select id="selectMhdlgAplyRvwRslt" resultType="egovMap" parameterType="map">
		/* AdmMhdlgAplyMapper.selectMhdlgAplyRvwRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 방법론관리 > 방법론 신청 관리 - 사전심의결과등록 -->
	<insert id="insertMhdlgAplyDicDlbrRslt" parameterType="map">
		/* AdmMhdlgAplyMapper.insertMhdlgAplyDicDlbrRslt */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 방법론관리 > 방법론 신청 관리 - 이의신청조회 -->
	<select id="selectMhdlgAplyObjcAply" resultType="egovMap" parameterType="map">
		/* AdmMhdlgAplyMapper.selectMhdlgAplyObjcAply */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 방법론관리 > 방법론 신청 관리 - 사전심의결과조회 -->
	<select id="selectMhdlgAplyDicDlbrRslt" resultType="egovMap" parameterType="map">
		/* AdmMhdlgAplyMapper.selectMhdlgAplyDicDlbrRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 방법론관리 > 방법론 신청 관리 - 기승인건확인 -->
	<insert id="insertMhdlgAplyAprv" parameterType="map">
		/* AdmMhdlgAplyMapper.insertMhdlgAplyAprv */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 방법론관리 > 방법론 신청 관리 - 심의결과등록 -->
	<insert id="insertMhdlgAplyDlbrRslt" parameterType="map">
		/* AdmMhdlgAplyMapper.insertMhdlgAplyDlbrRslt */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 방법론관리 > 방법론 신청 관리 - 심의결과조회 -->
	<select id="selectMhdlgAplyDlbrRslt" resultType="egovMap" parameterType="map">
		/* AdmMhdlgAplyMapper.selectMhdlgAplyDlbrRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 방법론관리 > 방법론 신청 관리 - 추가자료요청등록 -->
	<insert id="insertMhdlgAplyDataDmnd" parameterType="map">
		/* AdmMhdlgAplyMapper.insertMhdlgAplyDataDmnd */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 방법론관리 > 방법론 신청 관리 - 추가자료요청조회 -->
	<select id="selectMhdlgAplyDataDmnd" resultType="egovMap" parameterType="map">
		/* AdmMhdlgAplyMapper.selectMhdlgAplyDataDmnd */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 방법론관리 > 방법론 신청 관리 - 추가자료확인조회 -->
	<select id="selectMhdlgAplyDataIdnty" resultType="egovMap" parameterType="map">
		/* AdmMhdlgAplyMapper.selectMhdlgAplyDataIdnty */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 방법론관리 > 방법론 신청 관리 - 추가자료결과등록 -->
	<insert id="insertMhdlgAplyDataRslt" parameterType="map">
		/* AdmMhdlgAplyMapper.insertMhdlgAplyDataRslt */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 방법론관리 > 방법론 신청 관리 - 추가자료결과확인 -->
	<select id="selectMhdlgAplyDataRslt" resultType="egovMap" parameterType="map">
		/* AdmMhdlgAplyMapper.selectMhdlgAplyDataRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 방법론관리 > 방법론 신청 관리 - 이력목록조회 -->
	<select id="selectMhdlgAplyHistList" resultType="egovMap" parameterType="map">
		/* AdmMhdlgAplyMapper.selectMhdlgAplyHistList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>

	<!-- [관리자] 방법론관리 > 방법론 신청 관리 - 보고서출력 -->
	<select id="selectMhdlgAplyRpt" resultType="egovMap" parameterType="map">
		/* AdmMhdlgAplyMapper.selectMhdlgAplyRpt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 방법론관리 > 방법론 신청 관리 - 관장기관변경 -->
	<update id="updateMhdlgAplyInst" parameterType="map">
		/* AdmMhdlgAplyMapper.updateMhdlgAplyInst */
		UPDATE irsuser.TEMP_TABLE
		   SET COL = #{col}
		     , MDFR_ID = #{sessionUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE CONDITION = #{condition}
	</update>

	<!-- [관리자] 방법론관리 > 방법론 신청 관리 - 액셀다운로드 -->
	<select id="selectMhdlgAplyExcel" resultType="egovMap" parameterType="map">
		/* AdmMhdlgAplyMapper.selectMhdlgAplyExcel */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>


	
</mapper>
