<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.biz.agrstipl.mapper.BizAgrStiplPrcndMapper">
	
	<!-- [공통] 협정.약정관리 > 협정.약정 현황 - 목록조회 총건수 조회 -->
	<select id="selectAgrStiplPrcndListCnt" resultType="int" parameterType="map">
		/* BizAgrStiplPrcndMapper.selectAgrStiplPrcndListCnt */
		SELECT COUNT(*)
		FROM (SELECT ROW_NUMBER() OVER(partition by K.CNCLD_MGNO order by K.CNCLD_DGR DESC) as DGR_RN
			 , ROW_NUMBER() OVER(ORDER by K.CNCLD_MGNO DESC ) AS NO	
			 , K.CNCLD_MGNO
		     , CAST (K.CNCLD_DGR AS TEXT)
		     , CASE WHEN CAST(K.CNCLD_DGR AS INTEGER) = 1 THEN '신규' ELSE '개정' END AS CNCLD_DGR_NM
		     , K.NTN_CD
		     , K.NTN_NM
		     , K.CNCLD_CL_CD
		     , K.CNCLD_CL_NM
		     , K.CNCLD_CL_NM AS CNCLD_CL_CD_NM
		     , K.NEW_RVSN_TYPE_CD
		     , K.NEW_RVSN_TYPE_NM
		     , K.REG_TYPE_CD 
		     , (CASE
		        	WHEN K.REG_TYPE_NM IS NULL THEN '-'
		        	ELSE K.REG_TYPE_NM
		   		 end) AS REG_TYPE_NM
		     , K.CNCLD_ORGT_NM
		     , K.CNCLD_KRN_NM
		     , K.CNCLD_NO
		     , K.SGNT_YMD
		     , K.EFTVN_YMD
		     , (CASE
		        	WHEN K.EFTVN_YMD IS NULL THEN '-'
		        	ELSE K.EFTVN_YMD
		   		 end) AS EFTVN_YMD
		     , K.CNCLD_NO
		FROM (SELECT A.CNCLD_MGNO
				   , A.CNCLD_DGR
				   , ROW_NUMBER() OVER(partition by A.CNCLD_MGNO order by A.CNCLD_DGR DESC) as DGR_RN
				   , A.CNCLD_CL_CD
				   , irsuser.fn_get_codenm('CNCLD_CL_CD', A.CNCLD_CL_CD) AS CNCLD_CL_NM
				   , Z.NTN_CD
				   , Z.NTN_NM
				   , A.NEW_RVSN_TYPE_CD
				   , irsuser.fn_get_codenm('NEW_RVSN_TYPE_CD', A.NEW_RVSN_TYPE_CD) AS NEW_RVSN_TYPE_NM
				   , A.REG_TYPE_CD  
				   , irsuser.fn_get_codenm('REG_TYPE_CD', A.REG_TYPE_CD) AS REG_TYPE_NM  
				   , A.CNCLD_ORGT_NM
				   , A.CNCLD_KRN_NM
				   , A.CNCLD_NO
				   , A.SGNT_YMD
				   , A.EFTVN_YMD 
				   , A.DEL_YN
			  FROM irsuser.AGREE_STIPL_BSC A
				INNER JOIN ( SELECT D.CNCLD_MGNO, ARRAY_TO_STRING(ARRAY_AGG(C.NTN_KORN_NM),  ',')  AS NTN_NM , D.NTN_CD
							  FROM irsuser.COM_NTN_CD_BSC C
								INNER JOIN (SELECT B.CNCLD_MGNO,B.NTN_CD 
									FROM irsuser.AGREE_STIPL_BSC A 
											INNER JOIN irsuser.AGREE_STIPL_NTN_DTL B
												ON A.CNCLD_MGNO = B.CNCLD_MGNO
										WHERE A.DEL_YN = 'N' GROUP BY B.CNCLD_MGNO,B.NTN_CD) AS D
									 		ON C.IATA_NTN_CD  = D.NTN_CD
													GROUP BY D.CNCLD_MGNO,D.NTN_CD) AS Z
					ON A.CNCLD_MGNO = Z.CNCLD_MGNO ) K
					WHERE K.DGR_RN = 1 AND K.DEL_YN ='N' ) P
		WHERE 1=1 						
		<if test="srhCncldCd != null and !srhCncldCd.equals('')">
		AND P.CNCLD_CL_CD = #{srhCncldCd}			
		</if>
		<if test="srhRegTypeCd != null and !srhRegTypeCd.equals('')">
		AND P.REG_TYPE_CD = #{srhRegTypeCd}			
		</if>
		<if test="srhNewRvsmTypeCd != null and !srhNewRvsmTypeCd.equals('')">
		AND P.NEW_RVSN_TYPE_CD = #{srhNewRvsmTypeCd}			
		</if>
		<if test="srhNtnNm != null and !srhNtnNm.equals('')">
		AND (P.NTN_NM LIKE CONCAT('%', #{srhNtnNm}, '%') )			
		</if> 
	</select>
	
	<!-- [공통] 협정.약정관리 > 협정.약정 현황 - 목록조회 -->
	<select id="selectAgrStiplPrcndList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* BizAgrStiplPrcndMapper.selectAgrStiplPrcndList */
		SELECT	'' AS CHK
			 ,  ROW_NUMBER() OVER(partition by K.CNCLD_MGNO order by K.CNCLD_DGR DESC) as DGR_RN
			 , ROW_NUMBER() OVER(ORDER by K.CNCLD_MGNO DESC ) AS NO	
			 , K.CNCLD_MGNO
		     , CAST (K.CNCLD_DGR AS TEXT)
		     , CASE WHEN CAST(K.CNCLD_DGR AS INTEGER) = 1 THEN '신규' ELSE '개정' END AS CNCLD_DGR_NM
		     , K.NTN_CD
		     , K.NTN_NM
		     , K.CNCLD_CL_CD
		     , K.CNCLD_CL_NM
		     , K.CNCLD_CL_NM AS CNCLD_CL_CD_NM
		     , K.NEW_RVSN_TYPE_CD
		     , K.NEW_RVSN_TYPE_NM
		     , K.REG_TYPE_CD 
		     , (CASE
		        	WHEN K.REG_TYPE_NM IS NULL THEN '-'
		        	ELSE K.REG_TYPE_NM
		   		 end) AS REG_TYPE_NM
		     , K.CNCLD_ORGT_NM
		     , K.CNCLD_KRN_NM
		     , K.CNCLD_NO
		     , K.SGNT_YMD
		     , (CASE
		        	WHEN K.EFTVN_YMD IS NULL THEN '-'
		        	ELSE K.EFTVN_YMD
		   		 end) AS EFTVN_YMD
		     , K.CNCLD_NO
		     ,'선택' AS BTN_NM
		FROM (SELECT A.CNCLD_MGNO
				   , A.CNCLD_DGR
				   , ROW_NUMBER() OVER(partition by A.CNCLD_MGNO order by A.CNCLD_DGR DESC) as DGR_RN
				   , A.CNCLD_CL_CD
				   , irsuser.fn_get_codenm('CNCLD_CL_CD', A.CNCLD_CL_CD) AS CNCLD_CL_NM
				   , Z.NTN_CD
				   , Z.NTN_NM
				   , irsuser.fn_get_codenm('NEW_RVSN_TYPE_CD', A.NEW_RVSN_TYPE_CD) AS NEW_RVSN_TYPE_NM
				   , A.REG_TYPE_CD 
				   , A.NEW_RVSN_TYPE_CD 
				   , irsuser.fn_get_codenm('REG_TYPE_CD', A.REG_TYPE_CD) AS REG_TYPE_NM  
				   , A.CNCLD_ORGT_NM
				   , A.CNCLD_KRN_NM
				   , A.CNCLD_NO
				   , A.SGNT_YMD
				   , A.EFTVN_YMD 
				   , A.DEL_YN
			  FROM irsuser.AGREE_STIPL_BSC A
				INNER JOIN ( SELECT D.CNCLD_MGNO, ARRAY_TO_STRING(ARRAY_AGG(C.NTN_KORN_NM),  ',')  AS NTN_NM , D.NTN_CD
							  FROM irsuser.COM_NTN_CD_BSC C
								INNER JOIN (SELECT B.CNCLD_MGNO,B.NTN_CD 
									FROM irsuser.AGREE_STIPL_BSC A 
											INNER JOIN irsuser.AGREE_STIPL_NTN_DTL B
												ON A.CNCLD_MGNO = B.CNCLD_MGNO
										WHERE A.DEL_YN = 'N' GROUP BY B.CNCLD_MGNO,B.NTN_CD) AS D
									 		ON C.IATA_NTN_CD  = D.NTN_CD
													GROUP BY D.CNCLD_MGNO,D.NTN_CD) AS Z
					ON A.CNCLD_MGNO = Z.CNCLD_MGNO ) K
					WHERE K.DGR_RN = 1 AND K.DEL_YN ='N'
		<if test="srhCncldCd != null and !srhCncldCd.equals('')">
		AND K.CNCLD_CL_CD = #{srhCncldCd}			
		</if>
		<if test="srhRegTypeCd != null and !srhRegTypeCd.equals('')">
		AND K.REG_TYPE_CD = #{srhRegTypeCd}			
		</if>
		<if test="srhNewRvsmTypeCd != null and !srhNewRvsmTypeCd.equals('')">
		AND K.NEW_RVSN_TYPE_CD = #{srhNewRvsmTypeCd}			
		</if>
		<if test="srhNtnNm != null and !srhNtnNm.equals('')">
		AND (K.NTN_NM LIKE CONCAT('%', #{srhNtnNm}, '%') )			
		</if>  
		ORDER BY K.CNCLD_CL_CD ='CNC0003',  K.CNCLD_CL_CD ='CNC0002',  K.CNCLD_CL_CD ='CNC0001', K.CNCLD_MGNO DESC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [공통] 협정.약정관리 > 협정.약정  - 협정 상세조회 -->
	<select id="selectAgrStiplPrcndDetail" resultType="egovMap" parameterType="map">
		/* BizAgrStiplPrcndMapper.selectAgrStiplPrcndDetail */
		SELECT A.CNCLD_MGNO
			 , A.CNCLD_DGR
			 , A.CNCLD_CL_CD
			 , irsuser.fn_get_codenm('CNCLD_CL_CD', A.CNCLD_CL_CD) AS CNCLD_CL_NM   
			 , A.NEW_RVSN_TYPE_CD
			 , irsuser.fn_get_codenm('NEW_RVSN_TYPE_CD', A.NEW_RVSN_TYPE_CD) AS NEW_RVSN_TYPE_NM  
			 , A.REG_TYPE_CD
			 , irsuser.fn_get_codenm('REG_TYPE_CD', A.REG_TYPE_CD) AS REG_TYPE_NM 
			 , A.CNCLD_YN
			 , (CASE WHEN A.CNCLD_YN ='Y' THEN '유' ELSE '무' END) AS CNCLD_YN_NM
			 , A.CNCLD_ORGT_NM
			 , A.CNCLD_KRN_NM
			 , A.SGNT_YMD
			 , A.EFTVN_YMD
			 , A.CNCLD_NO
			 , A.ORGT_CNCLD_FLMNO
			 , A.KRN_CNCLD_FLMNO
			 , A.ETC_DATA_FLMNO
			 , Z.NTN_NM
		FROM irsuser.AGREE_STIPL_BSC A
			INNER JOIN (SELECT D.CNCLD_MGNO, ARRAY_TO_STRING(ARRAY_AGG(C.NTN_KORN_NM),  ',')  AS NTN_NM 
							FROM irsuser.COM_NTN_CD_BSC C
							 INNER JOIN (SELECT B.CNCLD_MGNO,B.NTN_CD 
											FROM irsuser.AGREE_STIPL_BSC A 
												INNER JOIN irsuser.AGREE_STIPL_NTN_DTL B
												ON A.CNCLD_MGNO = B.CNCLD_MGNO
											WHERE A.DEL_YN = 'N' GROUP BY B.CNCLD_MGNO,B.NTN_CD) AS D
							 ON C.IATA_NTN_CD  = D.NTN_CD
							GROUP BY D.CNCLD_MGNO) AS Z
			ON A.CNCLD_MGNO = Z.CNCLD_MGNO
		WHERE A.CNCLD_MGNO = #{cncldMgno} AND A.CNCLD_CL_CD = 'CNC0001' AND A.CNCLD_DGR = CAST(#{cncldDgr} AS NUMERIC) AND A.DEL_YN ='N' 
		ORDER BY A.CNCLD_MGNO DESC
	</select>

	<!-- [공통] 협정.약정관리 > 협정.약정  - 약정 상세조회 -->
	<select id="selectStiplPrcndDetail" resultType="egovMap" parameterType="map">
		/* BizAgrStiplPrcndMapper.selectStiplPrcndDetail */
		SELECT A.CNCLD_MGNO
			 , A.CNCLD_DGR
			 , A.CNCLD_CL_CD
			 , irsuser.fn_get_codenm('CNCLD_CL_CD', A.CNCLD_CL_CD) AS CNCLD_CL_NM   
			 , A.NEW_RVSN_TYPE_CD
			 , irsuser.fn_get_codenm('NEW_RVSN_TYPE_CD', A.NEW_RVSN_TYPE_CD) AS NEW_RVSN_TYPE_NM  
			 , A.REG_TYPE_CD
			 , irsuser.fn_get_codenm('REG_TYPE_CD', A.REG_TYPE_CD) AS REG_TYPE_NM 
			 , A.CNCLD_YN
			 , (CASE WHEN A.CNCLD_YN ='Y' THEN '유' ELSE '무' END) AS CNCLD_YN_NM
			 , A.CNCLD_ORGT_NM
			 , A.CNCLD_KRN_NM
			 , A.SGNT_YMD
			 , A.EFTVN_YMD
			 , A.CNCLD_NO
			 , A.ORGT_CNCLD_FLMNO
			 , A.KRN_CNCLD_FLMNO
			 , A.ETC_DATA_FLMNO
			 , Z.NTN_NM
		FROM irsuser.AGREE_STIPL_BSC A
			INNER JOIN (SELECT D.CNCLD_MGNO, ARRAY_TO_STRING(ARRAY_AGG(C.NTN_KORN_NM),  ',')  AS NTN_NM 
							FROM irsuser.COM_NTN_CD_BSC C
							 INNER JOIN (SELECT B.CNCLD_MGNO,B.NTN_CD 
											FROM irsuser.AGREE_STIPL_BSC A 
												INNER JOIN irsuser.AGREE_STIPL_NTN_DTL B
												ON A.CNCLD_MGNO = B.CNCLD_MGNO
											WHERE A.DEL_YN = 'N' GROUP BY B.CNCLD_MGNO,B.NTN_CD) AS D
							 ON C.IATA_NTN_CD  = D.NTN_CD
							GROUP BY D.CNCLD_MGNO) AS Z
			ON A.CNCLD_MGNO = Z.CNCLD_MGNO
		WHERE A.CNCLD_MGNO = #{cncldMgno} AND A.CNCLD_CL_CD = 'CNC0002' AND A.CNCLD_DGR = CAST(#{cncldDgr} AS NUMERIC) AND A.DEL_YN ='N' 
		ORDER BY A.CNCLD_MGNO DESC
	</select>
	
	<!-- [공통] 협정.약정관리 > 협정.약정  - MOU 상세조회 -->
	<select id="selectMouPrcndDetail" resultType="egovMap" parameterType="map">
		/* BizAgrStiplPrcndMapper.selectMouPrcndDetail */
		SELECT A.CNCLD_MGNO
			 , A.CNCLD_CL_CD
			 , irsuser.fn_get_codenm('CNCLD_CL_CD', A.CNCLD_CL_CD) AS CNCLD_CL_NM   
			 , A.NEW_RVSN_TYPE_CD
			 , irsuser.fn_get_codenm('NEW_RVSN_TYPE_CD', A.NEW_RVSN_TYPE_CD) AS NEW_RVSN_TYPE_NM  
			 , A.CNCLD_ORGT_NM
			 , A.CNCLD_KRN_NM
			 , A.SGNT_YMD
			 , A.CNCLD_NO
			 , A.ORGT_CNCLD_FLMNO
			 , A.KRN_CNCLD_FLMNO
			 , A.ETC_DATA_FLMNO
			 , Z.NTN_NM
		FROM irsuser.AGREE_STIPL_BSC A
			INNER JOIN (SELECT D.CNCLD_MGNO, ARRAY_TO_STRING(ARRAY_AGG(C.NTN_KORN_NM),  ',')  AS NTN_NM 
							FROM irsuser.COM_NTN_CD_BSC C
							 INNER JOIN (SELECT B.CNCLD_MGNO,B.NTN_CD 
											FROM irsuser.AGREE_STIPL_BSC A 
												INNER JOIN irsuser.AGREE_STIPL_NTN_DTL B
												ON A.CNCLD_MGNO = B.CNCLD_MGNO
											WHERE A.DEL_YN = 'N' GROUP BY B.CNCLD_MGNO,B.NTN_CD ) AS D
							 ON C.IATA_NTN_CD  = D.NTN_CD
							GROUP BY D.CNCLD_MGNO) AS Z
			ON A.CNCLD_MGNO = Z.CNCLD_MGNO
		WHERE A.CNCLD_MGNO = #{cncldMgno} AND A.CNCLD_CL_CD = 'CNC0003' AND A.CNCLD_DGR = CAST(#{cncldDgr} AS NUMERIC) AND A.DEL_YN ='N' 
		ORDER BY A.CNCLD_MGNO DESC
	</select>
	
	<!-- [공통] 협정.약정관리 > 협정.약정 현황 - 액셀다운로드 -->
	<select id="selectAgrStiplPrcndExcel" resultType="egovMap" parameterType="map">
		/* BizAgrStiplPrcndMapper.selectAgrStiplPrcndExcel */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>

	<!-- [공통] 협정.약정관리 > 협정.약정 현황  - 협정 상세화면 이력목록 -->
	<select id="selectAgrDocList" resultType="egovMap" parameterType="map">
	/* BizAgrStiplPrcndMapper.selectAgrDocList */
	SELECT ROW_NUMBER() OVER(ORDER by CNCLD_MGNO ASC) AS NO
		 , CNCLD_MGNO
		 , CNCLD_DGR
		 , CASE WHEN CAST(#{cncldDgr} AS INTEGER) = CNCLD_DGR THEN '현재문서' ELSE '상세보기' END AS BTN_CTL
		 , MDFR_ID AS PRCS_USER_NM
		 , MDFCN_DT AS RVSN_YMD
	FROM irsuser.AGREE_STIPL_BSC
	WHERE CNCLD_MGNO = #{cncldMgno} AND DEL_YN = 'N'
	</select>
	
	<!-- [공통] 협정.약정관리 > 협정.약정 현황  - 협정 상세화면 관련 방법론 목록 -->
	<select id="selectAgrMhdlgList" resultType="egovMap" parameterType="map">
	/* BizAgrStiplPrcndMapper.selectAgrMhdlgList */
	SELECT DISTINCT '' AS CHK  
		 , A.CNCLD_MGNO  
		 , A.MHDLG_MGNO 
		 , B.MHDLG_ORGT_NM
		 , B.MHDLG_DGR
		 , C.MHDLG_UNQNO
		 ,(
		     	SELECT ARRAY_TO_STRING(ARRAY_AGG(X.MHDLG_FLD), ', ') AS NM  
		       	FROM (
		        	SELECT
		        		CASE WHEN Z.MHDLG_FLD_TOTAL_CNT = 1 
		        			THEN Z.MHDLG_FLD                        
		                    ELSE '(' || MHDLG_FLD_ROWNUM || ') ' || Z.MHDLG_FLD                	    
		                END AS MHDLG_FLD
					FROM (
						SELECT 
							 B.BIZ_FLD_KORN_NM || ' - ' || C.BIZ_DTLS_FLD_KORN_NM AS MHDLG_FLD
		                    ,ROW_NUMBER() OVER(PARTITION BY A.MHDLG_MGNO, A.MHDLG_DGR ORDER BY C.BIZ_FLD_DTLS_CD_MGNO) AS MHDLG_FLD_ROWNUM
		                    ,COUNT(*) OVER() MHDLG_FLD_TOTAL_CNT
		                FROM IRSUSER.MHDLG_FLD_DTL D                            				 
		                INNER JOIN IRSUSER.COM_BIZ_FLD_BSC B
		                ON B.BIZ_FLD_CD_MGNO = D.BIZ_FLD_CD_MGNO
		                INNER JOIN IRSUSER.COM_BIZ_FLD_DTL C
		                ON C.BIZ_FLD_DTLS_CD_MGNO = D.BIZ_FLD_DTLS_CD_MGNO
		                WHERE 1=1
		                AND A.MHDLG_MGNO = D.MHDLG_MGNO
		            ) Z
		        ) X
		    ) AS MHDLG_FLD_NM
	FROM irsuser.AGREE_STIPL_MHDLG_REL A
	INNER JOIN irsuser.MHDLG_DTL B ON A.MHDLG_MGNO = B.MHDLG_MGNO AND A.MHDLG_DGR = B.MHDLG_DGR 
	INNER JOIN irsuser.MHDLG_BSC C ON A.MHDLG_MGNO = C.MHDLG_MGNO
	WHERE A.CNCLD_MGNO =#{cncldMgno} AND A.DEL_YN ='N'
	</select>
	
	<!-- [공통] 협정.약정관리 > 협정.약정 현황 - 협정 목록조회 엑셀 -->
	<select id="selectAgrPrcndListExcel" resultType="egovMap" parameterType="map">
		/* AdmAgrStiplMngMapper.selectAgrPrcndListExcel */
		SELECT U.TOTAL_CNT - (U.RN-1) AS NO
				 , U.*
			FROM
			(
				SELECT
					ROW_NUMBER() OVER() AS RN
					, COUNT(*) OVER() AS TOTAL_CNT
					, V.*
				FROM
					(
			SELECT	'' AS CHK
				 ,  ROW_NUMBER() OVER(partition by K.CNCLD_MGNO order by K.CNCLD_DGR DESC) as DGR_RN
				 , ROW_NUMBER() OVER(ORDER by K.CNCLD_MGNO DESC ) AS NO	
				 , K.CNCLD_MGNO
			     , CAST (K.CNCLD_DGR AS TEXT)
			     , CASE WHEN CAST(K.CNCLD_DGR AS INTEGER) = 1 THEN '신규' ELSE '개정' END AS CNCLD_DGR_NM
			     , K.NTN_CD
			     , K.NTN_NM
			     , K.CNCLD_CL_CD
			     , K.CNCLD_CL_NM
			     , K.CNCLD_CL_NM AS CNCLD_CL_CD_NM
			     , K.NEW_RVSN_TYPE_CD
			     , K.NEW_RVSN_TYPE_NM
			     , K.REG_TYPE_CD 
			     , (CASE
			        	WHEN K.REG_TYPE_NM IS NULL THEN '-'
			        	ELSE K.REG_TYPE_NM
			   		 end) AS REG_TYPE_NM
			     , K.CNCLD_ORGT_NM
			     , K.CNCLD_KRN_NM
			     , K.CNCLD_NO
			     , K.SGNT_YMD
			     , K.EFTVN_YMD
			     , (CASE
			        	WHEN K.EFTVN_YMD IS NULL THEN '-'
			        	ELSE K.EFTVN_YMD
			   		 end) AS EFTVN_YMD
			     , K.CNCLD_NO
			     ,'선택' AS BTN_NM
			FROM (SELECT A.CNCLD_MGNO
					   , A.CNCLD_DGR
					   , ROW_NUMBER() OVER(partition by A.CNCLD_MGNO order by A.CNCLD_DGR DESC) as DGR_RN
					   , A.CNCLD_CL_CD
					   , irsuser.fn_get_codenm('CNCLD_CL_CD', A.CNCLD_CL_CD) AS CNCLD_CL_NM
					   , Z.NTN_CD
					   , Z.NTN_NM
					   , irsuser.fn_get_codenm('NEW_RVSN_TYPE_CD', A.NEW_RVSN_TYPE_CD) AS NEW_RVSN_TYPE_NM
					   , A.REG_TYPE_CD 
					   , A.NEW_RVSN_TYPE_CD 
					   , irsuser.fn_get_codenm('REG_TYPE_CD', A.REG_TYPE_CD) AS REG_TYPE_NM  
					   , A.CNCLD_ORGT_NM
					   , A.CNCLD_KRN_NM
					   , A.CNCLD_NO
					   , A.SGNT_YMD
					   , A.EFTVN_YMD 
					   , A.DEL_YN
				  FROM irsuser.AGREE_STIPL_BSC A
					INNER JOIN ( SELECT D.CNCLD_MGNO, ARRAY_TO_STRING(ARRAY_AGG(C.NTN_KORN_NM),  ',')  AS NTN_NM , D.NTN_CD
								  FROM irsuser.COM_NTN_CD_BSC C
									INNER JOIN (SELECT B.CNCLD_MGNO,B.NTN_CD 
										FROM irsuser.AGREE_STIPL_BSC A 
												INNER JOIN irsuser.AGREE_STIPL_NTN_DTL B
													ON A.CNCLD_MGNO = B.CNCLD_MGNO
											WHERE A.DEL_YN = 'N' GROUP BY B.CNCLD_MGNO,B.NTN_CD) AS D
										 		ON C.IATA_NTN_CD  = D.NTN_CD
														GROUP BY D.CNCLD_MGNO,D.NTN_CD) AS Z
						ON A.CNCLD_MGNO = Z.CNCLD_MGNO ) K
						WHERE K.DGR_RN = 1 AND K.DEL_YN ='N'
			<if test="srhCncldCd != null and !srhCncldCd.equals('')">
			AND K.CNCLD_CL_CD = #{srhCncldCd}			
			</if>
			<if test="srhRegTypeCd != null and !srhRegTypeCd.equals('')">
			AND K.REG_TYPE_CD = #{srhRegTypeCd}			
			</if>
			<if test="srhNewRvsmTypeCd != null and !srhNewRvsmTypeCd.equals('')">
			AND K.NEW_RVSN_TYPE_CD = #{srhNewRvsmTypeCd}			
			</if>
			<if test="srhNtnNm != null and !srhNtnNm.equals('')">
			AND (K.NTN_NM LIKE CONCAT('%', #{srhNtnNm}, '%') )			
			</if>  
			ORDER BY K.CNCLD_CL_CD ='CNC0003',  K.CNCLD_CL_CD ='CNC0002',  K.CNCLD_CL_CD ='CNC0001', K.CNCLD_MGNO DESC
					) V
			) U
			LIMIT #{pageNavigation.listSize}
			OFFSET (#{pageNavigation.pageNo} - 1) * #{pageNavigation.listSize}
	</select>
	
	
	
	
</mapper>
