<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.common.board.mapper.CommonBoardMapper">

	<!-- 게시판(공지사항, 자료실, FAQ, 법령과 지침) 총건수 조회 -->
	<select id="selectBoardListCnt" resultType="int" parameterType="map">
		SELECT COUNT(*)
		  FROM irsuser.COM_BBS_BSC
		 WHERE 1=1
		   AND BBS_GROUP_MGNO = #{bbsGroupMgno}
		<if test="GbCd!= null and !GbCd.equals('') and srhNm != null and !srhNm.equals('')">
			<choose>
				<when test="GbCd != null and !GbCd.equals('nm')">
		   AND PSTAT_CN LIKE CONCAT('%', #{srhNm}, '%')
				</when>
				<otherwise>
		   AND PSTAT_NM LIKE CONCAT('%', #{srhNm}, '%')
				</otherwise>
			</choose>
		</if>
	</select>
	
	<!-- 게시판(공지사항, 자료실, FAQ, 법령과 지침) 목록 조회 -->
	<select id="selectBoardList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		SELECT CAST(BBS_SN AS TEXT)
			 , BBS_GROUP_MGNO
			 , PSTAT_NM
			 , PSTAT_CN
			 , FLMNO
			 , TYPE_CD
			 , irsuser.FN_GET_CODENM('TYPE_CD', TYPE_CD) AS TYPE_NM
			 , INQ_CNT
			 , TO_CHAR(REG_DT,'YYYY.mm.DD') AS REG_DT
		  FROM irsuser.COM_BBS_BSC
		 WHERE 1=1
		   AND BBS_GROUP_MGNO = #{bbsGroupMgno}
		<if test="GbCd!= null and !GbCd.equals('') and srhNm != null and !srhNm.equals('')">
			<choose>
				<when test="GbCd != null and !GbCd.equals('nm')">
		   AND PSTAT_CN LIKE CONCAT('%', #{srhNm}, '%')
				</when>
				<otherwise>
		   AND PSTAT_NM LIKE CONCAT('%', #{srhNm}, '%')
				</otherwise>
			</choose>
		</if>
		 ORDER BY CAST(BBS_SN AS NUMERIC) DESC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>
	
	<!-- 공지사항(로그인화면) 목록 조회(2건) -->
	<select id="selectBoardListLogin" resultType="egovMap" parameterType="map">
				SELECT U.TOTAL_CNT - (U.RN-1) AS NO
			 , U.*
		FROM
		(
			SELECT
				ROW_NUMBER() OVER() AS RN
				, COUNT(*) OVER() AS TOTAL_CNT
				, V.*
			FROM
				(
					SELECT CAST(BBS_SN AS TEXT)
						 , BBS_GROUP_MGNO
						 , PSTAT_NM
						 , PSTAT_CN
						 , FLMNO
						 , TYPE_CD
						 , irsuser.FN_GET_CODENM('TYPE_CD', TYPE_CD) AS TYPE_NM
						 , INQ_CNT
						 , TO_CHAR(REG_DT,'YYYY.mm.DD') AS REG_DT
					  FROM irsuser.COM_BBS_BSC
					 WHERE 1=1
					   AND BBS_GROUP_MGNO = 'BS00000010'
					 ORDER BY CAST(BBS_SN AS NUMERIC) DESC 
		 		) V
		) U
		LIMIT 5
		OFFSET 0
	</select>
	
	<!-- 게시판(공지사항, 자료실, 법령과 지침) 메인화면 목록 조회(5건) -->
	<select id="selectBoardListMain" resultType="egovMap" parameterType="map">
				SELECT U.TOTAL_CNT - (U.RN-1) AS NO
			 , U.*
		FROM
		(
			SELECT
				ROW_NUMBER() OVER() AS RN
				, COUNT(*) OVER() AS TOTAL_CNT
				, V.*
			FROM
				(
					SELECT CAST(BBS_SN AS TEXT)
						 , BBS_GROUP_MGNO
						 , PSTAT_NM
						 , PSTAT_CN
						 , FLMNO
						 , TYPE_CD
						 , irsuser.FN_GET_CODENM('TYPE_CD', TYPE_CD) AS TYPE_NM
						 , INQ_CNT
						 , TO_CHAR(REG_DT,'YYYY.mm.DD') AS REG_DT
					  FROM irsuser.COM_BBS_BSC
					 WHERE 1=1
					   AND BBS_GROUP_MGNO = #{bbsGroupMgno}
					 ORDER BY CAST(BBS_SN AS NUMERIC) DESC 
		 		) V
		) U
		LIMIT 5
		OFFSET 0
	</select>
	
	<!-- 게시판(공지사항, 자료실, FAQ, 법령과 지침) 상세 조회 -->
	<select id="selectBoardDtl" parameterType="map" resultType="egovMap">
		SELECT CAST(T1.BBS_SN AS TEXT)
			 , T1.BBS_GROUP_MGNO
			 , T1.PSTAT_NM
			 , T1.PSTAT_CN
			 , T1.FLMNO
			 , T1.TYPE_CD
			 , T1.INQ_CNT
			 , T1.REG_DT
			 , T2.PRE_BBS_SN
			 , T2.PRE_PSTAT_NM
			 , T2.POST_BBS_SN
			 , T2.POST_PSTAT_NM
		  FROM irsuser.COM_BBS_BSC T1
	  	  LEFT OUTER JOIN ( SELECT LEAD(BBS_SN,1) OVER(ORDER BY CAST(BBS_SN AS NUMERIC) DESC) AS PRE_BBS_SN
	  			  				 , CASE WHEN (LEAD(BBS_SN,1) OVER() != 0 )  THEN LEAD(PSTAT_NM,1) OVER()
	  			  					    ELSE ('이전글이 없습니다.')
							       END AS PRE_PSTAT_NM
							     , LAG(BBS_SN,1) OVER() AS POST_BBS_SN
							     , CASE WHEN (LAG(BBS_SN,1) OVER() != 0 )  THEN LAG(PSTAT_NM,1) OVER()
							    	    ELSE ('다음글이 없습니다.')
								   END AS POST_PSTAT_NM
							     , BBS_SN
						 	  FROM irsuser.COM_BBS_BSC 
							 WHERE BBS_GROUP_MGNO = #{bbsGroupMgno}
							 ) T2
		    ON T2.BBS_SN = T1.BBS_SN
		 WHERE T1.BBS_SN = CAST( #{bbsSn} AS NUMERIC)
	</select>
	<!-- 게시판(공지사항, 자료실, FAQ, 법령과 지침) 등록 -->
	<insert id="insertBoardDtl" parameterType="map">
		<selectKey keyProperty="bbsSn" resultType="String" order="BEFORE">
			SELECT NEXTVAL('IRSUSER.BBS_SN_SEQ')
		</selectKey>
			INSERT 
			  INTO irsuser.COM_BBS_BSC 
			     ( BBS_SN
				 , BBS_GROUP_MGNO
				 , PSTAT_NM
				 , PSTAT_CN
				 , FLMNO
				 , TYPE_CD
				 , INQ_CNT
				 , USE_YN
				 , DEL_YN
				 , RGTR_ID
				 , REG_DT
			     )
			VALUES 
				 ( CAST( #{bbsSn} AS NUMERIC)
				 , #{bbsGroupMgno}
				 , #{pstatNm}
				 , #{pstatCn}
				 , #{flmno}
				 , #{typeCd}
				 , 0
				 , 'Y'
				 , 'N'
				 , #{sUserId}
				 , CURRENT_TIMESTAMP
				 )
	</insert>
	
	<!-- 게시판(공지사항, 자료실, FAQ, 법령과 지침) 수정 -->
	<update id="updateBoardDtl" parameterType="map">
		UPDATE irsuser.com_bbs_bsc 
		   SET PSTAT_NM = #{pstatNm}
		     , PSTAT_CN = #{pstatCn}
		     , FLMNO = #{flmno}
			 , TYPE_CD = #{typeCd}
			 <if test="useYn != null and !useYn.equals('')">
			 , USE_YN = #{useYn}
			 </if>
			 <if test="delYn != null and !delYn.equals('')">
			 , DEL_YN = #{delYn}
			 </if>
			 , MDFR_ID = #{sUserId}
			 , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE 1=1
		   AND BBS_SN = CAST( #{bbsSn} AS NUMERIC)
		   AND BBS_GROUP_MGNO = #{bbsGroupMgno}
	</update>
	
	<!-- 게시판(공지사항, 자료실, FAQ, 법령과 지침) 조회 건수 증가 -->
	<update id="updateInqCnt" parameterType="map">
		<selectKey keyProperty="inqCnt" resultType="String" order="BEFORE">
			SELECT CAST( MAX(INQ_CNT) + 1  AS TEXT) 
			  FROM irsuser.com_bbs_bsc 
			 WHERE 1=1 
			   AND BBS_SN = CAST( #{bbsSn} AS NUMERIC) 
			   AND BBS_GROUP_MGNO = #{bbsGroupMgno}
		</selectKey>
		UPDATE irsuser.com_bbs_bsc 
		   SET INQ_CNT = CAST( #{inqCnt} AS NUMERIC)
		 WHERE 1=1
		   AND BBS_SN = CAST( #{bbsSn} AS NUMERIC)
		   AND BBS_GROUP_MGNO = #{bbsGroupMgno}
	</update>
</mapper>