<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.common.sms.mapper.SmsMapper">
	
	<!-- 메인 > 공통 - 알림SMS전송 - 알림SMS전송 -->
	<insert id="insertSms" parameterType="map">
		/* SmsMapper.insertSms */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>
	
</mapper>
