<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.common.file.mapper.FileMapper">
	
	<!-- 파일그룹정보 생성 -->
	<insert id="insertFileGroup" parameterType="gov.me.irs.common.file.vo.FileGroupVo">
		<selectKey keyProperty="fileGroupSn" resultType="int" order="BEFORE">
			/* FileMapper.insertFileGroup.selectKey */
			SELECT COALESCE(MAX(FILE_GROUP_SN), 0) + 1 FROM irs_user.FILE_GROUP_BSC
		</selectKey>
		/* FileMapper.insertFileGroup */
		INSERT
		  INTO irs_user.FILE_GROUP_BSC
		  	 ( FILE_GROUP_SN
			 , FILE_TYPE_CL_CD
			 , MENU_ID
			 , DEL_YN
			 , RGTR_ID
			 )
		VALUES
			( #{fileGroupSn}
			, #{fileTypeClCd}
			, #{menuId}
			, 'N'
			, #{rgtrId}
			)
	</insert>
	
	<!-- 파일상세정보 생성 -->
	<insert id="insertFileDtl" parameterType="gov.me.irs.common.file.vo.FileVo">
		<selectKey keyProperty="fileDtlSn" resultType="int" order="BEFORE">
			/* FileMapper.insertFileDtl.selectKey */
			SELECT COALESCE(MAX(FILE_DTL_SN), 0) + 1 FROM irs_user.FILE_DTL WHERE FILE_GROUP_SN = #{fileGroupSn}
		</selectKey>
		/* FileMapper.insertFileDtl */
		INSERT
		  INTO irs_user.FILE_DTL
		  	 ( FILE_GROUP_SN
			 , FILE_DTL_SN
			 , ORGNL_FILE_NM
			 , FILE_PATH_NM
			 , FILE_NM
			 , FILE_SZ
			 , FILE_EXTN_NM
			 , DWNLD_CNT
			 , DEL_YN
			 , RGTR_ID
			 )
		VALUES
			( #{fileGroupSn}
			, #{fileDtlSn}
			, #{orgnlFileNm}
			, #{filePathNm}
			, #{fileNm}
			, #{fileSz}
			, #{fileExtnNm}
			, 0
			, 'Y'
			, #{rgtrId}
			)
	</insert>
	
	<!-- SINGLE 업로드 파일 삭제 -->
	<update id="deleteFile" parameterType="gov.me.irs.common.file.vo.FileVo">
		/* FileMapper.deleteFile */
		UPDATE irs_user.FILE_DTL
		   SET DEL_YN = 'Y'
			 , MDFR_ID = #{mdfrId}
			 , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE FILE_GROUP_SN = #{fileGroupSn}
		<if test="fileDtlSn != 0"><!-- SINGLE 업로드 -->
		   AND FILE_DTL_SN = #{fileDtlSn}
		</if>
		<if test="fileDtlSn == 0 and fileDtlSnArray != null and fileDtlSnArray.size > 0"><!-- MULTI 업로드 -->
		   AND FILE_DTL_SN NOT IN
			<foreach item="item" index="index" collection="fileDtlSnArray" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
	</update>
	
	<!-- SINGLE 파일정보 불러오기 -->
	<select id="selectFileDtl" resultType="gov.me.irs.common.file.vo.FileVo" parameterType="gov.me.irs.common.file.vo.FileVo">
		/* FileMapper.selectFileDtl */
		SELECT DTL.FILE_GROUP_SN
			 , DTL.FILE_DTL_SN
			 , DTL.ORGNL_FILE_NM
			 , DTL.FILE_PATH_NM
			 , DTL.FILE_NM
			 , DTL.FILE_SZ
			 , DTL.FILE_EXTN_NM
			 , DTL.DWNLD_CNT
			 , DTL.DEL_YN
			 , DTL.RGTR_ID
			 , DTL.REG_DT
			 , DTL.MDFR_ID
			 , DTL.MDFCN_DT
		  FROM irs_user.FILE_GROUP_BSC GRP
		 INNER JOIN irs_user.FILE_DTL DTL
		    ON DTL.FILE_GROUP_SN = GRP.FILE_GROUP_SN
		   AND GRP.FILE_GROUP_SN = #{fileGroupSn}
		   AND GRP.FILE_TYPE_CL_CD = #{fileTypeClCd}
		   AND GRP.DEL_YN = 'N'
		 WHERE 1 = 1
		<if test="fileDtlSn != 0">
		   AND DTL.FILE_DTL_SN = #{fileDtlSn}
		</if>
		<if test="delYn != null and !delYn.equals('')">
		   AND DTL.DEL_YN = #{delYn}
		</if>
	</select>
	
	<!-- MULTI 파일목록 불러오기 -->
	<select id="selectFileList" resultType="gov.me.irs.common.file.vo.FileVo" parameterType="gov.me.irs.common.file.vo.FileVo">
		/* FileMapper.selectFileList */
		SELECT DTL.FILE_GROUP_SN
			 , DTL.FILE_DTL_SN
			 , DTL.ORGNL_FILE_NM
			 , DTL.FILE_PATH_NM
			 , DTL.FILE_NM
			 , DTL.FILE_SZ
			 , DTL.FILE_EXTN_NM
			 , DTL.DWNLD_CNT
			 , DTL.DEL_YN
			 , DTL.RGTR_ID
			 , DTL.REG_DT
			 , DTL.MDFR_ID
			 , DTL.MDFCN_DT
		  FROM irs_user.FILE_GROUP_BSC GRP
		 INNER JOIN irs_user.FILE_DTL DTL
		    ON DTL.FILE_GROUP_SN = GRP.FILE_GROUP_SN
		   AND GRP.FILE_GROUP_SN = #{fileGroupSn}
		   AND GRP.FILE_TYPE_CL_CD = #{fileTypeClCd}
		   AND GRP.DEL_YN = 'N'
		 WHERE 1 = 1
		<if test="delYn != null and !delYn.equals('')">
		   AND DTL.DEL_YN = #{delYn}
		</if>
		<if test="fileDtlSnArray != null and fileDtlSnArray.size > 0"><!-- MULTI 다운로드 -->
		   AND FILE_DTL_SN IN
			<foreach item="item" index="index" collection="fileDtlSnArray" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		 ORDER BY FILE_DTL_SN
	</select>
	
	<!-- 다운로드수 UPDATE 처리 -->
	<update id="updateDwldCount" parameterType="gov.me.irs.common.file.vo.FileVo">
		/* FileMapper.updateDwldCount */
		UPDATE irs_user.FILE_DTL
		   SET DWNLD_CNT = DWNLD_CNT + 1		<!-- 다운로드시에는 다운로드 수만 증가시칸다 -->
		 WHERE FILE_GROUP_SN = #{fileGroupSn}
		   AND FILE_DTL_SN = #{fileDtlSn}
	</update>
	
	<!-- SINGLE 파일정보 최종저장처리 -->
	<update id="saveSingleFile" parameterType="gov.me.irs.common.file.vo.FileVo">
		/* FileMapper.saveSingleFile */
		UPDATE irs_user.FILE_DTL
		   SET DEL_YN = CASE WHEN FILE_DTL_SN = #{fileDtlSn} THEN 'N' ELSE 'Y' END
		<if test="filePathNm != null and !filePathNm.equals('')">
			 , FILE_PATH_NM = CASE WHEN FILE_DTL_SN = #{fileDtlSn} THEN #{filePathNm} ELSE FILE_PATH_NM END
		</if>
			 , MDFR_ID = #{mdfrId}
			 , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE FILE_GROUP_SN = #{fileGroupSn}
	</update>
	
	<!-- MULTI 파일정보 최종저장처리 -->
	<update id="saveMultiFile" parameterType="gov.me.irs.common.file.vo.FileVo">
		/* FileMapper.saveMultiFile */
		UPDATE irs_user.FILE_DTL
		   SET DEL_YN = 'N'
			 , FILE_PATH_NM = #{filePathNm}
			 , MDFR_ID = #{mdfrId}
			 , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE FILE_GROUP_SN = #{fileGroupSn}
		   AND FILE_DTL_SN IN
			<foreach item="item" index="index" collection="fileDtlSnArray" open="(" close=")" separator=",">
				#{item}
			</foreach>
	</update>	
	
	<!-- 차수 생성 전용 파일그룹정보 조회하기 -->
	<select id="selectFileGrp" resultType="gov.me.irs.common.file.vo.FileGroupVo" parameterType="int">
		/* FileMapper.selectFileGrp */
		SELECT GRP.FILE_GROUP_SN
			 , GRP.FILE_TYPE_CL_CD
			 , GRP.MENU_ID
			 , GRP.DEL_YN
			 , GRP.RGTR_ID
			 , GRP.REG_DT
		  FROM irs_user.FILE_GROUP_BSC GRP
		 WHERE GRP.FILE_GROUP_SN = #{fileGroupSn}
	</select>
	
	<!-- 차수 생성 전용 파일그룹정보 복제하기 -->
	<insert id="insertCloneFileGroup" parameterType="gov.me.irs.common.file.vo.FileGroupVo">
		<selectKey keyProperty="fileGroupSn" resultType="int" order="BEFORE">
			/* FileMapper.insertCloneFileGroup.selectKey */
			SELECT COALESCE(MAX(FILE_GROUP_SN), 0) + 1 FROM irs_user.FILE_GROUP_BSC
		</selectKey>
		/* FileMapper.insertCloneFileGroup */
		INSERT
		  INTO irs_user.FILE_GROUP_BSC
		  	 ( FILE_GROUP_SN
			 , FILE_TYPE_CL_CD
			 , MENU_ID
			 , DEL_YN
			 , RGTR_ID
			 )
		SELECT #{fileGroupSn}
			 , GRP.FILE_TYPE_CL_CD
			 , GRP.MENU_ID
			 , GRP.DEL_YN
			 , #{rgtrId}
		  FROM irs_user.FILE_GROUP_BSC GRP
		 WHERE GRP.FILE_GROUP_SN = #{sourceFileGroupSn}
	</insert>
	
	<!-- 차수 생성 전용 파일상세정보 복제하기 -->
	<insert id="insertCloneFileDtl" parameterType="gov.me.irs.common.file.vo.FileGroupVo">
		/* FileMapper.insertCloneFileDtl */
		INSERT
		  INTO irs_user.FILE_DTL
		  	 ( FILE_GROUP_SN
			 , FILE_DTL_SN
			 , ORGNL_FILE_NM
			 , FILE_PATH_NM
			 , FILE_NM
			 , FILE_SZ
			 , FILE_EXTN_NM
			 , DWNLD_CNT
			 , DEL_YN
			 , RGTR_ID
			 )
		SELECT #{fileGroupSn}
			 , DTL.FILE_DTL_SN
			 , DTL.ORGNL_FILE_NM
			 , DTL.FILE_PATH_NM
			 , DTL.FILE_NM
			 , DTL.FILE_SZ
			 , DTL.FILE_EXTN_NM
			 , 0
			 , DTL.DEL_YN
			 , #{rgtrId}
		  FROM irs_user.FILE_DTL DTL
		 WHERE DTL.FILE_GROUP_SN = #{sourceFileGroupSn}
	</insert>
	
	<!-- 차수 생성 전용 파일상세목록 조회하기 -->
	<select id="selectCloneFileList" resultType="gov.me.irs.common.file.vo.FileVo" parameterType="gov.me.irs.common.file.vo.FileGroupVo">
		/* FileMapper.selectCloneFileList */
		SELECT DTL.FILE_GROUP_SN
			 , DTL.FILE_DTL_SN
			 , GRP.FILE_TYPE_CL_CD
			 , DTL.ORGNL_FILE_NM
			 , DTL.FILE_PATH_NM
			 , DTL.FILE_NM
			 , DTL.FILE_SZ
			 , DTL.FILE_EXTN_NM
			 , DTL.DWNLD_CNT
			 , DTL.DEL_YN
			 , DTL.RGTR_ID
			 , DTL.REG_DT
			 , DTL.MDFR_ID
			 , DTL.MDFCN_DT
		  FROM irs_user.FILE_GROUP_BSC GRP
		 INNER JOIN irs_user.FILE_DTL DTL
		    ON DTL.FILE_GROUP_SN = GRP.FILE_GROUP_SN
		   AND GRP.FILE_GROUP_SN = #{fileGroupSn}
		   AND GRP.DEL_YN = 'N'
	</select>
	
	
	<!-- 차수 생성 전용 파일상세 물리파일명 수정하기 -->
	<update id="updateCloneFileNm" parameterType="gov.me.irs.common.file.vo.FileVo">
		/* FileMapper.updateCloneFileNm */
		UPDATE irs_user.FILE_DTL
		   SET FILE_NM = #{cloneFileNm}
		 WHERE FILE_GROUP_SN = #{fileGroupSn}
		   AND FILE_DTL_SN = #{fileDtlSn}
	</update>
</mapper>
