<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.common.file.mapper.FileMapper">
	
	<!-- 파일그룹정보 생성 -->
	<insert id="insertFileGroup" parameterType="gov.me.irs.common.file.vo.FileGroupVo">
		<selectKey keyProperty="fileGroupMgno" resultType="string" order="BEFORE">
			/* FileMapper.insertFileGroup.selectKey */
			SELECT CONCAT( 'FG'
						 , LPAD( CAST(CAST(COALESCE(MAX(SUBSTRING(FILE_GROUP_MGNO, (2 + 1), 10)), '0') AS INTEGER) + 1 AS TEXT)
							   , 10 - 2
							   , '0'
						   )
				   )
			FROM irsuser.COM_FILE_GROUP_BSC
		</selectKey>
		/* FileMapper.insertFileGroup */
		INSERT
		  INTO irsuser.COM_FILE_GROUP_BSC
		  	 ( FILE_GROUP_MGNO
			 , FILE_TYPE_CL_CD
			 , MENU_MGNO
			 , DEL_YN
			 , RGTR_ID
			 , REG_DT
			 )
		VALUES
			( #{fileGroupMgno}
			, #{fileTypeClCd}
	<choose>
		<when test="menuMgno != null and !menuMgno.equals('')">
		   , #{menuMgno}
		</when>
		<otherwise>
		   , ''
		</otherwise>
	</choose>
			, 'N'
			, #{rgtrId}
			, CURRENT_TIMESTAMP
			)
	</insert>
	
	<!-- 파일상세정보 생성 -->
	<insert id="insertFileDtl" parameterType="gov.me.irs.common.file.vo.FileVo">
		<selectKey keyProperty="fileMgno" resultType="string" order="BEFORE">
			/* FileMapper.insertFileDtl.selectKey */
			SELECT CONCAT( 'FD'
						 , LPAD( CAST(CAST(COALESCE(MAX(SUBSTRING(FILE_MGNO, (2 + 1), 10)), '0') AS INTEGER) + 1 AS TEXT)
							   , 10 - 2
							   , '0'
						   )
				   )
			FROM irsuser.COM_FILE_DTL
		   WHERE FILE_GROUP_MGNO = #{fileGroupMgno}
		</selectKey>
		/* FileMapper.insertFileDtl */
		INSERT
		  INTO irsuser.COM_FILE_DTL
		  	 ( FILE_GROUP_MGNO
			 , FILE_MGNO
			 , ORGNL_FILE_NM
			 , FILE_PATH
			 , FILE_NM
			 , FILE_SZ
			 , FILE_EXTN_NM
			 , DWNLD_CNT
			 , DEL_YN
			 , RGTR_ID
			 , REG_DT
			 )
		VALUES
			( #{fileGroupMgno}
			, #{fileMgno}
			, #{orgnlFileNm}
			, #{filePath}
			, #{fileNm}
			, #{fileSz}
			, #{fileExtnNm}
			, 0
			, 'Y'
			, #{rgtrId}
			, CURRENT_TIMESTAMP
			)
	</insert>
	
	<!-- SINGLE 업로드 파일 삭제 -->
	<update id="deleteFile" parameterType="gov.me.irs.common.file.vo.FileVo">
		/* FileMapper.deleteFile */
		UPDATE irsuser.COM_FILE_DTL
		   SET DEL_YN = 'Y'
			 , MDFR_ID = #{mdfrId}
			 , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE FILE_GROUP_MGNO = #{fileGroupMgno}
		<if test="fileMgno != null and !fileMgno.equals('')"><!-- SINGLE 업로드 -->
		   AND FILE_MGNO = #{fileMgno}
		</if>
		<if test="fileMgnoArray != null and fileMgnoArray.size > 0"><!-- MULTI 업로드 -->
		   AND FILE_MGNO NOT IN
			<foreach item="item" index="index" collection="fileMgnoArray" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
	</update>
	
	<!-- SINGLE 파일정보 불러오기 -->
	<select id="selectFileDtl" resultType="gov.me.irs.common.file.vo.FileVo" parameterType="gov.me.irs.common.file.vo.FileVo">
		/* FileMapper.selectFileDtl */
		SELECT DTL.FILE_GROUP_MGNO
			 , DTL.FILE_MGNO
			 , DTL.ORGNL_FILE_NM
			 , DTL.FILE_PATH
			 , DTL.FILE_NM
			 , DTL.FILE_SZ
			 , DTL.FILE_EXTN_NM
			 , DTL.DWNLD_CNT
			 , DTL.DEL_YN
			 , DTL.RGTR_ID
			 , TO_CHAR(DTL.REG_DT, 'yyyy-MM-dd') AS REG_DT
			 , DTL.MDFR_ID
			 , DTL.MDFCN_DT
		  FROM irsuser.COM_FILE_GROUP_BSC GRP
		 INNER JOIN irsuser.COM_FILE_DTL DTL
		    ON DTL.FILE_GROUP_MGNO = GRP.FILE_GROUP_MGNO
		   AND GRP.FILE_GROUP_MGNO = #{fileGroupMgno}
		   AND GRP.DEL_YN = 'N'
		<if test="fileTypeClCd != null and !fileTypeClCd.equals('')">
		   AND GRP.FILE_TYPE_CL_CD = #{fileTypeClCd}
		</if>
		<if test="fileMgno != null and !fileMgno.equals('')">
		   AND DTL.FILE_MGNO = #{fileMgno}
		</if>
		 WHERE 1 = 1
		<if test="delYn != null and !delYn.equals('')">
		   AND DTL.DEL_YN = #{delYn}
		</if>
	</select>
	
	<!-- MULTI 파일목록 불러오기 -->
	<select id="selectFileList" resultType="gov.me.irs.common.file.vo.FileVo" parameterType="gov.me.irs.common.file.vo.FileVo">
		/* FileMapper.selectFileList */
		SELECT DTL.FILE_GROUP_MGNO
			 , DTL.FILE_MGNO
			 , DTL.ORGNL_FILE_NM
			 , DTL.FILE_PATH
			 , DTL.FILE_NM
			 , DTL.FILE_SZ
			 , DTL.FILE_EXTN_NM
			 , DTL.DWNLD_CNT
			 , DTL.DEL_YN
			 , DTL.RGTR_ID
			 , TO_CHAR(DTL.REG_DT, 'yyyy-MM-dd') AS REG_DT
			 , DTL.MDFR_ID
			 , DTL.MDFCN_DT
		  FROM irsuser.COM_FILE_GROUP_BSC GRP
		 INNER JOIN irsuser.COM_FILE_DTL DTL
		    ON DTL.FILE_GROUP_MGNO = GRP.FILE_GROUP_MGNO
		   AND GRP.FILE_GROUP_MGNO = #{fileGroupMgno}
		   AND GRP.DEL_YN = 'N'
		<if test="fileTypeClCd != null and !fileTypeClCd.equals('')">
		   AND GRP.FILE_TYPE_CL_CD = #{fileTypeClCd}
		</if>
		 WHERE 1 = 1
		<if test="delYn != null and !delYn.equals('')">
		   AND DTL.DEL_YN = #{delYn}
		</if>
		<if test="fileMgnoArray != null and fileMgnoArray.size > 0"><!-- MULTI 다운로드 -->
		   AND FILE_MGNO IN
			<foreach item="item" index="index" collection="fileMgnoArray" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		 ORDER BY FILE_MGNO
	</select>
	
	<!-- 다운로드수 UPDATE 처리 -->
	<update id="updateDwldCount" parameterType="gov.me.irs.common.file.vo.FileVo">
		/* FileMapper.updateDwldCount */
		UPDATE irsuser.COM_FILE_DTL
		   SET DWNLD_CNT = DWNLD_CNT + 1		<!-- 다운로드시에는 다운로드 수만 증가시칸다 -->
		 WHERE FILE_GROUP_MGNO = #{fileGroupMgno}
		   AND FILE_MGNO = #{fileMgno}
	</update>
	
	<!-- SINGLE 파일정보 최종저장처리 -->
	<update id="saveSingleFile" parameterType="gov.me.irs.common.file.vo.FileVo">
		/* FileMapper.saveSingleFile */
		UPDATE irsuser.COM_FILE_DTL
		   SET DEL_YN = CASE WHEN FILE_MGNO = #{fileMgno} THEN 'N' ELSE 'Y' END
		<if test="filePath != null and !filePath.equals('')">
			 , FILE_PATH = CASE WHEN FILE_MGNO = #{fileMgno} THEN #{filePath} ELSE FILE_PATH END
		</if>
			 , MDFR_ID = #{mdfrId}
			 , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE FILE_GROUP_MGNO = #{fileGroupMgno}
	</update>
	
	<!-- MULTI 파일정보 최종저장처리 -->
	<update id="saveMultiFile" parameterType="gov.me.irs.common.file.vo.FileVo">
		/* FileMapper.saveMultiFile */
		UPDATE irsuser.COM_FILE_DTL
		   SET DEL_YN = 'N'
			 , FILE_PATH = #{filePath}
			 , MDFR_ID = #{mdfrId}
			 , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE FILE_GROUP_MGNO = #{fileGroupMgno}
		   AND FILE_MGNO = #{fileMgno}
	</update>	
	
	<!-- 차수 생성 전용 파일그룹정보 조회하기 -->
	<select id="selectFileGrp" resultType="gov.me.irs.common.file.vo.FileGroupVo" parameterType="string">
		/* FileMapper.selectFileGrp */
		SELECT GRP.FILE_GROUP_MGNO
			 , GRP.FILE_TYPE_CL_CD
			 , GRP.MENU_MGNO
			 , GRP.DEL_YN
			 , GRP.RGTR_ID
			 , GRP.REG_DT
		  FROM irsuser.COM_FILE_GROUP_BSC GRP
		 WHERE GRP.FILE_GROUP_MGNO = #{fileGroupMgno}
	</select>
	
	<!-- 차수 생성 전용 파일그룹정보 복제하기 -->
	<insert id="insertCloneFileGroup" parameterType="gov.me.irs.common.file.vo.FileGroupVo">
		<selectKey keyProperty="fileGroupMgno" resultType="string" order="BEFORE">
			/* FileMapper.insertCloneFileGroup.selectKey */
			SELECT CONCAT( 'FG'
						 , LPAD( CAST(CAST(COALESCE(MAX(SUBSTRING(FILE_GROUP_MGNO, (2 + 1), 10)), '0') AS INTEGER) + 1 AS TEXT)
							   , 10 - 2
							   , '0'
						   )
				   )
			FROM irsuser.COM_FILE_GROUP_BSC
		</selectKey>
		/* FileMapper.insertCloneFileGroup */
		INSERT
		  INTO irsuser.COM_FILE_GROUP_BSC
		  	 ( FILE_GROUP_MGNO
			 , FILE_TYPE_CL_CD
			 , MENU_MGNO
			 , DEL_YN
			 , RGTR_ID
			 , REG_DT
			 )
		SELECT #{fileGroupMgno}
			 , GRP.FILE_TYPE_CL_CD
			 , GRP.MENU_MGNO
			 , GRP.DEL_YN
			 , #{rgtrId}
			 , CURRENT_TIMESTAMP
		  FROM irsuser.COM_FILE_GROUP_BSC GRP
		 WHERE GRP.FILE_GROUP_MGNO = #{sourceFileGroupMgno}
	</insert>
	
	<!-- 차수 생성 전용 파일상세정보 복제하기 -->
	<insert id="insertCloneFileDtl" parameterType="gov.me.irs.common.file.vo.FileGroupVo">
		/* FileMapper.insertCloneFileDtl */
		INSERT
		  INTO irsuser.COM_FILE_DTL
		  	 ( FILE_GROUP_MGNO
			 , FILE_MGNO
			 , ORGNL_FILE_NM
			 , FILE_PATH
			 , FILE_NM
			 , FILE_SZ
			 , FILE_EXTN_NM
			 , DWNLD_CNT
			 , DEL_YN
			 , RGTR_ID
			 , REG_DT
			 )
		SELECT #{fileGroupMgno}
			 , DTL.FILE_MGNO
			 , DTL.ORGNL_FILE_NM
			 , DTL.FILE_PATH
			 , DTL.FILE_NM
			 , DTL.FILE_SZ
			 , DTL.FILE_EXTN_NM
			 , 0
			 , DTL.DEL_YN
			 , #{rgtrId}
			 , CURRENT_TIMESTAMP
		  FROM irsuser.COM_FILE_DTL DTL
		 WHERE DTL.FILE_GROUP_MGNO = #{sourceFileGroupMgno}
	</insert>
	
	<!-- 차수 생성 전용 파일상세목록 조회하기 -->
	<select id="selectCloneFileList" resultType="gov.me.irs.common.file.vo.FileVo" parameterType="gov.me.irs.common.file.vo.FileGroupVo">
		/* FileMapper.selectCloneFileList */
		SELECT DTL.FILE_GROUP_MGNO
			 , DTL.FILE_MGNO
			 , GRP.FILE_TYPE_CL_CD
			 , DTL.ORGNL_FILE_NM
			 , DTL.FILE_PATH
			 , DTL.FILE_NM
			 , DTL.FILE_SZ
			 , DTL.FILE_EXTN_NM
			 , DTL.DWNLD_CNT
			 , DTL.DEL_YN
			 , DTL.RGTR_ID
			 , DTL.REG_DT
			 , DTL.MDFR_ID
			 , DTL.MDFCN_DT
		  FROM irsuser.COM_FILE_GROUP_BSC GRP
		 INNER JOIN irsuser.COM_FILE_DTL DTL
		    ON DTL.FILE_GROUP_MGNO = GRP.FILE_GROUP_MGNO
		   AND GRP.FILE_GROUP_MGNO = #{fileGroupMgno}
		   AND GRP.DEL_YN = 'N'
	</select>
	
	
	<!-- 차수 생성 전용 파일상세 물리파일명 수정하기 -->
	<update id="updateCloneFileNm" parameterType="gov.me.irs.common.file.vo.FileVo">
		/* FileMapper.updateCloneFileNm */
		UPDATE irsuser.COM_FILE_DTL
		   SET FILE_NM = #{cloneFileNm}
		 WHERE FILE_GROUP_MGNO = #{fileGroupMgno}
		   AND FILE_MGNO = #{fileMgno}
	</update>
</mapper>
