<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.admin.statistics.mapper.StatisticsMapper">
	
	<!-- 시스템접속통계 일별통계조회 -->
	<select id="selectConnectDailyStatisticsList" resultType="egovMap" parameterType="map">
		/* StatisticsMapper.selectConnectDailyStatisticsList */
		SELECT CNTN_YMD AS TOT_DT
			 , COUNT(*) AS VISITOR
			 , COALESCE(SUM(CASE WHEN BRWS_NM = 'Edg' THEN 1 ELSE 0 END), 0) AS EDGE
			 , COALESCE(SUM(CASE WHEN BRWS_NM = 'Chrome' THEN 1 ELSE 0 END), 0) AS CHROME
			 , COALESCE(SUM(CASE WHEN BRWS_NM = 'Safari' THEN 1 ELSE 0 END), 0) AS SAFARI
			 , COALESCE(SUM(CASE WHEN BRWS_NM = 'Opera' THEN 1 ELSE 0 END), 0) AS OPERA
			 , COALESCE(SUM(CASE WHEN BRWS_NM = 'Whale' THEN 1 ELSE 0 END), 0) AS WHALE
			 , COALESCE(SUM(CASE WHEN BRWS_NM = 'MSIE' THEN 1 ELSE 0 END), 0) AS IE
			 , COALESCE(SUM(CASE WHEN BRWS_NM = 'Unknown' THEN 1 ELSE 0 END), 0) AS UNKNOWN
			 , COALESCE(SUM(CASE WHEN USER_CL_CD = 'UTCBIZ' THEN 1 ELSE 0 END), 0) AS UTC1
			 , COALESCE(SUM(CASE WHEN USER_CL_CD = 'UTCADM' THEN 1 ELSE 0 END), 0) AS UTC2
			 , COALESCE(SUM(CASE WHEN USER_CL_CD = 'UTCME0' THEN 1 ELSE 0 END), 0) AS UTC3
			 , COALESCE(SUM(CASE WHEN USER_CL_CD = 'UTCORG' THEN 1 ELSE 0 END), 0) AS UTC4
			 , COALESCE(SUM(CASE WHEN USER_CL_CD = 'UTCSUP' THEN 1 ELSE 0 END), 0) AS UTC5
			 , COALESCE(SUM(CASE WHEN USER_CL_CD = 'UTCANO' THEN 1 ELSE 0 END), 0) AS UTC6
			 , COALESCE(SUM(CASE WHEN COALESCE(USER_CL_CD, 'X') = 'X' THEN 1 ELSE 0 END), 0) AS UTC0
		  FROM irs_user.SYS_CNTN_HSTRY
		 WHERE 1 = 1
		   AND CNTN_YMD <![CDATA[>=]]> #{startCntnYmd}
		   AND CNTN_YMD <![CDATA[<=]]> #{endCntnYmd}
		 GROUP BY CNTN_YMD
		 ORDER BY TOT_DT DESC
	</select>
	
	<!-- 시스템접속통계 월별통계조회 -->
	<select id="selectConnectMonthlyStatisticsList" resultType="egovMap" parameterType="map">
		/* StatisticsMapper.selectConnectMonthlyStatisticsList */
		SELECT CNTN_YM AS TOT_DT
			 , COUNT(*) AS VISITOR
			 , COALESCE(SUM(CASE WHEN BRWS_NM = 'Edg' THEN 1 ELSE 0 END), 0) AS EDGE
			 , COALESCE(SUM(CASE WHEN BRWS_NM = 'Chrome' THEN 1 ELSE 0 END), 0) AS CHROME
			 , COALESCE(SUM(CASE WHEN BRWS_NM = 'Safari' THEN 1 ELSE 0 END), 0) AS SAFARI
			 , COALESCE(SUM(CASE WHEN BRWS_NM = 'Opera' THEN 1 ELSE 0 END), 0) AS OPERA
			 , COALESCE(SUM(CASE WHEN BRWS_NM = 'Whale' THEN 1 ELSE 0 END), 0) AS WHALE
			 , COALESCE(SUM(CASE WHEN BRWS_NM = 'MSIE' THEN 1 ELSE 0 END), 0) AS IE
			 , COALESCE(SUM(CASE WHEN BRWS_NM = 'Unknown' THEN 1 ELSE 0 END), 0) AS UNKNOWN
			 , COALESCE(SUM(CASE WHEN USER_CL_CD = 'UTCBIZ' THEN 1 ELSE 0 END), 0) AS UTC1
			 , COALESCE(SUM(CASE WHEN USER_CL_CD = 'UTCADM' THEN 1 ELSE 0 END), 0) AS UTC2
			 , COALESCE(SUM(CASE WHEN USER_CL_CD = 'UTCME0' THEN 1 ELSE 0 END), 0) AS UTC3
			 , COALESCE(SUM(CASE WHEN USER_CL_CD = 'UTCORG' THEN 1 ELSE 0 END), 0) AS UTC4
			 , COALESCE(SUM(CASE WHEN USER_CL_CD = 'UTCSUP' THEN 1 ELSE 0 END), 0) AS UTC5
			 , COALESCE(SUM(CASE WHEN USER_CL_CD = 'UTCANO' THEN 1 ELSE 0 END), 0) AS UTC6
			 , COALESCE(SUM(CASE WHEN COALESCE(USER_CL_CD, 'X') = 'X' THEN 1 ELSE 0 END), 0) AS UTC0
		  FROM irs_user.SYS_CNTN_HSTRY
		 WHERE 1 = 1
		   AND CNTN_YM LIKE CONCAT(#{cntnYear}, '%')
		 GROUP BY CNTN_YMD
		 ORDER BY TOT_DT DESC
	</select>
	
</mapper>
