<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.adm.prcnd.mapper.AdmRtrcnPrcndMapper">
	
	<!-- [관리자] 사업관리 > 사업 현황 관리 > 사업 취소 현황 - 사업취소목록조회 총건수 조회 -->
	<select id="selectRtrcnPrcndListCnt" resultType="int" parameterType="map">
		/* AdmRtrcnPrcndMapper.selectRtrcnPrcndListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [관리자] 사업관리 > 사업 현황 관리 > 사업 취소 현황 - 사업취소목록조회 -->
	<select id="selectRtrcnPrcndList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* AdmRtrcnPrcndMapper.selectRtrcnPrcndList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [관리자] 사업관리 > 사업 현황 관리 > 사업 취소 현황 - 사업취소상세조회 -->
	<select id="selectRtrcnPrcndDetail" resultType="egovMap" parameterType="map">
		/* AdmRtrcnPrcndMapper.selectRtrcnPrcndDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 현황 관리 > 사업 취소 현황 - 사업공통조회 -->
	<select id="selectBizSrhList" resultType="egovMap" parameterType="map">
		/* AdmRtrcnPrcndMapper.selectBizSrhList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>

	<!-- [관리자] 사업관리 > 사업 현황 관리 > 사업 취소 현황 - 직권취소등록 -->
	<insert id="insertRtrcnPrcndMngr" parameterType="map">
		/* AdmRtrcnPrcndMapper.insertRtrcnPrcndMngr */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 사업관리 > 사업 현황 관리 > 사업 취소 현황 - 취소통보등록 -->
	<insert id="insertRtrcnPrcnd" parameterType="map">
		/* AdmRtrcnPrcndMapper.insertRtrcnPrcnd */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 사업관리 > 사업 현황 관리 > 사업 취소 현황 - 취소통보조회 -->
	<select id="selectRtrcnPrcnd" resultType="egovMap" parameterType="map">
		/* AdmRtrcnPrcndMapper.selectRtrcnPrcnd */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 현황 관리 > 사업 취소 현황 - 이의제기조회 -->
	<select id="selectRtrcnPrcndObjcAply" resultType="egovMap" parameterType="map">
		/* AdmRtrcnPrcndMapper.selectRtrcnPrcndObjcAply */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 현황 관리 > 사업 취소 현황 - 취소결과등록 -->
	<insert id="insertRtrcnPrcndRtrcnRslt" parameterType="map">
		/* AdmRtrcnPrcndMapper.insertRtrcnPrcndRtrcnRslt */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 사업관리 > 사업 현황 관리 > 사업 취소 현황 - 취소결과조회 -->
	<select id="selectRtrcnPrcndRtrcnRslt" resultType="egovMap" parameterType="map">
		/* AdmRtrcnPrcndMapper.selectRtrcnPrcndRtrcnRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 현황 관리 > 사업 취소 현황 - 이력목록조회 -->
	<select id="selectRtrcnPrcndHistList" resultType="egovMap" parameterType="map">
		/* AdmRtrcnPrcndMapper.selectRtrcnPrcndHistList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>

	<!-- [관리자] 사업관리 > 사업 현황 관리 > 사업 취소 현황 - 보고서출력 -->
	<select id="selectRtrcnPrcndRpt" resultType="egovMap" parameterType="map">
		/* AdmRtrcnPrcndMapper.selectRtrcnPrcndRpt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 현황 관리 > 사업 취소 현황 - 관장기관변경 -->
	<update id="updateRtrcnPrcndInst" parameterType="map">
		/* AdmRtrcnPrcndMapper.updateRtrcnPrcndInst */
		UPDATE irsuser.TEMP_TABLE
		   SET COL = #{col}
		     , MDFR_ID = #{sessionUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE CONDITION = #{condition}
	</update>

	<!-- [관리자] 사업관리 > 사업 현황 관리 > 사업 취소 현황 - 액셀다운로드 -->
	<select id="selectRtrcnPrcndExcel" resultType="egovMap" parameterType="map">
		/* AdmRtrcnPrcndMapper.selectRtrcnPrcndExcel */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>


	
</mapper>
