<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.adm.aply.mapper.AdmAprvAplyMapper">
	
	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 사업목록조회 총건수 조회 -->
	<select id="selectAprvAplyListCnt" resultType="int" parameterType="map">
		/* AdmAprvAplyMapper.selectAprvAplyListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 사업목록조회 -->
	<select id="selectAprvAplyList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* AdmAprvAplyMapper.selectAprvAplyList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 사업상세조회 -->
	<select id="selectAprvAplyDetail" resultType="egovMap" parameterType="map">
		/* AdmAprvAplyMapper.selectAprvAplyDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 평가결과등록 -->
	<insert id="insertAprvAplyEvlRslt" parameterType="map">
		/* AdmAprvAplyMapper.insertAprvAplyEvlRslt */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 평가결과조회 -->
	<select id="selectAprvAplyEvlRslt" resultType="egovMap" parameterType="map">
		/* AdmAprvAplyMapper.selectAprvAplyEvlRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 사전심의결과등록 -->
	<insert id="insertAprvAplyDicDlbrRslt" parameterType="map">
		/* AdmAprvAplyMapper.insertAprvAplyDicDlbrRslt */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 이의신청조회 -->
	<select id="selectAprvAplyObjcAply" resultType="egovMap" parameterType="map">
		/* AdmAprvAplyMapper.selectAprvAplyObjcAply */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 사전심의결과조회 -->
	<select id="selectAprvAplyDicDlbrRslt" resultType="egovMap" parameterType="map">
		/* AdmAprvAplyMapper.selectAprvAplyDicDlbrRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 기승인건확인 -->
	<insert id="insertAprvAplyAprv" parameterType="map">
		/* AdmAprvAplyMapper.insertAprvAplyAprv */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 심의결과등록 -->
	<insert id="insertAprvAplyDlbrRslt" parameterType="map">
		/* AdmAprvAplyMapper.insertAprvAplyDlbrRslt */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 심의결과조회 -->
	<select id="selectAprvAplyDlbrRslt" resultType="egovMap" parameterType="map">
		/* AdmAprvAplyMapper.selectAprvAplyDlbrRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 추가자료요청등록 -->
	<insert id="insertAprvAplyDataDmnd" parameterType="map">
		/* AdmAprvAplyMapper.insertAprvAplyDataDmnd */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 추가자료요청조회 -->
	<select id="selectAprvAplyDataDmnd" resultType="egovMap" parameterType="map">
		/* AdmAprvAplyMapper.selectAprvAplyDataDmnd */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 추가자료확인조회 -->
	<select id="selectAprvAplyDataIdnty" resultType="egovMap" parameterType="map">
		/* AdmAprvAplyMapper.selectAprvAplyDataIdnty */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 추가자료결과등록 -->
	<insert id="insertAprvAplyDataRslt" parameterType="map">
		/* AdmAprvAplyMapper.insertAprvAplyDataRslt */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 추가자료결과확인 -->
	<select id="selectAprvAplyDataRslt" resultType="egovMap" parameterType="map">
		/* AdmAprvAplyMapper.selectAprvAplyDataRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 이력목록조회 -->
	<select id="selectAprvAplyHistList" resultType="egovMap" parameterType="map">
		/* AdmAprvAplyMapper.selectAprvAplyHistList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 보고서출력 -->
	<select id="selectAprvAplyRpt" resultType="egovMap" parameterType="map">
		/* AdmAprvAplyMapper.selectAprvAplyRpt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 관장기관변경 -->
	<update id="updateAprvAplyInst" parameterType="map">
		/* AdmAprvAplyMapper.updateAprvAplyInst */
		UPDATE irsuser.TEMP_TABLE
		   SET COL = #{col}
		     , MDFR_ID = #{sessionUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE CONDITION = #{condition}
	</update>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 액셀다운로드 -->
	<select id="selectAprvAplyExcel" resultType="egovMap" parameterType="map">
		/* AdmAprvAplyMapper.selectAprvAplyExcel */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 착수지연조회 -->
	<select id="selectAprvAplyKoffDlay" resultType="egovMap" parameterType="map">
		/* AdmAprvAplyMapper.selectAprvAplyKoffDlay */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 착수지연평가등록 -->
	<insert id="insertAprvAplyKoffDlayEvlRslt" parameterType="map">
		/* AdmAprvAplyMapper.insertAprvAplyKoffDlayEvlRslt */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 착수지연평가조회 -->
	<select id="selectAprvAplyKoffDlayEvlRslt" resultType="egovMap" parameterType="map">
		/* AdmAprvAplyMapper.selectAprvAplyKoffDlayEvlRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 착수지연결과등록 -->
	<insert id="insertAprvAplyKoffDlayRslt" parameterType="map">
		/* AdmAprvAplyMapper.insertAprvAplyKoffDlayRslt */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 착수지연결과조회 -->
	<select id="selectAprvAplyKoffDlayRslt" resultType="egovMap" parameterType="map">
		/* AdmAprvAplyMapper.selectAprvAplyKoffDlayRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 사전승인사업 신청 - 착수신고조회 -->
	<select id="selectAprvAplyKoffReg" resultType="egovMap" parameterType="map">
		/* AdmAprvAplyMapper.selectAprvAplyKoffReg */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>


	
</mapper>
