<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.adm.aply.mapper.AdmScsnChgAplyMapper">
	
	<!-- [관리자] 사업관리 > 사업 신청 관리 > 권리의무 승계 신청 - 권리의무승계목록조회 총건수 조회 -->
	<select id="selectScsnChgAplyListCnt" resultType="int" parameterType="map">
		/* AdmScsnChgAplyMapper.selectScsnChgAplyListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [관리자] 사업관리 > 사업 신청 관리 > 권리의무 승계 신청 - 권리의무승계목록조회 -->
	<select id="selectScsnChgAplyList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* AdmScsnChgAplyMapper.selectScsnChgAplyList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 권리의무 승계 신청 - 권리의무승계상세조회 -->
	<select id="selectScsnChgAplyDetail" resultType="egovMap" parameterType="map">
		/* AdmScsnChgAplyMapper.selectScsnChgAplyDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 권리의무 승계 신청 - 평가결과등록 -->
	<insert id="insertScsnChgAplyEvlRslt" parameterType="map">
		/* AdmScsnChgAplyMapper.insertScsnChgAplyEvlRslt */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 권리의무 승계 신청 - 평가결과조회 -->
	<select id="selectScsnChgAplyEvlRslt" resultType="egovMap" parameterType="map">
		/* AdmScsnChgAplyMapper.selectScsnChgAplyEvlRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 권리의무 승계 신청 - 사전심의결과등록 -->
	<insert id="insertScsnChgAplyDicDlbrRslt" parameterType="map">
		/* AdmScsnChgAplyMapper.insertScsnChgAplyDicDlbrRslt */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 권리의무 승계 신청 - 이의신청조회 -->
	<select id="selectScsnChgAplyObjcAply" resultType="egovMap" parameterType="map">
		/* AdmScsnChgAplyMapper.selectScsnChgAplyObjcAply */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 권리의무 승계 신청 - 사전심의결과조회 -->
	<select id="selectScsnChgAplyDicDlbrRslt" resultType="egovMap" parameterType="map">
		/* AdmScsnChgAplyMapper.selectScsnChgAplyDicDlbrRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 권리의무 승계 신청 - 기승인건확인 -->
	<insert id="insertScsnChgAplyAprv" parameterType="map">
		/* AdmScsnChgAplyMapper.insertScsnChgAplyAprv */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 권리의무 승계 신청 - 심의결과등록 -->
	<insert id="insertScsnChgAplyDlbrRslt" parameterType="map">
		/* AdmScsnChgAplyMapper.insertScsnChgAplyDlbrRslt */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 권리의무 승계 신청 - 심의결과조회 -->
	<select id="selectScsnChgAplyDlbrRslt" resultType="egovMap" parameterType="map">
		/* AdmScsnChgAplyMapper.selectScsnChgAplyDlbrRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 권리의무 승계 신청 - 추가자료요청등록 -->
	<insert id="insertScsnChgAplyDataDmnd" parameterType="map">
		/* AdmScsnChgAplyMapper.insertScsnChgAplyDataDmnd */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 권리의무 승계 신청 - 추가자료요청조회 -->
	<select id="selectScsnChgAplyDataDmnd" resultType="egovMap" parameterType="map">
		/* AdmScsnChgAplyMapper.selectScsnChgAplyDataDmnd */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 권리의무 승계 신청 - 추가자료확인조회 -->
	<select id="selectScsnChgAplyDataIdnty" resultType="egovMap" parameterType="map">
		/* AdmScsnChgAplyMapper.selectScsnChgAplyDataIdnty */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 권리의무 승계 신청 - 추가자료결과등록 -->
	<insert id="insertScsnChgAplyDataRslt" parameterType="map">
		/* AdmScsnChgAplyMapper.insertScsnChgAplyDataRslt */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 권리의무 승계 신청 - 추가자료결과확인 -->
	<select id="selectScsnChgAplyDataRslt" resultType="egovMap" parameterType="map">
		/* AdmScsnChgAplyMapper.selectScsnChgAplyDataRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 권리의무 승계 신청 - 이력목록조회 -->
	<select id="selectScsnChgAplyHistList" resultType="egovMap" parameterType="map">
		/* AdmScsnChgAplyMapper.selectScsnChgAplyHistList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 권리의무 승계 신청 - 보고서출력 -->
	<select id="selectScsnChgAplyRpt" resultType="egovMap" parameterType="map">
		/* AdmScsnChgAplyMapper.selectScsnChgAplyRpt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 권리의무 승계 신청 - 관장기관변경 -->
	<update id="updateScsnChgAplyInst" parameterType="map">
		/* AdmScsnChgAplyMapper.updateScsnChgAplyInst */
		UPDATE irsuser.TEMP_TABLE
		   SET COL = #{col}
		     , MDFR_ID = #{sessionUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE CONDITION = #{condition}
	</update>

	<!-- [관리자] 사업관리 > 사업 신청 관리 > 권리의무 승계 신청 - 액셀다운로드 -->
	<select id="selectScsnChgAplyExcel" resultType="egovMap" parameterType="map">
		/* AdmScsnChgAplyMapper.selectScsnChgAplyExcel */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>


	
</mapper>
