<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.common.initial.mapper.InitialMapper">
	
	<!-- 인증사용자 사용자정보 조회 -->
	<select id="selectUserInfo" resultType="egovMap" parameterType="map">
		/* InitialMapper.selectUserInfo */
		SELECT U.USER_ID							/* 사용자기본 - 사용자ID */
			 , U.UP_INST_MGNO						/* 사용자기본 - 상위기관관리번호 */
			 , U.INST_MGNO							/* 사용자기본 - 기관관리번호 */
			 , U.USER_CL_CD							/* 사용자기본 - 사용자구분코드 */
			 , fn_get_codenm('USER_CL_CD', U.USER_CL_CD)              AS USER_CL_CD_NM					/* 사용자구분코드명 */
			 , U.FLNM								/* 사용자기본 - 성명 */
			 , U.DEPT_NM							/* 사용자기본 - 부서명 */
			 , U.JBPS_NM							/* 사용자기본 - 직위명 */
			 , U.TEL_DDD							/* 사용자기본 - 전화지역번호 */
			 , U.TEL_TLPNO							/* 사용자기본 - 전화국번호 */
			 , U.TEL_PHINO							/* 사용자기본 - 전화개별번호 */
			 , CASE WHEN U.USER_CL_CD = 'UCC0005' THEN 'Y'
			 		ELSE 'N'
			   END AS ACNT_RPRSV_YN					/* 사용자기본 - 계정대표자여부 */
			 , I.INST_CLSF_CD						/* 기관기본 - 기관분류코드 */
			 , I.INST_DTL_CLSF_CD					/* 기관기본 - 기관세부분류코드 */
			 , I.GOV_INST_YN						/* 기관기본 - 정부기관여부 */
			 , I.BZENT_NM							/* 기관기본 - 사업체명 */
			 , I.BZENT_CL_CD						/* 기관기본 - 사업체구분코드 */
			 , I.RPRSV_NM							/* 기관기본 - 대표자명 */
			 , #{roleIdMgno} AS ROLE_ID_MGNO		/* 사용자접속 권한정보 */
			 , ARRAY_TO_STRING((
			 	SELECT ARRAY_AGG(RD.ROLE_ID_MGNO)
			 	  FROM USER_ROLE_DTL RD
			 	 WHERE RD.USER_ID = #{userId}
			 	   AND RD.DEL_YN = 'N'
			 ), '|') AS ROLE_ID_MGNO_LIST			/* 권한목록 - 사용자에 할당된 모든 권한ID, 권한상시 전환시 사용 할 것 */
		  FROM USER_BSC U
		 INNER JOIN INST_BSC I
		    ON I.INST_MGNO = U.INST_MGNO
		   AND U.USER_ID = #{userId}
		 WHERE U.DEL_YN = 'N'
		   AND I.DEL_YN = 'N'
	</select>
	
	
	<!-- 사용자권한 메뉴 목록 조회 -->
	<select id="selectMenuList" resultType="egovMap" parameterType="map">
		/* InitialMapper.selectMenuList */
		<include refid="gov.me.irs.common.TreeMenuMapper.treeMenuSql" />
		SELECT W.MENU_MGNO
			 , W.UP_MENU_MGNO
			 , W.MENU_CL_CD
			 <!--
			 	[MN03010000] 방법론 현황, [MN03020000] 방법론 신청
			 		- 해당 메뉴는 사업수행자(권한 4가지)권한 제외 메뉴명에 [메뉴명 + ' 관리']로 표시
			 		- 사업수행자_계정관리인 : 메뉴명에 ' 관리' 제거
			 		- 사업수행자_계정대표자 : 메뉴명에 ' 관리' 제거
			 		- 관장기관 사업수행자 : 메뉴명에 ' 관리' 제거
			 		- 위탁기관 사업수행자 : 메뉴명에 ' 관리' 제거
			 		- 그외 권한 : 메뉴명에 ' 관리' 포함
			 	
			 -->
			 , CASE WHEN #{bizUserYn} = 'N' AND #{outsourcingBizOrDirectorBizYn} = 'N' AND W.MENU_MGNO IN ('MN03010000', 'MN03020000') THEN W.MENU_NM || ' 관리'
			 		ELSE W.MENU_NM
			   END AS MENU_NM
			 , W.MENU_URL_ADDR
			 , W.EXPSR_YN
			 , W.POPUP_YN
			 , W.MENU_LVL
			 , W.SORT_SEQO
			 , CASE WHEN MR.INQ_AUTHRT_YN IS NULL THEN 'N' ELSE MR.INQ_AUTHRT_YN END AS INQ_AUTHRT_YN
			 , CASE WHEN MR.REG_AUTHRT_YN IS NULL THEN 'N' ELSE MR.REG_AUTHRT_YN END AS REG_AUTHRT_YN
			 , CASE WHEN MR.MDFCN_AUTHRT_YN IS NULL THEN 'N' ELSE MR.MDFCN_AUTHRT_YN END AS MDFCN_AUTHRT_YN
			 , CASE WHEN MR.DEL_AUTHRT_YN IS NULL THEN 'N' ELSE MR.DEL_AUTHRT_YN END AS DEL_AUTHRT_YN
			 , CASE WHEN MR.EXCN_AUTHRT_YN IS NULL THEN 'N' ELSE MR.EXCN_AUTHRT_YN END AS EXCN_AUTHRT_YN
			 , W.PTH[2] AS TOP_MENU_ID
			 , ARRAY_TO_STRING(ARRAY_REMOVE(ARRAY_REMOVE(W.MENU_PATH, W.MENU_PATH[ARRAY_LENGTH(W.MENU_PATH, 1)]), W.MENU_PATH[1]), ' > ') AS MENU_PATH
			 , REPLACE(REPLACE(W.MENU_NM, ' ', ''), '.', '') AS SRCH_MENU_NM
		  FROM WITH_MENU_LIST W
		 INNER JOIN MENU_ROLE_DTL MR
		    ON MR.MENU_MGNO = W.MENU_MGNO
		   AND MR.ROLE_ID_MGNO = #{roleKey}
		   AND MR.DEL_YN = 'N'
		 INNER JOIN USER_ROLE_DTL UR
		    ON UR.USER_ID = #{userId}
		   AND UR.ROLE_ID_MGNO = MR.ROLE_ID_MGNO
		   AND UR.DEL_YN = 'N'
		 WHERE W.MENU_LVL > 0
		 ORDER BY W.SORT_PATH
	</select>
	
	<!-- 그룹코드 목록 조회 -->
	<select id="selectGroupCodeList" resultType="egovMap" parameterType="map">
		/* InitialMapper.selectGroupCodeList */
		SELECT GC.GROUP_CD_MGNO				/* 그룹코드관리번호 */
			 , GC.GROUP_CD_ENG_NM				/* 그룹코드영문명 */
			 , GC.GROUP_CD_KORN_NM				/* 그룹코드한글명 */
			 , GC.CD_REG_LMT_CNT				/* 코드등록제한수 */
			 , (SELECT COUNT(*) FROM COM_CD_DTL CD WHERE CD.GROUP_CD_MGNO = GC.GROUP_CD_MGNO) AS CD_CNT			/* 코드건수 */
		  FROM COM_GROUP_CD_BSC GC
		 WHERE 1 = 1
		<if test="delYn != null and !delYn.equals('')">
		   AND GC.DEL_YN = #{delYn}
		</if>
		 ORDER BY GC.GROUP_CD_KORN_NM
	</select>
	
	<!-- 코드상세 목록 조회 -->
	<select id="selectCodeList" resultType="egovMap" parameterType="map">
		/* InitialMapper.selectCodeList */
		SELECT GC.GROUP_CD_MGNO				/* 그룹코드관리번호 */
			 , CD.CD_MGNO					/* 코드관리번호 */
			 , CD.CD_ENG_NM					/* 코드영문명 */
			 , CD.CD_KORN_NM				/* 코드한글명 */
			 , CD.SORT_SEQO					/* 정렬순서 */	
		  FROM COM_GROUP_CD_BSC GC
		 INNER JOIN COM_CD_DTL CD
		    ON CD.GROUP_CD_MGNO = GC.GROUP_CD_MGNO
		   AND GC.GROUP_CD_MGNO IN
			<foreach item="item" index="index" collection="groupCodeSet" open="(" close=")" separator=",">
				#{item}
			</foreach>
		   AND GC.DEL_YN = 'N'
		<if test="delYn != null and !delYn.equals('')">
		   AND CD.DEL_YN = #{delYn}
		</if>
		 ORDER BY GC.GROUP_CD_MGNO, CD.SORT_SEQO
	</select>
	
	<!-- 오류메세지 목록 조회 -->
	<select id="selectErrorMessegeList" resultType="egovMap" parameterType="map">
		/* InitialMapper.selectErrorMessegeList */
		SELECT ERR_MSG_CD					/* 오류메시지코드 */
			 , ERR_MSG_CL_CD				/* 오류메시지구분코드 */
			 , ERR_MSG_NTN_CD				/* 오류메시지국가코드 */
			 , ERR_MSG_NM					/* 오류메시지명 */
			 , INPT_CNT						/* 입력수 */	
			 , USE_YN						/* 사용여부 */
		  FROM COM_ERR_MSG_BSC
		 WHERE 1 = 1
		<if test="delYn != null and !delYn.equals('')">
		   AND DEL_YN = #{delYn}
		</if>
		 ORDER BY ERR_MSG_CD
	</select>
	
	
</mapper>
