<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.admin.system.mapper.SystemMapper">
	
	<!-- 시스템접속이력 목록 총건수 조회 -->
	<select id="selectConnectHistoryListCnt" resultType="int" parameterType="map">
		/* SystemMapper.selectConnectHistoryListCnt */
		SELECT COUNT(*)
		  FROM irsuser.USER_CNTN_DSCTN S
		 INNER JOIN irsuser.USER_BSC U
		    ON U.USER_ID = S.USER_ID
		 WHERE 1 = 1
		<if test="lgnId != null and !lgnId.equals('')"><!-- 로그인ID -->
		   AND U.LGN_ID LIKE CONCAT(#{lgnId}, '%')
		</if>
		<if test="userNm != null and !userNm.equals('')"><!-- 사용자명 -->
		   AND U.USER_NM LIKE CONCAT('%', #{userNm}, '%')
		</if>
		<if test="startCntnYmd != null and !startCntnYmd.equals('')"><!-- 접속일시 - 시작 -->
		   AND S.CNTN_YMD <![CDATA[>=]]> #{startCntnYmd}
		</if>
		<if test="endCntnYmd != null and !endCntnYmd.equals('')"><!-- 접속일시 - 종료 -->
		   AND S.CNTN_YMD <![CDATA[<=]]> #{endCntnYmd}
		</if>
		<if test="userClCd != null and !userClCd.equals('')"><!-- 사용자구분코드 -->
		   AND S.USER_CL_CD = #{userClCd}
		</if>
	</select>
	
	<!-- 시스템접속이력 목록조회 -->
	<select id="selectConnectHistoryList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* SystemMapper.selectConnectHistoryList */
		SELECT S.SN										/* 시스템접속이력일련번호 */
			 , S.USER_CL_CD											/* 사용자구분코드 */
			 , S.USER_ID												/* 사용자ID */
			 , U.LGN_ID													/* 로그인ID */
			 , U.USER_NM												/* 사용자명 */
			 , TO_CHAR(S.CNTN_DT, 'yyyyMMddHHmmss') AS CNTN_DT			/* 접속일시 */
			 , S.LGN_SCS_YN												/* 로그인 성공여부 */
			 , S.IP_ADDR											/* 접속IP */
			 , S.BRWS_NM												/* 브라우저명 */
			 , S.OS_NM													/* OS */
		  FROM irsuser.USER_CNTN_DSCTN S
		 INNER JOIN irsuser.USER_BSC U
		    ON U.USER_ID = S.USER_ID
		 WHERE 1 = 1
		<if test="lgnId != null and !lgnId.equals('')"><!-- 로그인ID -->
		   AND U.LGN_ID LIKE CONCAT(#{lgnId}, '%')
		</if>
		<if test="userNm != null and !userNm.equals('')"><!-- 사용자명 -->
		   AND U.USER_NM LIKE CONCAT('%', #{userNm}, '%')
		</if>
		<if test="startCntnYmd != null and !startCntnYmd.equals('')"><!-- 접속일시 - 시작 -->
		   AND S.CNTN_YMD <![CDATA[>=]]> #{startCntnYmd}
		</if>
		<if test="endCntnYmd != null and !endCntnYmd.equals('')"><!-- 접속일시 - 종료 -->
		   AND S.CNTN_YMD <![CDATA[<=]]> #{endCntnYmd}
		</if>
		<if test="userClCd != null and !userClCd.equals('')"><!-- 사용자구분코드 -->
		   AND S.USER_CL_CD = #{userClCd}
		</if>
		 ORDER BY S.SN DESC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>
	
</mapper>
