<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.adm.nti.mapper.AdmTrsmMngMapper">
	
	<!-- [관리자] 사업수행자관리 > 알림(SMS) 관리 > 전송 관리 - 목록조회 총건수 조회 -->
	<select id="selectTrsmMngListCnt" resultType="int" parameterType="map">
		/* AdmTrsmMngMapper.selectTrsmMngListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [관리자] 사업수행자관리 > 알림(SMS) 관리 > 전송 관리 - 목록조회 -->
	<select id="selectTrsmMngList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* AdmTrsmMngMapper.selectTrsmMngList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [관리자] 사업수행자관리 > 알림(SMS) 관리 > 전송 관리 - 상세조회 -->
	<select id="selectTrsmMngDetail" resultType="egovMap" parameterType="map">
		/* AdmTrsmMngMapper.selectTrsmMngDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업수행자관리 > 알림(SMS) 관리 > 전송 관리 - 등록 -->
	<insert id="insertTrsmMng" parameterType="map">
		/* AdmTrsmMngMapper.insertTrsmMng */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 사업수행자관리 > 알림(SMS) 관리 > 전송 관리 - 수정 -->
	<update id="updateTrsmMng" parameterType="map">
		/* AdmTrsmMngMapper.updateTrsmMng */
		UPDATE irsuser.TEMP_TABLE
		   SET COL = #{col}
		     , MDFR_ID = #{sessionUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE CONDITION = #{condition}
	</update>

	<!-- [관리자] 사업수행자관리 > 알림(SMS) 관리 > 전송 관리 - 대상자공통조회 -->
	<select id="selectUsrSrhList" resultType="egovMap" parameterType="map">
		/* AdmTrsmMngMapper.selectUsrSrhList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>

	<!-- [관리자] 사업수행자관리 > 알림(SMS) 관리 > 전송 관리 - 대상자등록 -->
	<insert id="insertTrsmMngUsr" parameterType="map">
		/* AdmTrsmMngMapper.insertTrsmMngUsr */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 사업수행자관리 > 알림(SMS) 관리 > 전송 관리 - 액셀다운로드 -->
	<select id="selectTrsmMngExcel" resultType="egovMap" parameterType="map">
		/* AdmTrsmMngMapper.selectTrsmMngExcel */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>


	
</mapper>
