<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.adm.prfmncutil.mapper.AdmPrfmncSwovMapper">
	
	<!-- [관리자] 실적관리 > 실적 활용 관리 > 실적전환 - 실적전환목록조회 총건수 조회 -->
	<select id="selectPrfmncSwovListCnt" resultType="int" parameterType="map">
		/* AdmPrfmncSwovMapper.selectPrfmncSwovListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [관리자] 실적관리 > 실적 활용 관리 > 실적전환 - 실적전환목록조회 -->
	<select id="selectPrfmncSwovList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* AdmPrfmncSwovMapper.selectPrfmncSwovList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [관리자] 실적관리 > 실적 활용 관리 > 실적전환 - 실적전환상세조회 -->
	<select id="selectPrfmncSwovDetail" resultType="egovMap" parameterType="map">
		/* AdmPrfmncSwovMapper.selectPrfmncSwovDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 실적관리 > 실적 활용 관리 > 실적전환 - 심의결과등록 -->
	<insert id="insertPrfmncSwovDlbrRslt" parameterType="map">
		/* AdmPrfmncSwovMapper.insertPrfmncSwovDlbrRslt */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 실적관리 > 실적 활용 관리 > 실적전환 - 심의결과조회 -->
	<select id="selectPrfmncSwovDlbrRslt" resultType="egovMap" parameterType="map">
		/* AdmPrfmncSwovMapper.selectPrfmncSwovDlbrRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 실적관리 > 실적 활용 관리 > 실적전환 - 이력목록조회 -->
	<select id="selectPrfmncSwovHistList" resultType="egovMap" parameterType="map">
		/* AdmPrfmncSwovMapper.selectPrfmncSwovHistList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>

	<!-- [관리자] 실적관리 > 실적 활용 관리 > 실적전환 - 보고서출력 -->
	<select id="selectPrfmncSwovRpt" resultType="egovMap" parameterType="map">
		/* AdmPrfmncSwovMapper.selectPrfmncSwovRpt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 실적관리 > 실적 활용 관리 > 실적전환 - 관장기관변경 -->
	<update id="updatePrfmncSwovInst" parameterType="map">
		/* AdmPrfmncSwovMapper.updatePrfmncSwovInst */
		UPDATE irsuser.TEMP_TABLE
		   SET COL = #{col}
		     , MDFR_ID = #{sessionUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE CONDITION = #{condition}
	</update>

	<!-- [관리자] 실적관리 > 실적 활용 관리 > 실적전환 - 액셀다운로드 -->
	<select id="selectPrfmncSwovExcel" resultType="egovMap" parameterType="map">
		/* AdmPrfmncSwovMapper.selectPrfmncSwovExcel */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>


	
</mapper>
