<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.adm.prfmncutil.mapper.AdmPrfmncRtrcnMapper">
	
	<!-- [관리자] 실적관리 > 실적 활용 관리 > 실적취소 - 실적취소목록조회 총건수 조회 -->
	<select id="selectPrfmncRtrcnListCnt" resultType="int" parameterType="map">
		/* AdmPrfmncRtrcnMapper.selectPrfmncRtrcnListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [관리자] 실적관리 > 실적 활용 관리 > 실적취소 - 실적취소목록조회 -->
	<select id="selectPrfmncRtrcnList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* AdmPrfmncRtrcnMapper.selectPrfmncRtrcnList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [관리자] 실적관리 > 실적 활용 관리 > 실적취소 - 실적취소상세조회 -->
	<select id="selectPrfmncRtrcnDetail" resultType="egovMap" parameterType="map">
		/* AdmPrfmncRtrcnMapper.selectPrfmncRtrcnDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 실적관리 > 실적 활용 관리 > 실적취소 - 심의결과등록 -->
	<insert id="insertPrfmncRtrcnDlbrRslt" parameterType="map">
		/* AdmPrfmncRtrcnMapper.insertPrfmncRtrcnDlbrRslt */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 실적관리 > 실적 활용 관리 > 실적취소 - 심의결과조회 -->
	<select id="selectPrfmncRtrcnDlbrRslt" resultType="egovMap" parameterType="map">
		/* AdmPrfmncRtrcnMapper.selectPrfmncRtrcnDlbrRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 실적관리 > 실적 활용 관리 > 실적취소 - 이력목록조회 -->
	<select id="selectPrfmncRtrcnHistList" resultType="egovMap" parameterType="map">
		/* AdmPrfmncRtrcnMapper.selectPrfmncRtrcnHistList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>

	<!-- [관리자] 실적관리 > 실적 활용 관리 > 실적취소 - 관장기관변경 -->
	<update id="updatePrfmncRtrcnInst" parameterType="map">
		/* AdmPrfmncRtrcnMapper.updatePrfmncRtrcnInst */
		UPDATE irsuser.TEMP_TABLE
		   SET COL = #{col}
		     , MDFR_ID = #{sessionUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE CONDITION = #{condition}
	</update>

	<!-- [관리자] 실적관리 > 실적 활용 관리 > 실적취소 - 보고서출력 -->
	<select id="selectPrfmncRtrcnRpt" resultType="egovMap" parameterType="map">
		/* AdmPrfmncRtrcnMapper.selectPrfmncRtrcnRpt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 실적관리 > 실적 활용 관리 > 실적취소 - 액셀다운로드 -->
	<select id="selectPrfmncRtrcnExcel" resultType="egovMap" parameterType="map">
		/* AdmPrfmncRtrcnMapper.selectPrfmncRtrcnExcel */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>


	
</mapper>
