<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.adm.user.mapper.AdmAcntClsgAplyMapper">
	
	<!-- [관리자] 사업수행자관리 > 계정폐쇄신청 관리 - 목록조회 총건수 조회 -->
	<select id="selectAcntClsgAplyListCnt" resultType="int" parameterType="map">
		/* AdmAcntClsgAplyMapper.selectAcntClsgAplyListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [관리자] 사업수행자관리 > 계정폐쇄신청 관리 - 목록조회 -->
	<select id="selectAcntClsgAplyList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* AdmAcntClsgAplyMapper.selectAcntClsgAplyList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [관리자] 사업수행자관리 > 계정폐쇄신청 관리 - 상세조회 -->
	<select id="selectAcntClsgAplyDetail" resultType="egovMap" parameterType="map">
		/* AdmAcntClsgAplyMapper.selectAcntClsgAplyDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업수행자관리 > 계정폐쇄신청 관리 - 등록 -->
	<insert id="insertAcntClsgAply" parameterType="map">
		/* AdmAcntClsgAplyMapper.insertAcntClsgAply */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 사업수행자관리 > 계정폐쇄신청 관리 - 검토결과조회 -->
	<select id="selectAcntClsgAplyRvwRslt" resultType="egovMap" parameterType="map">
		/* AdmAcntClsgAplyMapper.selectAcntClsgAplyRvwRslt */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업수행자관리 > 계정폐쇄신청 관리 - 검토결과등록 -->
	<insert id="insertAcntClsgAplyRvwRslt" parameterType="map">
		/* AdmAcntClsgAplyMapper.insertAcntClsgAplyRvwRslt */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 사업수행자관리 > 계정폐쇄신청 관리 - 액셀다운로드 -->
	<select id="selectAcntClsgAplyExcel" resultType="egovMap" parameterType="map">
		/* AdmAcntClsgAplyMapper.selectAcntClsgAplyExcel */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>


	
</mapper>
