<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.adm.user.mapper.AdmPrvcMngMapper">
	
	<!-- [관리자] 사업수행자관리 > 사용자관리 > 개인정보취급자관리 - 목록조회 총건수 조회 -->
	<select id="selectPrvcMngListCnt" resultType="int" parameterType="map">
		/* AdmPrvcMngMapper.selectPrvcMngListCnt */
		SELECT COUNT(*)
		  FROM irsuser.USER_PRVC_DSCTN A
		 INNER JOIN irsuser.USER_BSC B
			ON B.USER_ID = A.USER_ID 
		 INNER JOIN irsuser.INST_BSC C
			ON C.INST_MGNO = B.INST_MGNO
		 WHERE 1=1
		<if test="srhCmptncInstNo != null and !srhCmptncInstNo.equals('')">
		   AND C.INST_MGNO = #{srhCmptncInstNo}
		</if>
		<if test="srhLgnId != null and !srhLgnId.equals('')">
		   AND B.LGN_ID = #{srhLgnId}
		</if>
		<if test="srhFlnm != null and !srhFlnm.equals('')">
		   AND B.FLNM = #{srhFlnm}
		</if>
		<if test="srhPrvcInqAcsYmdFrom != null and !srhPrvcInqAcsYmdFrom.equals('')">
		   AND A.PRVC_INQ_ACS_YMD <![CDATA[>=]]> #{srhPrvcInqAcsYmdFrom}
		</if>
		<if test="srhPrvcInqAcsYmdTo != null and !srhPrvcInqAcsYmdTo.equals('')">
		   AND A.PRVC_INQ_ACS_YMD  <![CDATA[<=]]> #{srhPrvcInqAcsYmdTo}
		</if>
	</select>
	
	<!-- [관리자] 사업수행자관리 > 사용자관리 > 개인정보취급자관리 - 목록조회 -->
	<select id="selectPrvcMngList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* AdmPrvcMngMapper.selectPrvcMngList */
		SELECT A.SYS_CL_CD
			 , B.INST_MGNO 
			 , C.BZENT_NM 
			 , A.USER_ID
			 , B.LGN_ID
			 , B.FLNM 
			 , A.INQ_CN
			 , A.PRVC_INQ_ACS_YMD 
			 , A.PRVC_INQ_ACS_HR 
			 , TO_CHAR(to_timestamp(A.PRVC_INQ_ACS_YMD,'yyyyMMdd'),'yyyy-MM-dd') || ' ' ||TO_CHAR(to_timestamp(A.PRVC_INQ_ACS_HR,'HHmmss'),'HH:mm:ss')   AS PRVC_INQ_ACS_TIME 
			 , A.IP_ADDR
		  FROM irsuser.USER_PRVC_DSCTN A
		 INNER JOIN irsuser.USER_BSC B
			ON B.USER_ID = A.USER_ID 
		 INNER JOIN irsuser.INST_BSC C
			ON C.INST_MGNO = B.INST_MGNO
		 WHERE 1=1
		<if test="srhCmptncInstNo != null and !srhCmptncInstNo.equals('')">
		   AND C.INST_MGNO = #{srhCmptncInstNo}
		</if>
		<if test="srhLgnId != null and !srhLgnId.equals('')">
		   AND B.LGN_ID = #{srhLgnId}
		</if>
		<if test="srhFlnm != null and !srhFlnm.equals('')">
		   AND B.FLNM = #{srhFlnm}
		</if>
		<if test="srhPrvcInqAcsYmdFrom != null and !srhPrvcInqAcsYmdFrom.equals('')">
		   AND A.PRVC_INQ_ACS_YMD <![CDATA[>=]]> #{srhPrvcInqAcsYmdFrom}
		</if>
		<if test="srhPrvcInqAcsYmdTo != null and !srhPrvcInqAcsYmdTo.equals('')">
		   AND A.PRVC_INQ_ACS_YMD  <![CDATA[<=]]> #{srhPrvcInqAcsYmdTo}
		</if>
		ORDER BY A.PRVC_INQ_ACS_YMD DESC, A.PRVC_INQ_ACS_HR DESC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [관리자] 사업수행자관리 > 사용자관리 > 개인정보취급자관리 - 액셀다운로드 -->
	<select id="selectPrvcMngExcel" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* AdmPrvcMngMapper.selectPrvcMngExcel */
		SELECT C.BZENT_NM 
			 , B.LGN_ID
			 , B.FLNM 
			 , A.INQ_CN
			 , TO_CHAR(to_timestamp(A.PRVC_INQ_ACS_YMD,'yyyyMMdd'),'yyyy-MM-dd') || ' ' ||TO_CHAR(to_timestamp(A.PRVC_INQ_ACS_HR,'HHmmss'),'HH:mm:ss')   AS PRVC_INQ_ACS_TIME 
			 , A.IP_ADDR
		  FROM irsuser.USER_PRVC_DSCTN A
		 INNER JOIN irsuser.USER_BSC B
			ON B.USER_ID = A.USER_ID 
		 INNER JOIN irsuser.INST_BSC C
			ON C.INST_MGNO = B.INST_MGNO
		 WHERE 1=1
		<if test="srhCmptncInstNo != null and !srhCmptncInstNo.equals('')">
		   AND C.INST_MGNO = #{srhCmptncInstNo}
		</if>
		<if test="srhLgnId != null and !srhLgnId.equals('')">
		   AND B.LGN_ID = #{srhLgnId}
		</if>
		<if test="srhFlnm != null and !srhFlnm.equals('')">
		   AND B.FLNM = #{srhFlnm}
		</if>
		<if test="srhPrvcInqAcsYmdFrom != null and !srhPrvcInqAcsYmdFrom.equals('')">
		   AND A.PRVC_INQ_ACS_YMD <![CDATA[>=]]> #{srhPrvcInqAcsYmdFrom}
		</if>
		<if test="srhPrvcInqAcsYmdTo != null and !srhPrvcInqAcsYmdTo.equals('')">
		   AND A.PRVC_INQ_ACS_YMD  <![CDATA[<=]]> #{srhPrvcInqAcsYmdTo}
		</if>
		ORDER BY A.PRVC_INQ_ACS_YMD DESC, A.PRVC_INQ_ACS_HR DESC
				) V
		) U
		LIMIT CAST( #{srhTo} AS NUMERIC)
		OFFSET CAST ( #{srhFrom} AS NUMERIC) -1
	</select>


	
</mapper>
