<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.adm.user.mapper.AdmPrvcPrslHstryMapper">
	
	<!-- [관리자] 사업수행자관리 > 사용자관리 > 개인정보열람이력 - 목록조회 총건수 조회 -->
	<select id="selectPrvcPrslHstryListCnt" resultType="int" parameterType="map">
		/* AdmPrvcPrslHstryMapper.selectPrvcPrslHstryListCnt */
		SELECT COUNT(*)
		  FROM irsuser.USER_PRVC_PRSL_DSCTN A
		 INNER JOIN irsuser.USER_BSC B
			ON B.USER_ID = A.USER_ID 
		 INNER JOIN irsuser.INST_BSC C
			ON C.INST_MGNO = B.INST_MGNO
		 INNER JOIN irsuser.MENU_BSC D
			ON D.MENU_MGNO = A.MENU_MGNO
		 WHERE 1=1
		<if test="srhCmptncInstNo != null and !srhCmptncInstNo.equals('')">
		   AND C.INST_MGNO = #{srhCmptncInstNo}
		</if>
		<if test="srhLgnId != null and !srhLgnId.equals('')">
		   AND B.LGN_ID = #{srhLgnId}
		</if>
		<if test="srhFlnm != null and !srhFlnm.equals('')">
		   AND B.FLNM = #{srhFlnm}
		</if>
		<if test="srhPrslYmdFrom != null and !srhPrslYmdFrom.equals('')">
		   AND A.PRSL_YMD <![CDATA[>=]]> #{srhPrslYmdFrom}
		</if>
		<if test="srhPrslYmdTo != null and !srhPrslYmdTo.equals('')">
		   AND A.PRSL_YMD  <![CDATA[<=]]> #{srhPrslYmdTo}
		</if>
	</select>
	
	<!-- [관리자] 사업수행자관리 > 사용자관리 > 개인정보열람이력 - 목록조회 -->
	<select id="selectPrvcPrslHstryList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* AdmPrvcPrslHstryMapper.selectPrvcPrslHstryList */
		SELECT A.SN
			 , A.SYS_CL_CD
			 , B.INST_MGNO 
			 , C.BZENT_NM 
			 , A.USER_ID
			 , B.LGN_ID
			 , B.FLNM 
			 , A.MENU_MGNO
			 , D.MENU_NM 
			 , TO_CHAR(TO_TIMESTAMP(A.PRSL_YMD,'yyyyMMdd'),'yyyy-MM-dd') AS PRSL_YMD
			 , A.PRSL_HR
			 , A.IP_ADDR
			 , A.PRSL_RSN
		  FROM irsuser.USER_PRVC_PRSL_DSCTN A
		 INNER JOIN irsuser.USER_BSC B
			ON B.USER_ID = A.USER_ID 
		 INNER JOIN irsuser.INST_BSC C
			ON C.INST_MGNO = B.INST_MGNO
		 INNER JOIN irsuser.MENU_BSC D
			ON D.MENU_MGNO = A.MENU_MGNO
		 WHERE 1=1
		<if test="srhCmptncInstNo != null and !srhCmptncInstNo.equals('')">
		   AND C.INST_MGNO = #{srhCmptncInstNo}
		</if>
		<if test="srhLgnId != null and !srhLgnId.equals('')">
		   AND B.LGN_ID = #{srhLgnId}
		</if>
		<if test="srhFlnm != null and !srhFlnm.equals('')">
		   AND B.FLNM = #{srhFlnm}
		</if>
		<if test="srhPrslYmdFrom != null and !srhPrslYmdFrom.equals('')">
		   AND A.PRSL_YMD <![CDATA[>=]]> #{srhPrslYmdFrom}
		</if>
		<if test="srhPrslYmdTo != null and !srhPrslYmdTo.equals('')">
		   AND A.PRSL_YMD  <![CDATA[<=]]> #{srhPrslYmdTo}
		</if>
		ORDER BY A.SN DESC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [관리자] 사업수행자관리 > 사용자관리 > 개인정보열람이력 - 액셀다운로드 -->
	<select id="selectPrvcPrslHstryExcel" resultType="egovMap" parameterType="map">
		/* AdmPrvcPrslHstryMapper.selectPrvcPrslHstryExcel */
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		SELECT A.SN
			 , C.BZENT_NM 
			 , B.LGN_ID
			 , B.FLNM 
			 , D.MENU_NM 
			 , TO_CHAR(TO_TIMESTAMP(A.PRSL_YMD,'yyyyMMdd'),'yyyy-MM-dd') AS PRSL_YMD
			 , A.IP_ADDR
			 , A.PRSL_RSN
		  FROM irsuser.USER_PRVC_PRSL_DSCTN A
		 INNER JOIN irsuser.USER_BSC B
			ON B.USER_ID = A.USER_ID 
		 INNER JOIN irsuser.INST_BSC C
			ON C.INST_MGNO = B.INST_MGNO
		 INNER JOIN irsuser.MENU_BSC D
			ON D.MENU_MGNO = A.MENU_MGNO
		 WHERE 1=1
		<if test="srhCmptncInstNo != null and !srhCmptncInstNo.equals('')">
		   AND C.INST_MGNO = #{srhCmptncInstNo}
		</if>
		<if test="srhLgnId != null and !srhLgnId.equals('')">
		   AND B.LGN_ID = #{srhLgnId}
		</if>
		<if test="srhFlnm != null and !srhFlnm.equals('')">
		   AND B.FLNM = #{srhFlnm}
		</if>
		<if test="srhPrslYmdFrom != null and !srhPrslYmdFrom.equals('')">
		   AND A.PRSL_YMD <![CDATA[>=]]> #{srhPrslYmdFrom}
		</if>
		<if test="srhPrslYmdTo != null and !srhPrslYmdTo.equals('')">
		   AND A.PRSL_YMD  <![CDATA[<=]]> #{srhPrslYmdTo}
		</if>
		ORDER BY A.SN DESC
		
				) V
		) U
		LIMIT CAST( #{srhTo} AS NUMERIC)
		OFFSET CAST ( #{srhFrom} AS NUMERIC)
	</select>


	
</mapper>
