<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.adm.user.mapper.AdmUserMngMapper">
	
	<!-- [관리자] 사업수행자관리 > 사용자관리 > 사용자관리 - 목록조회 총건수 조회 -->
	<select id="selectUserMngListCnt" resultType="int" parameterType="map">
		/* AdmUserMngMapper.selectUserMngListCnt */
		SELECT COUNT(*)
		  FROM irsuser.USER_BSC U
		 INNER JOIN irsuser.INST_BSC IB
		    ON IB.INST_MGNO = U.INST_MGNO
		<if test="srhInstClsfCd != null and !srhInstClsfCd.equals('')">
		   AND IB.INST_CLSF_CD = #{srhInstClsfCd}								/* 기관/사업체분류 검색 */
		</if>
		<if test="srhBzentNm != null and !srhBzentNm.equals('')">
		   AND IB.BZENT_NM LIKE CONCAT('%', #{srhBzentNm}, '%')					/* 사업체명으로 검색 */
		</if>
		<if test="srhBrno != null and !srhBrno.equals('')">
		   AND IB.BRNO LIKE CONCAT('%', TRIM(#{srhBrno}), '%')					/* 사업자등록번호 검색 */
		</if>
		 INNER JOIN irsuser.INST_BSC UIB
		    ON UIB.INST_MGNO = U.UP_INST_MGNO
		<if test="srhUpInstMgno != null and !srhUpInstMgno.equals('')">
		   AND UIB.INST_MGNO = #{srhUpInstMgno}									/* 상위기관관리번호 검색 */
		</if>
		 WHERE U.DEL_YN = 'N'
		<if test="srhLgnId != null and !srhLgnId.equals('')">
		   AND U.LGN_ID LIKE CONCAT('%', #{srhLgnId}, '%')						/* 아이디로 검색 */
		</if>
		<if test="srhFlnm != null and !srhFlnm.equals('')">
		   AND U.FLNM LIKE CONCAT('%', #{srhFlnm}, '%')							/* 성명으로 검색 */
		</if>
		<if test="srhUserClCd != null and !srhUserClCd.equals('')">
		   AND U.USER_CL_CD = #{srhUserClCd}									/* 계정구분 검색 */
		</if>
		<if test="srhAcntSttsClCd != null and !srhAcntSttsClCd.equals('')">
		   AND U.ACNT_STTS_CL_CD = #{srhAcntSttsClCd}							/* 계정상태구분코드로 검색 */
		</if>
	<if test='srhSearchType != null and srhSearchType.equals("1")'><!-- 가입일자 -->
		<if test="srhSearchStartYmd != null and !srhSearchStartYmd.equals('')">
   		   AND U.APRV_YMD <![CDATA[>=]]> #{srhSearchStartYmd}
		</if>
		<if test="srhSearchEndYmd != null and !srhSearchEndYmd.equals('')">
   		   AND U.APRV_YMD <![CDATA[<=]]> #{srhSearchEndYmd}
		</if>
	</if>
	<if test='srhSearchType != null and srhSearchType.equals("2")'><!-- 접속일자 -->
		<if test="srhSearchStartYmd != null or srhSearchEndYmd != null">
		   AND EXISTS (
		   		SELECT 1
		   		  FROM irsuser.USER_CNTN_DSCTN UC
		   		 WHERE UC.USER_ID = U.USER_ID
		   		   AND UC.DEL_YN = 'N'
			<if test="srhSearchStartYmd != null and !srhSearchStartYmd.equals('')">
		   		   AND UC.CNTN_YMD <![CDATA[>=]]> #{srhSearchStartYmd}
			</if>
			<if test="srhSearchEndYmd != null and !srhSearchEndYmd.equals('')">
		   		   AND UC.CNTN_YMD <![CDATA[<=]]> #{srhSearchEndYmd}
			</if>
		   )
		</if>
	</if>
	</select>
	
	<!-- [관리자] 사업수행자관리 > 사용자관리 > 사용자관리 - 목록조회 -->
	<select id="selectUserMngList" resultType="egovMap" parameterType="map">
		/* AdmUserMngMapper.selectUserMngList */
		SELECT U.TOTAL_CNT - (U.RN-1) AS NO
			 , U.*
			 , COALESCE((SELECT MAX(UC.CNTN_YMD) FROM irsuser.USER_CNTN_DSCTN UC WHERE UC.USER_ID = U.USER_ID AND UC.DEL_YN = 'N'), '') AS CNTN_YMD		/* 접속일자 - 가장 최근 */
			 , CASE WHEN U.ACNT_STTS_CL_CD = 'ASC0001' THEN '조회'		/* 미승인상태   ▶ 조회 버튼 */
			 		ELSE '변경'														/* 기타 ▶ 변경 버튼 */
			   END AS ACNT_STTS_GBN_NM
			 , CASE WHEN U.ACNT_STTS_CL_CD = 'ASC0001' THEN '1'		/* 미승인상태   ▶ 조회 버튼 */
			 		ELSE '2'														/* 기타 ▶ 변경 버튼 */
			   END AS ACNT_STTS_GBN_NO
		FROM
		(
			SELECT
				ROW_NUMBER() OVER() AS RN
				, COUNT(*) OVER() AS TOTAL_CNT
				, V.*
			FROM
				(
					SELECT IB.BZENT_CL_CD                              /* 사업체구분코드 */
						 , U.USER_ID                                   /* 사용자ID */
						 , U.INST_MGNO                                 /* 기관관리번호 */
						 , IB.INST_CLSF_CD                             /* 기관분류코드 */
						 , IB.BZENT_NM                                 /* 기관명 */
						 , IB.BRNO                                     /* 사업자등록번호 */
						 , IB.RPRSV_NM                                 /* 대표자명 */
						 , U.USER_CL_CD                                /* 사용자구분코드 */
						 , U.LGN_ID                                    /* 로그인ID */
						 , U.FLNM                                      /* 성명 */
						 , U.HDPON_DDD || '-' || U.HDPON_TLPNO || '-' || U.HDPON_PHINO       AS FULL_HDPON_NO            /* 전체핸드폰번호 */
						 , U.ACNT_RPRSV_YN                             /* 계정대표자여부 */
						 , U.ACNT_STTS_CL_CD                           /* 계정상태구분코드 */
						 , U.INFO_PRVT_NTI_YN                          /* 정보비공개알림여부 */
						 , U.SMS_NTI_YN                                /* sms알림여부 */				
						 , U.APRV_YMD                                  /* 승인일자(가입일자) */
						 , U.UP_INST_MGNO                              /* 상위기관관리번호 */
						 , UIB.INST_CLSF_CD AS UP_INST_CLSF_CD         /* 상위기관분류코드 */
						 , UIB.BZENT_NM AS UP_BZENT_NM                 /* 상위기관명 */
					  FROM irsuser.USER_BSC U
					 INNER JOIN irsuser.INST_BSC IB
					    ON IB.INST_MGNO = U.INST_MGNO
					<if test="srhInstClsfCd != null and !srhInstClsfCd.equals('')">
					   AND IB.INST_CLSF_CD = #{srhInstClsfCd}								/* 기관/사업체분류 검색 */
					</if>
					<if test="srhBzentNm != null and !srhBzentNm.equals('')">
					   AND IB.BZENT_NM LIKE CONCAT('%', #{srhBzentNm}, '%')					/* 사업체명으로 검색 */
					</if>
					<if test="srhBrno != null and !srhBrno.equals('')">
					   AND IB.BRNO LIKE CONCAT('%', TRIM(#{srhBrno}), '%')					/* 사업자등록번호 검색 */
					</if>
					 INNER JOIN irsuser.INST_BSC UIB
					    ON UIB.INST_MGNO = U.UP_INST_MGNO
					<if test="srhUpInstMgno != null and !srhUpInstMgno.equals('')">
					   AND UIB.INST_MGNO = #{srhUpInstMgno}									/* 상위기관관리번호 검색 */
					</if>
					 WHERE U.DEL_YN = 'N'
					<if test="srhLgnId != null and !srhLgnId.equals('')">
					   AND U.LGN_ID LIKE CONCAT('%', #{srhLgnId}, '%')						/* 아이디로 검색 */
					</if>
					<if test="srhFlnm != null and !srhFlnm.equals('')">
					   AND U.FLNM LIKE CONCAT('%', #{srhFlnm}, '%')							/* 성명으로 검색 */
					</if>
					<if test="srhUserClCd != null and !srhUserClCd.equals('')">
					   AND U.USER_CL_CD = #{srhUserClCd}									/* 계정구분 검색 */
					</if>
					<if test="srhAcntSttsClCd != null and !srhAcntSttsClCd.equals('')">
					   AND U.ACNT_STTS_CL_CD = #{srhAcntSttsClCd}							/* 계정상태구분코드로 검색 */
					</if>
				<if test='srhSearchType != null and srhSearchType.equals("1")'><!-- 가입일자 -->
					<if test="srhSearchStartYmd != null and !srhSearchStartYmd.equals('')">
			   		   AND U.APRV_YMD <![CDATA[>=]]> #{srhSearchStartYmd}
					</if>
					<if test="srhSearchEndYmd != null and !srhSearchEndYmd.equals('')">
			   		   AND U.APRV_YMD <![CDATA[<=]]> #{srhSearchEndYmd}
					</if>
				</if>
				<if test='srhSearchType != null and srhSearchType.equals("2")'><!-- 접속일자 -->
					<if test="srhSearchStartYmd != null or srhSearchEndYmd != null">
					   AND EXISTS (
					   		SELECT 1
					   		  FROM irsuser.USER_CNTN_DSCTN UC
					   		 WHERE UC.USER_ID = U.USER_ID
					   		   AND UC.DEL_YN = 'N'
						<if test="srhSearchStartYmd != null and !srhSearchStartYmd.equals('')">
					   		   AND UC.CNTN_YMD <![CDATA[>=]]> #{srhSearchStartYmd}
						</if>
						<if test="srhSearchEndYmd != null and !srhSearchEndYmd.equals('')">
					   		   AND UC.CNTN_YMD <![CDATA[<=]]> #{srhSearchEndYmd}
						</if>
					   )
					</if>
				</if>
					 ORDER BY IB.INST_CLSF_CD, IB.BZENT_CL_CD, IB.BZENT_NM, U.USER_CL_CD DESC, U.FLNM			<!-- 기관분류 + 사업체구분 + 사업체명 + 계정구분(계정대표자가 계정관리인보다 먼저 출력되도록) + 성명 순으로 -->
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [관리자] 사업수행자관리 > 사용자관리 > 사용자관리 - 상세조회 - 사업체정보 -->
	<select id="selectInstDetail" resultType="egovMap" parameterType="map">
		/* AdmUserMngMapper.selectInstDetail */
		SELECT IB.INST_MGNO                                                                                         /* 기관관리번호 */
			 , IB.INST_CLSF_CD                                                                                      /* 기관분류코드 */
			 , IB.INST_DTLS_CLSF_CD                                                                                 /* 기관세부분류코드 */
			 , IB.GOV_INST_YN                                                                                       /* 정부기관여부 */
			 , IB.ACNT_STTS_CL_CD                                                                                   /* 계정상태구분코드 */
			 , IB.BZENT_NM                                                                                          /* 사업체명 */
			 , IB.BZENT_CL_CD                                                                                       /* 사업체구분코드 */
			 , IB.CRNO                                                                                              /* 법인등록번호 */
			 , IB.BRNO                                                                                              /* 사업자등록번호 */
			 , IB.RPRSV_NM                                                                                          /* 대표자명 */
			 , IB.CORP_TEL_DDD                                                                                      /* 법인전화지역번호 */
			 , IB.CORP_TEL_TLPNO                                                                                    /* 법인전화국번호 */
			 , IB.CORP_TEL_PHINO                                                                                    /* 법인전화개별번호 */
			 , IB.CORP_TEL_DDD || '-' || IB.CORP_TEL_TLPNO || '-' || IB.CORP_TEL_PHINO  AS FULL_CORP_TEL_NO         /* 전체법인전화번호 */
			 , IB.RDNM_CD                                                                                           /* 도로명코드 */
			 , IB.ADDR                                                                                              /* 주소 */
			 , IB.DTL_ADDR                                                                                          /* 상세주소 */
			 , IB.UP_INST_MGNO                                                                                      /* 상위기관관리번호 */
			 , UIB.BZENT_NM                                                      AS UP_INST_NM						/* 상위기관명 */
			 , irsuser.fn_get_codenm('BZENT_CL_CD', IB.BZENT_CL_CD)              AS BZENT_CL_CD_NM					/* 사업체구분코드명 */
			 , irsuser.fn_get_codenm('INST_CLSF_CD', IB.INST_CLSF_CD)            AS INST_CLSF_CD_NM					/* 기관분류코드명 */
			 , CASE WHEN IB.GOV_INST_YN = 'Y' THEN '여' ELSE '부' END            AS GOV_INST_YN_NM					/* 정부기관여부명 */
			 , irsuser.fn_get_codenm('ACNT_STTS_CL_CD', IB.ACNT_STTS_CL_CD)      AS ACNT_STTS_CL_CD_NM				/* 기관계정상태구분코드명 */
			 , IB.BRDOC_FLMNO                                                                                       /* 사업자등록증파일번호 */
			 , (
			 	SELECT COALESCE(ARRAY_TO_STRING(ARRAY_AGG(FD.FILE_MGNO),  ','), '') AS BRDOC_FLMNO_FILE_MGNO 
			 	  FROM irsuser.COM_FILE_DTL FD
			 	 WHERE FD.FILE_GROUP_MGNO = IB.BRDOC_FLMNO
			 	   AND FD.DEL_YN = 'N'
			 ) AS BRDOC_FLMNO_FILE_MGNO
		  FROM irsuser.USER_BSC U
		 INNER JOIN irsuser.INST_BSC IB
		    ON IB.INST_MGNO = U.UP_INST_MGNO
		   AND IB.DEL_YN = 'N'
		 INNER JOIN irsuser.INST_BSC UIB
		    ON UIB.INST_MGNO = U.UP_INST_MGNO
		   AND UIB.DEL_YN = 'N'
		 WHERE U.DEL_YN = 'N'
		   AND U.USER_ID = #{userId}
	</select>
	
	<!-- [관리자] 사업수행자관리 > 사용자관리 > 사용자관리 - 상세조회 - 사용자정보 -->
	<select id="selectUserDetail" resultType="egovMap" parameterType="map">
		/* AdmUserMngMapper.selectUserDetail */
		SELECT U.USER_ID                                                                                    /* 사용자ID */
			 , U.ACNT_STTS_CL_CD                                                                            /* 계정상태구분코드 */
			 , irsuser.fn_get_codenm('ACNT_STTS_CL_CD', U.ACNT_STTS_CL_CD ) AS ACNT_STTS_CL_CD_NM           /* 계정상태구분코드명 */
			 , (
			 	SELECT
			 		COALESCE(
			 			(
					 	SELECT A.FLNM
					 	  FROM irsuser.USER_BSC A
						 INNER JOIN irsuser.USER_APLY_BSC B
						    ON B.RGTR_ID = A.USER_ID
						   AND B.USER_ID = 'UR00000006'
						   AND A.DEL_YN = 'N'
						   AND B.DEL_YN = 'N'
					   ), '')
			 ) AS DLBR_USER_NM                                                                              /* 승인처리자 */
			 , U.LGN_ID                                                                                     /* 아이디 */
			 , U.FLNM                                                                                       /* 이름 */
			 , U.USER_CL_CD                                                                                 /* 계정구분 */
			 , irsuser.fn_get_codenm('USER_CL_CD', U.USER_CL_CD ) AS USER_CL_CD_NM                          /* 계정구분명 */
			 , U.DEPT_NM                                                                                    /* 부서명 */
			 , U.JBPS_NM                                                                                    /* 직위 */
			 , U.TEL_DDD                                                                                    /* 전화지역번호 */
			 , U.TEL_TLPNO                                                                                  /* 전화국번호 */
			 , U.TEL_PHINO                                                                                  /* 전화개별번호 */
			 , U.TEL_DDD || '-' || U.TEL_TLPNO || '-' || U.TEL_PHINO             AS FULL_TEL_NO             /* 전체전화번호 */
			 , U.HDPON_DDD                                                                                  /* 핸드폰지역번호 */
			 , U.HDPON_TLPNO                                                                                /* 핸드폰국번호 */
			 , U.HDPON_PHINO                                                                                /* 핸드폰개별번호 */
			 , U.FAX_DDD                                                                                    /* 팩스지역번호 */
			 , U.FAX_TLPNO                                                                                  /* 팩스국번호 */
			 , U.FAX_PHINO                                                                                  /* 팩스개별번호 */
			 , U.FAX_DDD || '-' || U.FAX_TLPNO || '-' || U.FAX_PHINO             AS FULL_FAX_NO             /* 전체팩스번호 */
			 , U.EML_ID                                                                                     /* 이메일ID */
			 , U.EML_ADDR                                                                                   /* 이메일주소 */
			 , U.EML_ID || '@' || U.EML_ADDR                                      AS EML_FULL_ADDR			/* 이메일전체주소 */
			 , U.SMS_NTI_YN                                                                                 /* sms수신동의 */
			 , U.APRV_YMD                                                                                   /* 승인일자(=가입일자) */
			 , TO_CHAR(U.LAST_CNTN_DT, 'yyyyMMdd') AS LAST_CNTN_YMD                                         /* 최종접속일시 */
			 , U.LGN_FAIL_CNT                                                                               /* 로그인실패횟수 */
			 , TO_CHAR(U.LAST_LGN_FAIL_DT, 'yyyyMMdd') AS LAST_LGN_FAIL_YMD                                 /* 최종로그인실패일자 */
			 , TO_CHAR(U.PSWD_CHG_DT, 'yyyyMMdd') AS PSWD_CHG_YMD                                           /* 비밀번호갱신일자 */
			 , U.USER_CERT_YN                                                                               /* 본인인증여부 */
			 , CASE WHEN U.USER_CERT_YN = 'Y' THEN '여' ELSE '부' END            AS USER_CERT_YN_NM			/* 본인인증여부명 */
			 , U.LGN_SCS_CNT                                                                                /* 로그인성공횟수 */
		  FROM irsuser.USER_BSC U
		 WHERE U.DEL_YN = 'N'
		   AND U.USER_ID = #{userId}
	</select>
	
	<!-- [관리자] 사업수행자관리 > 사용자관리 > 사용자관리 - 사용자 변경 이력 목록조회 총건수 조회 -->
	<select id="selectUserChgHstryListCnt" resultType="int" parameterType="map">
		/* AdmUserMngMapper.selectUserChgHstryListCnt */
		SELECT COUNT(*)
		  FROM irsuser.USER_CHG_HSTRY H
		 INNER JOIN irsuser.USER_BSC P
		    ON P.USER_ID = H.PRCS_USER_ID
		   AND P.DEL_YN = 'N'
		 WHERE H.DEL_YN = 'N'
		   AND H.USER_ID = #{srhUserId}
	</select>
	
	<!-- [관리자] 사업수행자관리 > 사용자관리 > 사용자관리 - 사용자 변경 이력 목록조회 -->
	<select id="selectUserChgHstryList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* AdmUserMngMapper.selectUserChgHstryList */
		SELECT H.CHG_ARTCL_SN                                                        /* 변경항목일련번호 */
			 , P.USER_CL_CD                        AS PRCS_USER_CL_CD                /* 처리자사용자구분코드 */
			 , P.FLNM AS PRCS_USER_NM                                                /* 처리자사용자명 */
			 , H.CHG_ARTCL_NM                                                        /* 변경항목명 */
			 , H.BCHG_CN                                                             /* 변경전내용 */
			 , H.ACHG_CN                                                             /* 변경후내용 */
			 , H.CHG_CL_CD                                                           /* 변경구분코드 */
			 , TO_CHAR(H.CHG_DT, 'yyyyMMddHHmmss') AS CHG_DT                         /* 변경일시 */
			 , P.INST_MGNO                         AS PRCS_INST_MGNO                 /* 처리기관관리번호 */
			 , P.USER_ID                           AS PRCS_USER_ID                   /* 처리사용자ID */
		  FROM irsuser.USER_CHG_HSTRY H
		 INNER JOIN irsuser.USER_BSC P
		    ON P.USER_ID = H.PRCS_USER_ID
		   AND P.DEL_YN = 'N'
		 WHERE H.DEL_YN = 'N'
		   AND H.USER_ID = #{srhUserId}
		 ORDER BY H.CHG_DT DESC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>
	
	<!-- [관리자] 사업수행자관리 > 사용자관리 > 사용자관리 - 계정상태변경 수정하기 - 사용자변경이력 저장 - INSERT -->
	<!-- [관리자] 사업수행자관리 > 사용자관리 > 사용자관리 - 휴대폰번호 수정하기 - 사용자변경이력 저장 - INSERT -->
	<!-- [관리자] 사업수행자관리 > 사용자관리 > 사용자관리 - SMS수신동의 수정하기 - 사용자변경이력 저장 - INSERT -->
	<!-- [관리자] 사업수행자관리 > 사용자관리 > 사용자관리 - 비밀번호 초기화 - 사용자변경이력 저장 - INSERT -->
	<insert id="insertUserChgHstry" parameterType="map">
		<selectKey keyProperty="chgArtclSn" resultType="int" order="BEFORE">
			/* AdmUserMngMapper.insertUserChgHstry.selectKey */
			SELECT
				COALESCE(MAX(CHG_ARTCL_SN), 0) + 1
			FROM
				irsuser.USER_CHG_HSTRY
		 	WHERE USER_ID = #{userId}
		</selectKey>
		/* AdmUserMngMapper.insertUserChgHstry */
		INSERT
		  INTO irsuser.USER_CHG_HSTRY
			 ( USER_ID                           /* 사용자ID */
			 , CHG_ARTCL_SN                      /* 변경항목일련번호 */
			 , CHG_CL_CD                         /* 변경구분코드 */
			 , CHG_ARTCL_NM                      /* 변경항목명 */
			 , BCHG_CN                           /* 변경전내용 */
			 , ACHG_CN                           /* 변경후내용 */
			 , CHG_DT                            /* 변경일시 */
			 , PRCS_INST_MGNO                    /* 처리기관관리번호 */
			 , PRCS_USER_ID                      /* 처리사용자ID */
			 , DEL_YN                            /* 삭제여부 */
			 , RGTR_ID                           /* 등록자ID */
			 , REG_DT                            /* 등록일시 */
			<if test="instMgno != null and !instMgno.equals('')">
			 , INST_MGNO
			</if>
			<if test="chgMgno != null and !chgMgno.equals('')">
			 , CHG_MGNO
			</if>
			 )
			 ( SELECT #{userId}
				    , #{chgArtclSn}
				    , 'CCC0002'                         /* 사용자정보 */
				    , #{chgArtclNm}
				<choose>
					<when test="type == 1"><!-- 계정상태변경 수정하기 -->
					    , irsuser.fn_get_codenm('ACNT_STTS_CL_CD', ACNT_STTS_CL_CD)
					    , irsuser.fn_get_codenm('ACNT_STTS_CL_CD', #{achgCn})
					</when>
					<when test="type == 2"><!-- 휴대폰번호 수정하기 -->
					    , HDPON_DDD || '-' || HDPON_TLPNO || '-' || HDPON_PHINO
					    , #{achgCn}
					</when>
					<when test="type == 3"><!-- SMS수신동의 수정하기 -->
					    , (CASE WHEN SMS_NTI_YN = 'Y' THEN '동의' ELSE '미동의' END)
					    , #{achgCn}
					</when>
					<when test="type == 4"><!-- 비밀번호 초기화 -->
					    , PSWD
					    , #{achgCn}
					</when>
					<when test="type == 5"><!-- 계정담당자정보 -->
						<choose>
							<when test='chgClCd == "CCC0003" and chgArtclFieldNm == "userClCd"'>
								 , irsuser.fn_get_codenm('USER_CL_CD', #{bchgCn})
								 , irsuser.fn_get_codenm('USER_CL_CD', #{achgCn})
							</when>
							<when test='chgClCd == "CCC0003" and chgArtclFieldNm == "acntSttsClCd"'>
								 , irsuser.fn_get_codenm('ACNT_STTS_CL_CD', #{bchgCn})
								 , irsuser.fn_get_codenm('ACNT_STTS_CL_CD', #{achgCn})
							</when>
							<otherwise>
								 , #{bchgCn}
								 , #{achgCn}
							</otherwise>
						</choose>
					</when>
					<otherwise>
					    , #{bchgCn}
					    , #{achgCn}
					</otherwise>
				</choose>
				    , CURRENT_TIMESTAMP
				    , #{prcsInstMgno}
				    , #{sUserId}
				    , 'N'
				    , #{sUserId}
				    , CURRENT_TIMESTAMP
					<if test="instMgno != null and !instMgno.equals('')">
					 , #{instMgno}
					</if>
					<if test="chgMgno != null and !chgMgno.equals('')">
					 , #{chgMgno}
					</if>
				 FROM irsuser.USER_BSC
				WHERE USER_ID = #{userId}
			 )
	</insert>

	<!-- [관리자] 사업수행자관리 > 사용자관리 > 사용자관리 - 계정상태변경 수정하기 - 사용자정보 수정 - UPDATE -->
	<!-- [관리자] 사업수행자관리 > 사용자관리 > 사용자관리 - 휴대폰번호 수정하기 - 사용자정보 수정 - UPDATE -->
	<!-- [관리자] 사업수행자관리 > 사용자관리 > 사용자관리 - SMS수신동의 수정하기 - 사용자정보 수정 - UPDATE -->
	<!-- [관리자] 사업수행자관리 > 사용자관리 > 사용자관리 - 비밀번호 초기화 - 사용자정보 수정 - UPDATE -->
	<update id="updateUserInfo" parameterType="map">
		/* AdmUserMngMapper.updateUserInfo */
		UPDATE irsuser.USER_BSC
		   SET MDFR_ID = #{sUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		<if test="type == 1"><!-- 계정상태변경 수정하기 -->
		     , ACNT_STTS_CL_CD = #{acntSttsClCd}
		</if>
		<if test="type == 2"><!-- 휴대폰번호 수정하기 -->
		     , HDPON_DDD = #{hdponDdd}
		     , HDPON_TLPNO = #{hdponTlpno}
		     , HDPON_PHINO = #{hdponPhino}
		</if>
		<if test="type == 3"><!-- SMS수신동의 수정하기 -->
		     , SMS_NTI_YN = #{smsNtiYn}
		</if>
		<if test="type == 4"><!-- 비밀번호 초기화 -->
		     , PSWD = #{encptPswd}
		</if>
		 WHERE USER_ID = #{userId}
	</update>

	
</mapper>
