<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.adm.user.mapper.AdmUserMngMapper">
	
	<!-- [관리자] 사업수행자관리 > 사용자관리 > 사용자관리 - 목록조회 총건수 조회 -->
	<select id="selectUserMngListCnt" resultType="int" parameterType="map">
		/* AdmUserMngMapper.selectUserMngListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [관리자] 사업수행자관리 > 사용자관리 > 사용자관리 - 목록조회 -->
	<select id="selectUserMngList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* AdmUserMngMapper.selectUserMngList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [관리자] 사업수행자관리 > 사용자관리 > 사용자관리 - 상세조회 -->
	<select id="selectUserMngDetail" resultType="egovMap" parameterType="map">
		/* AdmUserMngMapper.selectUserMngDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 사업수행자관리 > 사용자관리 > 사용자관리 - 등록 -->
	<insert id="insertUserMng" parameterType="map">
		/* AdmUserMngMapper.insertUserMng */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 사업수행자관리 > 사용자관리 > 사용자관리 - 수정 -->
	<update id="updateUserMng" parameterType="map">
		/* AdmUserMngMapper.updateUserMng */
		UPDATE irsuser.TEMP_TABLE
		   SET COL = #{col}
		     , MDFR_ID = #{sessionUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE CONDITION = #{condition}
	</update>


	
</mapper>
