<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.core.client.mapper.ClientMapper">
	
	<!-- 사용자 접속정보 등록 -->
	<insert id="insertClientDtl" parameterType="gov.me.irs.core.client.vo.ClientVo">
		<selectKey keyProperty="sn" resultType="int" order="BEFORE">
			/* ClientMapper.insertClientDtl.selectKey */
			SELECT COALESCE(MAX(SN), 0) + 1 FROM irsuser.USER_CNTN_DSCTN
		</selectKey>
		/* ClientMapper.insertClientDtl */
		INSERT
		  INTO irsuser.USER_CNTN_DSCTN
			 ( SN
			 , USER_ID
			 , USER_CL_CD
			 , LGN_ID
			 , LGN_SCS_YN
			 , IP_ADDR
			 , BRWS_NM
			 , OS_NM
			 , CNTN_YM
			 , CNTN_YMD
			 , CNTN_HR
			 , DEL_YN
			 , RGTR_ID
			 , REG_DT
			 )
			 ( SELECT #{sn}
				   , (SELECT USER_ID FROM irsuser.USER_BSC WHERE LGN_ID = #{username})
				   , (SELECT USER_CL_CD FROM irsuser.USER_BSC WHERE LGN_ID = #{username})
				   , #{username}
				   , #{lgnScsYn}
				   , #{ip}
				   , #{browser}
				   , #{os}
				   , TO_CHAR(CURRENT_TIMESTAMP, 'yyyyMM')
				   , TO_CHAR(CURRENT_TIMESTAMP, 'yyyyMMdd')
				   , TO_CHAR(CURRENT_TIMESTAMP, 'HHmmss')
				   , 'N'
				   , COALESCE((SELECT USER_ID FROM irsuser.USER_BSC WHERE LGN_ID = #{username}), 'SYSTEM')
				   , CURRENT_TIMESTAMP
			 )
	</insert>
	
</mapper>
