<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.admin.mnm.mapper.MnmMapper">
	
	<!-- 메뉴기본 목록조회 -->
	<select id="selectMenuList" resultType="egovMap" parameterType="map">
		/* MnmMapper.selectMenuList */
		<include refid="gov.me.irs.common.TreeMenuMapper.treeMenuSql" />
		SELECT W.MENU_ID
			 , W.UP_MENU_ID
			 , W.MENU_CL_CD
			 , W.MENU_NM
			 , W.MENU_EXPLN
			 , W.MENU_URL_ADDR
			 , W.MENU_LVL
			 , W.SORT_SEQO
			 , W.SYS_CL_CD
			 , W.PTH
		  FROM WITH_MENU_LIST W
		 WHERE W.MENU_LVL > 0
		 ORDER BY W.PTH
	</select>
	
	<!-- 메뉴기본 상세조회 -->
	<select id="selectMenu" resultType="egovMap" parameterType="map">
		/* MnmMapper.selectMenu */
		SELECT MENU_ID
			 , UP_MENU_ID
			 , MENU_CL_CD
			 , MENU_NM
			 , MENU_EXPLN
			 , MENU_URL_ADDR
			 , MENU_LVL
			 , SORT_SEQO
			 , USE_YN
			 , SYS_CL_CD
			 , RGTR_ID
			 , TO_CHAR(R.REG_DT, 'yyyyMMddHHmmss') AS REG_DT
			 , MDFR_ID
			 , TO_CHAR(R.MDFCN_DT, 'yyyyMMddHHmmss') AS MDFCN_DT
		  FROM irs_user.MENU_BSC
		 WHERE MENU_ID = #{menuId}
	</select>
	
	<!-- 상위메뉴 메뉴구분정보 수정 -->
	<update id="updateUpMenuSeCd" parameterType="map">
		/* MnmMapper.updateUpMenuSeCd */
		UPDATE irs_user.MENU_BSC
		   SET MENU_CL_CD = #{menuClCd}
			 , MDFR_ID     = #{sessionUserId}
			 , MDFCN_DT     = CURRENT_TIMESTAMP
		 WHERE MENU_ID = #{upMenuId}
	</update>
	
	<!-- 메뉴기본 등록 -->
	<insert id="insertMenu" parameterType="map">
		/* MnmMapper.insertMenu */
		<selectKey keyProperty="menuId" resultType="string" order="BEFORE">
			/* MnmMapper.insertMenu.selectKey */
			<!-- 총길이 12, 3번째부터 cutting --> 
			SELECT CONCAT( LEFT(#{upMenuId}, 3)
						 , LPAD( CAST(CAST(COALESCE(MAX(SUBSTRING(MENU_ID, (3 + 1), 12)), '0') AS INTEGER) + 1 AS TEXT)
							   , 12 - 3
							   , '0'
						   )
				   )
			FROM irs_user.MENU_BSC
			
		</selectKey>
		/* MnmMapper.insertMenu */
		INSERT
		  INTO irs_user.MENU_BSC
		     ( MENU_ID
			 , UP_MENU_ID
			 , MENU_CL_CD
			 , MENU_NM
			 , MENU_EXPLN
			 , MENU_URL_ADDR
			 , MENU_LVL
			 , SORT_SEQO
			 , SYS_CL_CD
			 , USE_YN
			 , RGTR_ID
			 )
			 (SELECT #{menuId}
				   , #{upMenuId}
				   , #{menuClCd}
				   , #{menuNm}
				   , #{menuExpln}
				   , #{menuUrlAddr}
				   , #{menuLvl}+1
				   , COALESCE(MAX(SORT_SEQO), 0)+1
				   , #{sysClCd}
				   , #{useYn}
				   , #{sessionUserId}
				FROM irs_user.MENU_BSC
			   WHERE UP_MENU_ID = #{upMenuId}
			 )
	</insert>
	
	<!-- 메뉴기본 수정 -->
	<update id="updateMenu" parameterType="map">
		/* MnmMapper.updateMenu */
		UPDATE irs_user.MENU_BSC
		   SET MENU_NM   = #{menuNm}
			 , MENU_EXPLN = #{menuExpln}
			 , MENU_URL_ADDR  = #{menuUrlAddr}
			 , USE_YN    = #{useYn}
			 , MDFR_ID    = #{sessionUserId}
			 , MDFCN_DT    = CURRENT_TIMESTAMP
		 WHERE UP_MENU_ID = #{upMenuId}
		   AND MENU_ID = #{menuId}
	</update>
	
	<!-- 메뉴기본 삭제 - 기준점포함, 하위 모두 삭제처리 -->
	<update id="deleteMenu" parameterType="map">
		/* MnmMapper.deleteMenu */
		<include refid="gov.me.irs.common.TreeMenuMapper.treeMenuSql" />
		UPDATE irs_user.MENU_BSC M
		   SET M.DEL_YN   = 'Y'
			 , M.MDFR_ID   = #{sessionUserId}
			 , M.MDFCN_DT   = CURRENT_TIMESTAMP
			 , M.SORT_SEQO  = -1				/* 삭제시 최소값 설정 */
		 WHERE M.MENU_ID IN (SELECT W.MENU_ID
							   FROM WITH_MENU_LIST W
							  WHERE W.MENU_LVL > 0)
	</update>
	
</mapper>
