<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.adm.agrstipl.mapper.AdmAgrStiplMngMapper">
	
	<!-- [관리자] 협정.약정관리 > 협정약정 관리 - 협정목록조회 총건수 조회 -->
	<select id="selectAgrMngListCnt" resultType="int" parameterType="map">
		/* AdmAgrStiplMngMapper.selectAgrMngListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [관리자] 협정.약정관리 > 협정약정 관리 - 협정목록조회 -->
	<select id="selectAgrMngList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* AdmAgrStiplMngMapper.selectAgrMngList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [관리자] 협정.약정관리 > 협정약정 관리 - 협정상세조회 -->
	<select id="selectAgrMngDetail" resultType="egovMap" parameterType="map">
		/* AdmAgrStiplMngMapper.selectAgrMngDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 협정.약정관리 > 협정약정 관리 - 협정등록 -->
	<insert id="insertAgrMng" parameterType="map">
		/* AdmAgrStiplMngMapper.insertAgrMng */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 협정.약정관리 > 협정약정 관리 - 협정공통조회 -->
	<select id="selectAgrSrhList" resultType="egovMap" parameterType="map">
		/* AdmAgrStiplMngMapper.selectAgrSrhList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>

	<!-- [관리자] 협정.약정관리 > 협정약정 관리 - 협정수정 -->
	<update id="updateAgrMng" parameterType="map">
		/* AdmAgrStiplMngMapper.updateAgrMng */
		UPDATE irsuser.TEMP_TABLE
		   SET COL = #{col}
		     , MDFR_ID = #{sessionUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE CONDITION = #{condition}
	</update>

	<!-- [관리자] 협정.약정관리 > 협정약정 관리 - 협정이력조회 -->
	<select id="selectAgrMngHistList" resultType="egovMap" parameterType="map">
		/* AdmAgrStiplMngMapper.selectAgrMngHistList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>

	<!-- [관리자] 협정.약정관리 > 협정약정 관리 - 약정목록조회 총건수 조회 -->
	<select id="selectStiplMngListCnt" resultType="int" parameterType="map">
		/* AdmAgrStiplMngMapper.selectStiplMngListCnt */
		SELECT COUNT(*)
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
	</select>
	
	<!-- [관리자] 협정.약정관리 > 협정약정 관리 - 약정목록조회 -->
	<select id="selectStiplMngList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* AdmAgrStiplMngMapper.selectStiplMngList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>

	<!-- [관리자] 협정.약정관리 > 협정약정 관리 - 약정상세조회 -->
	<select id="selectStiplMngDetail" resultType="egovMap" parameterType="map">
		/* AdmAgrStiplMngMapper.selectStiplMngDetail */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE CONDITION = #{condition}
	</select>

	<!-- [관리자] 협정.약정관리 > 협정약정 관리 - 약정등록 -->
	<insert id="insertStiplMng" parameterType="map">
		/* AdmAgrStiplMngMapper.insertStiplMng */
		INSERT
		  INTO irsuser.TEMP_TABLE
			 ( COL
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{col}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>

	<!-- [관리자] 협정.약정관리 > 협정약정 관리 - 약정수정 -->
	<update id="updateStiplMng" parameterType="map">
		/* AdmAgrStiplMngMapper.updateStiplMng */
		UPDATE irsuser.TEMP_TABLE
		   SET COL = #{col}
		     , MDFR_ID = #{sessionUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE CONDITION = #{condition}
	</update>

	<!-- [관리자] 협정.약정관리 > 협정약정 관리 - 국가공통조회 -->
	<select id="selectNtnCdSrhList" resultType="egovMap" parameterType="map">
		/* AdmAgrStiplMngMapper.selectNtnCdSrhList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>

	<!-- [관리자] 협정.약정관리 > 협정약정 관리 - 약정이력조회 -->
	<select id="selectStiplMngHistList" resultType="egovMap" parameterType="map">
		/* AdmAgrStiplMngMapper.selectStiplMngHistList */
		SELECT '컬럼정보' AS COL
		  FROM irsuser.TEMP_TABLE
		 WHERE 1 = 1
		 ORDER BY TEMP_SEQ ASC
	</select>


	
</mapper>
