<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gov.me.irs.admin.bbm.mapper.BbmMapper">
	
	<!-- 게시판그룹기본 목록 총건수 조회 -->
	<select id="selectBbsGroupListCnt" resultType="int" parameterType="map">
		/* BbmMapper.selectBbsGroupListCnt */
		SELECT COUNT(*)
		  FROM irs_user.BBS_GROUP_BSC
		 WHERE 1 = 1
		   AND DEL_YN = 'N'
		<if test="bbsGroupId != null and !bbsGroupId.equals('')">
		   AND BBS_GROUP_ID LIKE CONCAT('%', #{bbsGroupId}, '%')
		</if>
		<if test="bbsGroupNm != null and !bbsGroupNm.equals('')">
		   AND BBS_GROUP_NM LIKE CONCAT('%', #{bbsGroupNm}, '%')
		</if>
		<if test="useYn != null and !useYn.equals('')">
		   AND USE_YN = #{useYn}
		</if>
	</select>
	
	<!-- 게시판그룹기본 목록 조회 -->
	<select id="selectBbsGroupList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* BbmMapper.selectBbsGroupList */
		SELECT BBS_GROUP_ID										/* 게시판그룹 */
			 , BBS_GROUP_NM									/* 게시판그룹명 */
			 , BBS_GROUP_EXPLN									/* 게시판그룹설명 */
			 , USE_YN											/* 사용여부 */		
		  FROM irs_user.BBS_GROUP_BSC
		 WHERE 1 = 1
		   AND DEL_YN = 'N'
		<if test="bbsGroupId != null and !bbsGroupId.equals('')">
		   AND BBS_GROUP_ID LIKE CONCAT('%', #{bbsGroupId}, '%')
		</if>
		<if test="bbsGroupNm != null and !bbsGroupNm.equals('')">
		   AND BBS_GROUP_NM LIKE CONCAT('%', #{bbsGroupNm}, '%')
		</if>
		<if test="useYn != null and !useYn.equals('')">
		   AND USE_YN = #{useYn}
		</if>
		 ORDER BY BBS_GROUP_ID ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>
	
	<!-- 게시판그룹기본 중복 조회 -->
	<select id="selectBbsGroup" resultType="int" parameterType="map">
		/* BbmMapper.selectBbsGroup */
		SELECT COUNT(*) AS CNT FROM irs_user.BBS_GROUP_BSC WHERE BBS_GROUP_ID = #{bbsGroupId} AND DEL_YN = 'N'
	</select>
	
	<!-- 게시판그룹기본 등록 -->
	<insert id="insertBbsGroup" parameterType="map">
		/* BbmMapper.insertBbsGroup */
		INSERT
		  INTO irs_user.BBS_GROUP_BSC
			 ( BBS_GROUP_ID
			 , BBS_GROUP_NM
			 , BBS_GROUP_EXPLN
			 , USE_YN
			 , RGTR_ID
			 )
		VALUES
			 ( #{bbsGroupId}
			 , #{bbsGroupNm}
			 , #{bbsGroupExpln}
			 , #{useYn}
			 , #{sessionUserId}
			 )
	</insert>
	
	<!-- 게시판그룹기본 수정 -->
	<update id="updateBbsGroup" parameterType="map">
		/* BbmMapper.updateBbsGroup */
		UPDATE irs_user.BBS_GROUP_BSC
		   SET BBS_GROUP_NM = #{bbsGroupNm}
		     , BBS_GROUP_EXPLN = #{bbsGroupExpln}
		     , USE_YN = #{useYn}
		     , MDFR_ID = #{sessionUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE BBS_GROUP_ID = #{bbsGroupId}
	</update>
	
	<!-- 게시판그룹기본 삭제 -->
	<update id="deleteBbsGroup" parameterType="map">
		/* BbmMapper.deleteBbsGroup */
		UPDATE irs_user.BBS_GROUP_BSC
		   SET DEL_YN = 'Y'
		     , MDFR_ID = #{sessionUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE BBS_GROUP_ID = #{bbsGroupId}
	</update>
	
	<!-- 게시판상세 목록 총건수 조회 -->
	<select id="selectBbsListCnt" resultType="int" parameterType="map">
		/* BbmMapper.selectBbsListCnt */
		SELECT COUNT(*)
		  FROM irs_user.BBS_DTL_SN C
		 INNER JOIN irs_user.BBS_GROUP_BSC G
		    ON G.BBS_GROUP_ID = C.BBS_GROUP_ID
		   AND G.BBS_GROUP_ID = #{bbsGroupId}
		 WHERE 1 = 1
		   AND C.DEL_YN = 'N'
		   AND G.DEL_YN = 'N'
		<if test="pstatNm != null and !pstatNm.equals('')">
		   AND PSTAT_NM LIKE CONCAT('%', #{pstatNm}, '%')
		</if>
		<if test="useYn != null and !useYn.equals('')">
		   AND C.USE_YN = #{useYn}
		</if>
	</select>
	
	<!-- 게시판상세 목록 조회 -->
	<select id="selectBbsList" resultType="egovMap" parameterType="map">
		<include refid="gov.me.irs.common.PagingMapper.pagingPreSql" />
		/* BbmMapper.selectBbsList */
		SELECT BBS_GROUP_ID
			 , BBS_SN
			 , PSTAT_NM
			 , USE_YN
		  FROM irs_user.BBS_DTL_SN C
		 INNER JOIN irs_user.BBS_GROUP_BSC G
		    ON G.BBS_GROUP_ID = C.BBS_GROUP_ID
		   AND G.BBS_GROUP_ID = #{bbsGroupId}
		 WHERE 1 = 1
		   AND C.DEL_YN = 'N'
		   AND G.DEL_YN = 'N'
		<if test="pstatNm != null and !pstatNm.equals('')">
		   AND PSTAT_NM LIKE CONCAT('%', #{pstatNm}, '%')
		</if>
		<if test="useYn != null and !useYn.equals('')">
		   AND C.USE_YN = #{useYn}
		</if>
		 ORDER BY C.BBS_SN ASC
		<include refid="gov.me.irs.common.PagingMapper.pagingPostSql" />
	</select>
	
	<!-- 게시판상세 상세 조회 -->
	<select id="selectBbsDtl" resultType="egovMap" parameterType="map">
		/* BbmMapper.selectBbsDtl */
		SELECT BBS_GROUP_ID
			 , BBS_SN
			 , PSTAT_NM
			 , PSTAT_CN
			 , USE_YN
		  FROM irs_user.BBS_DTL_SN C
		 INNER JOIN irs_user.BBS_GROUP_BSC G
		    ON G.BBS_GROUP_ID = C.BBS_GROUP_ID
		   AND G.BBS_GROUP_ID = #{bbsGroupId}
		 WHERE 1 = 1
		   AND C.DEL_YN = 'N'
		   AND G.DEL_YN = 'N'
		   AND BBS_SN = #{bbsSn}
	</select>
	
	<!-- 게시판상세 등록 -->
	<insert id="insertBbs" parameterType="map">
		/* BbmMapper.insertBbs */
		INSERT
		  INTO irs_user.BBS_DTL
			 ( BBS_GROUP_ID
			 , BBS_SN
			 , PSTAT_NM
			 , PSTAT_CN
			 , USE_YN
			 , RGTR_ID
			 )
			 (SELECT #{bbsGroupId}
				   , COALESCE(MAX(BBS_SN), 0)+1
				   , #{pstatNm}
				   , #{pstatCn}
				   , #{useYn}
				   , #{sessionUserId}
				FROM irs_user.BBS_DTL
			   WHERE BBS_GROUP_ID = #{bbsGroupId}
			 )
	</insert>
	
	<!-- 게시판상세 수정 -->
	<update id="updateBbs" parameterType="map">
		/* BbmMapper.updateBbs */
		UPDATE irs_user.BBS_DTL
		   SET PSTAT_NM = #{pstatNm}
		     , PSTAT_CN = #{pstatCn}
		     , USE_YN = #{useYn}
		     , MDFR_ID = #{sessionUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE BBS_GROUP_ID = #{bbsGroupId}
		   AND BBS_SN = #{bbsSn}
	</update>
	
	<!-- 게시판상세 삭제 -->
	<update id="deleteBbs" parameterType="map">
		/* BbmMapper.deleteBbs */
		UPDATE irs_user.BBS_DTL
		   SET DEL_YN = 'Y'
		     , MDFR_ID = #{sessionUserId}
		     , MDFCN_DT = CURRENT_TIMESTAMP
		 WHERE BBS_GROUP_ID = #{bbsGroupId}
		   AND BBS_SN = #{bbsSn}
	</update>
	
</mapper>
